<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head.ejs') %>
        <title>Blissenet Admin</title>

</head>
<style>



@media screen and (min-width: 290px) and (max-width: 499px ){

 
}

</style>

<body class="mainTheme" style="max-width: 100vw; min-height: 100vh;">
    <main class="themaTextLight" style="max-width: 100% !important;">

        <%- include('../partials/navi-simple.ejs') %>

        
        <%# if (catchError){ %>
            <%#- include('../alert/catchError.ejs') %> 
        <%# }; %>

        <% if (user) { %>

            <div class="container-fluid d-flex justify-content-start py-2" style="background: linear-gradient(90deg, rgba(146,0,255,1) 0%, rgba(174,65,255,1) 50%, rgba(13,110,253,1) 100%);">
                <span class="ms-2 p-0" style="font-weight: 400; color: #ffde00;"> <b> Administración </b>  </span>
            </div>    
            
            <div class="container-fluid p-0">
                            
                <div class="row m-0 ">
                    <!-- style="background-color: #e9ecef;" -->
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 pt-3  px-1">
                                        
                        <% if (searchProfile) {  %>
                            <div class="card" style="background-color:  rgba(217, 223, 223, 0.2);">
                                <div class="card-body" >
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="segment"> <div> <img src="/img/icon_Segment.png" alt="" style="width: 30px; height: 30px;"> <span class="ms-2">Segmentación</span> </div>   <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" ></button>
                                    </div>
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="gestorADS"> <div><img src="/img/icon_GestorADS.png" alt="" style="width: 30px; height: 30px;">  <span class="ms-2">Gestor ADS</span>  </div> <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" > </button>
                                    </div>
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="carBuy" ><div><img src="/img/iconCardBuy.png" alt="" style="width: 30px; height: 30px;">  <span class="ms-2">Carrito de Compra</span>  </div> <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" > </button>
                                    </div>
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="raffle"><div><img src="/img/icon_Tickets.png" alt="" style="width: 30px; height: 30px;">  <span class="ms-2">Rifa</span>  </div> <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" > </button>
                                    </div>
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="agendaCRM"><div><img src="/img/icon_AgendaCRM.png" alt="" style="width: 30px; height: 30px;">  <span class="ms-2">Agenda CRM</span>  </div> <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" > </button>
                                    </div>
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="infoBliss"><div><img src="/img/icon_InfoBliss.png" alt="" style="width: 30px; height: 30px;">  <span class="ms-2">InfoBliss</span>  </div> <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" > </button>
                                    </div>
                                    <div class="form-group my-1">
                                        <button class="form-control d-flex justify-content-between align-items-center" id="manager"> <div> <img src="/img/icon_Analisis.png" alt="" style="width: 30px; height: 30px;">  <span class="ms-2">Gerencia de Análisis</span> </div>  <img  class="iconsAdmin" src="/img/right_arrow_icon.png" alt="" ></button>
                                    </div> 
                                </div>
                            </div>
                        <% } else { %>
                            
                        <% }; %>
    

                        <!-- seccion nombre de tienda -->
                        
                        <% const username = user.username %>
                        <% const indexed = user._id %> <!-- esto es igual al id user -->
                            
                    </div>

                        <!-- aqui estaran todos los modales informativos -->
                                        
                        <!-- Modal Agenda CRM --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticCRM" -->
                        <div class="modal fade" id="staticCRM" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelH4" aria-hidden="true">
                            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabelH4">Agenda CRM</h5>
                                        <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                                    </div>
                                    <div class="modal-body">
                                        <p><span class="fw-bold text-primary">Agrega la Agenda CRM</span>
                                            "¡Presentamos nuestra Agenda CRM! Organiza y gestiona tus contactos de manera eficiente con nuestro <b>Customer Relationship Management o Gestión de Relación con los Clientes</b>. Mantén un seguimiento de tus interacciones y mejora tus relaciones con los clientes, todo en un solo lugar."
                                        </p>
                                        <p> Requerimentos : <span class="alert-info py-1 px-2 rounded-2"> <b>1 Anuncio</b>  </span> </p>
                                        <p class="bg-dark text-info rounded-1 p-2"> <i class="bi bi-hourglass-split me-2"></i> Próximamente estará disponible. </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Gerencia Estado --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticEstado" -->
                        <div class="modal fade" id="staticEstado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelH4" aria-hidden="true">
                            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabelH4">Gerencia de Análisis.</h5>
                                        <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                                    </div>
                                    <div class="modal-body">
                                        <p><span class="fw-bold text-primary">Estados de Anuncios</span>
                                            "Esta sección les permite activar o desactivar anuncios según su necesidad. También pueden ocultar un anuncio de la tienda con un botón invisible, aunque seguirá visible en los mercados. La idea es mantener una tienda objetiva si vendes perfumes y quieres por necesidad anunciar un telefono usado puedes hacerlo sin que aparezca en tu tienda."
                                        </p>
                                        <div class="d-flex justify-content-center">
                                            <img src="/img/icon_Estado.png" alt="" style="width: 70px; height: 70px;">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                    <div class="col-lg-9 col-md-9 col-sm-12 col-12 pt-3 px-1">
                            
                    
                        <% if (searchProfile) {  %> <!-- cuenta con perfil -->
                            
                            <div class="content_segment">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);">

                                    <div class="cardSegmen p-3" style="width: 100%;">

                                        <div class="contentTitle d-flex justify-content-center border rounded-2 mx-2 p-2 cardAdmin">
                                            
                                            <div class="row">
                                                <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-12 col-12 d-flex justify-content-center ">
                                                    <div class="contentRight mx-2 p-1">
                                                        <img src="/img/icon_Segment.png" alt="" style="width: 110px; height: 110px;">
                                                    </div>
                                                </div>

                                                <div class="col-xxl-10 col-lg-10 col-md-10 col-sm-12 col-12 ">
                                                    <div class="contentLeft mx-2 d-flex align-items-start flex-column">
                                                        <h4> <b>Segmentar</b>  </h4>
                                                        <p> <b> ¡Segmenta tus publicaciones! </b> "Organiza tus anuncios en categorías personalizadas para facilitar la navegación en tu tienda virtual. Mejora la experiencia de tus clientes y haz que encuentren lo que buscan de manera más rápida y sencilla." </p>
                                                    </div>
                                                </div>    

                                            </div>    

                                        </div>
                                        <div class="form-group d-flex justify-content-center mt-1 px-2 py-3">
                                            <a href="/myaccount/segment" class="form-control btn btn-dark rounded-pill"> Entrar</a>
                                        </div>

                                    </div>                        

                                </div>

                            </div>
                            <div class="content_gestorADS close">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);">
                                    <div class="card-body p-2 m-3 d-flex flex-column justify-content-center align-items-center rounded-2 border">

                                        <h3>Estamos trabajando</h3>
                                        <h5 style="text-align: center;">Próximamente estará disponible.</h5>
                                        <h6 style="text-align: center;">Gestor ADS</h6>
                                        
                                    </div>
                                </div>
                                
                            </div>                           
                            <div class="content_carBuy close">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);">
                                    <div class="card-body p-2 m-3 d-flex flex-column justify-content-center align-items-center rounded-2 border">

                                        <h3>Estamos trabajando</h3>
                                        <h5 style="text-align: center;">Próximamente estará disponible.</h5>
                                        <h6 style="text-align: center;">Car Buy</h6>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="content_raffle close">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);">
                                    <div class="cardRaffle p-3" style="width: 100%;">

                                        <% if (Raffle) { %>
                                            <% const image = Raffle.images %>
                                            <% const imageURL = image[0].url %>

                                        <div class="contentRaffleMain" style="width: 100%;">
                                            <div class="row m-0">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-12 p-1"> 
                                                    <div class="contentImg d-flex justify-content-center">
                                                        <img src="<%= imageURL %>" alt="" class="border rounded-2" style="object-fit: cover; width: 180px; height: 180px;" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-1">    
                                                    <div class="contentRaffle" style="width: 100%; height: 100%;">
                                                        <h3><%= Raffle.title %></h3>
                                                        <p class="mb-1"> Serial Sorteo : <span class="bg-dark text-light fw-bold rounded-pill p-1"> <%= Raffle._id %> </span> </p>
                                                        <p class="mb-1"> Departamento : <span> <%= Raffle.department %> </span>  </p>
                                                        <p class="mb-1"> Categoria : <span> <%= Raffle.category %> </span>  </p>
                                                        <p class="mb-1"> Politica : <span> <%= Raffle.raffleClosingPolicy %> </span>  </p>
                                                        <p class="mb-1"> Tickets : <span> <%= Raffle.numTickets %> </span>  </p>
                                                    </div>
                                                </div> 
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-12 p-0"> 
                                                    <div class="contentBtn form-group d-flex align-items-center " style="height: 100%;">
                                                       <a href="/raffleModule-admin/<%= Raffle._id %>" class="btn btn-dark rounded-pill form-control"> Entrar</a>
                                                    </div>
                                                </div>   
                                            </div>

                                        </div>


                                        <% } else { %>


                                            <div class="contentTitle d-flex justify-content-center border rounded-2 mx-2 p-2 cardAdmin">
                                            
                                                <div class="row">
                                                    <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-12 col-12 d-flex justify-content-center ">
                                                        <div class="contentRight mx-2 p-1">
                                                            <img src="/img/icon_Tickets.png" alt="" style="width: 110px; height: 110px;">
                                                        </div>
                                                    </div>
    
                                                    <div class="col-xxl-10 col-lg-10 col-md-10 col-sm-12 col-12 ">
                                                        <div class="contentLeft mx-2 d-flex align-items-start flex-column">
                                                            <h4> <b>Sorteos</b>  </h4>
                                                            <p> <b>¡Crea un sorteo y atrae más clientes! </b> Existen sorteos gratuitos y pagos. Invierte tiempo en esta herramienta para aumentar el interés de tus potenciales clientes y elevar tu negocio rápidamente. </p>
                                                        </div>
                                                    </div>    
    
                                                </div>    
    
                                            </div>
                                            <div class="form-group d-flex justify-content-center mt-1 px-2 py-3">
                                                <a href="department/create/raffle" class="form-control btn btn-dark rounded-pill"> Entrar</a>
                                            </div>
                                        
                                        <% }; %>    

                                    </div>
                                </div>
                                
                            </div>
                            <div class="content_agendaCRM close">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);"> 
                                    <div class="card-body p-2 m-3 d-flex flex-column justify-content-center align-items-center rounded-2 border">

                                        <h3>Estamos trabajando</h3>
                                        <h5 style="text-align: center;">Próximamente estará disponible.</h5>
                                        <h6 style="text-align: center;">Agenda CRM</h6>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="content_iconInfoBliss close">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);"> 
                                    <div class="cardInfoBliss p-3" style="width: 100%;">
                                        
                                                                                
                                        <div class="contentTitle d-flex justify-content-center border rounded-2 mx-2 p-2 cardAdmin">
                                            
                                            <div class="row">
                                                <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-12 col-12 d-flex justify-content-center ">
                                                    <div class="contentRight mx-2 p-1">
                                                        <img src="/img/icon_InfoBliss.png" alt="" style="width: 110px; height: 110px;">
                                                    </div>
                                                </div>

                                                <div class="col-xxl-10 col-lg-10 col-md-10 col-sm-12 col-12 ">
                                                    <div class="contentLeft mx-2 d-flex align-items-start flex-column">
                                                        <h4> <b>Info Bliss</b> </h4>
                                                        <p> ¡Crea las Políticas de tu Tienda y una sección de Preguntas y Respuestas Frecuentes (FAQ)! También puedes diseñar encuestas y mostrar un mapa geográfico para que tus clientes te ubiquen fácilmente. Ofrece toda la información necesaria para que se sientan cómodos al usar tu tienda y sepan cómo navegar en ella.</p>
                                                    </div>
                                                </div>    

                                            </div>    

                                        </div>
                                        <div class="form-group d-flex justify-content-center mt-1 px-2 py-3">
                                            <!-- /infobliss/:user_id -->
                                            <a href="/infobliss/<%= indexed %>" class="form-control btn btn-dark rounded-pill"> Entrar</a>
                                        </div>                                        


                                    </div>
                                </div>

                                
                            </div>
                            <div class="content_manager close">

                                <div class="card" style="background-color:rgba(217, 223, 223, 0.2);">
                                    <div class="cardManage p-3" style="width: 100%;">
                                        
                                                                                
                                        <div class="contentTitle d-flex justify-content-center border rounded-2 mx-2 p-2 cardAdmin">
                                            
                                            <div class="row">
                                                <div class="col-xxl-2 col-lg-2 col-md-2 col-sm-12 col-12 d-flex justify-content-center ">
                                                    <div class="contentRight mx-2 p-1">
                                                        <img src="/img/icon_Analisis.png" alt="" style="width: 110px; height: 110px;">
                                                    </div>
                                                </div>

                                                <div class="col-xxl-10 col-lg-10 col-md-10 col-sm-12 col-12 ">
                                                    <div class="contentLeft mx-2 d-flex align-items-start flex-column">
                                                        <h4> <b>Gerencia de Análisis</b>  </h4>
                                                        <p> Controla la visibilidad de tus anuncios en "Estados" y utiliza "Análisis" para obtener métricas clave como el número de seguidores, interacciones y visitas a tu tienda. Aprovecha herramientas como el Vistómetro y Fascinómetro para tomar mejores decisiones gerenciales y administrativas. </p>
                                                    </div>
                                                </div>    

                                            </div>    

                                        </div>
                                        <div class="form-group d-flex justify-content-center mt-1 px-2 py-3">
                                            <a href="/myaccount/manage" class="form-control btn btn-dark rounded-pill"> Entrar</a>
                                        </div>                                        


                                    </div>
                                </div>
                                
                            </div>

                            <div class="card mt-1" style="background-color:rgba(217, 223, 223, 0.2);">
                                <div class="card-body d-flex justify-content-center ">
                                   <a href="/" class="text-decoration-none" style="color: inherit">  <span id="logoBlissenet_com"> </span> </a> 
                                </div>
                            </div>
                            
                        <% } else { %> <!-- cuenta sin perfil -->

                        <% } %>                                                        

                                        
                    </div>

                </div>    

            </div>

         <% } else { %>
            <div class="container-fluid d-flex justify-content-center p-3" style="height: 90%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
               
                <%- include('../partials/noLogin.ejs') %>

            </div>  
         <% }; %>

    </main>
        <%- include('../partials/scripts.ejs') %>
        <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>
        <!-- este cnd es el constructor de QR  se encuentra en https://cdnjs.com/libraries/qrious -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script> esta sirve tambien pero deje la de abajo, no se cual es la diferencia entre ambas pero este es la cdn para crear los QR-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js" integrity="sha512-pUhApVQtLbnpLtJn6DuzDD5o2xtmLJnJ7oBoMsBnzOkVkpqofGLGPaBJ6ayD2zQe3lCgCibhJBi4cj5wAxwVKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
       

</body>


<script>
    const segment = document.getElementById('segment');
    const gestorADS = document.getElementById('gestorADS');
    const carBuy = document.getElementById('carBuy');
    const raffle = document.getElementById('raffle');
    const manager = document.getElementById('manager');
    const agendaCRM = document.getElementById('agendaCRM');
    const infoBliss = document.getElementById('infoBliss');

    const content_segment = document.querySelector('.content_segment');
    const content_gestorADS = document.querySelector('.content_gestorADS');
    const content_carBuy = document.querySelector('.content_carBuy');
    const content_raffle = document.querySelector('.content_raffle');
    const content_manager = document.querySelector('.content_manager');
    const content_agendaCRM = document.querySelector('.content_agendaCRM');
    const content_iconInfoBliss = document.querySelector('.content_iconInfoBliss');

    segment.addEventListener('click', ()=>{
        content_segment.classList.remove('close');
        content_gestorADS.classList.add('close');
        content_carBuy.classList.add('close');
        content_raffle.classList.add('close');
        content_manager.classList.add('close');
        content_agendaCRM.classList.add('close');
        content_iconInfoBliss.classList.add('close');
    });

    gestorADS.addEventListener('click', ()=>{
        content_segment.classList.add('close');
        content_gestorADS.classList.remove('close');
        content_carBuy.classList.add('close');
        content_raffle.classList.add('close');
        content_manager.classList.add('close');
        content_agendaCRM.classList.add('close');
        content_iconInfoBliss.classList.add('close');
    });

    carBuy.addEventListener('click', ()=>{
        content_segment.classList.add('close');
        content_gestorADS.classList.add('close');
        content_carBuy.classList.remove('close');
        content_raffle.classList.add('close');
        content_manager.classList.add('close');
        content_agendaCRM.classList.add('close');
        content_iconInfoBliss.classList.add('close');
    });

    raffle.addEventListener('click', ()=>{
        content_segment.classList.add('close');
        content_gestorADS.classList.add('close');
        content_carBuy.classList.add('close');
        content_raffle.classList.remove('close');
        content_manager.classList.add('close');
        content_agendaCRM.classList.add('close');
        content_iconInfoBliss.classList.add('close');
    });

    manager.addEventListener('click', ()=>{
        content_segment.classList.add('close');
        content_gestorADS.classList.add('close');
        content_carBuy.classList.add('close');
        content_raffle.classList.add('close');
        content_manager.classList.remove('close');
        content_agendaCRM.classList.add('close');
        content_iconInfoBliss.classList.add('close');
    });

    agendaCRM.addEventListener('click', ()=>{
        content_segment.classList.add('close');
        content_gestorADS.classList.add('close');
        content_carBuy.classList.add('close');
        content_raffle.classList.add('close');
        content_manager.classList.add('close');
        content_agendaCRM.classList.remove('close');
        content_iconInfoBliss.classList.add('close');
    });

    infoBliss.addEventListener('click', ()=>{
        content_segment.classList.add('close');
        content_gestorADS.classList.add('close');
        content_carBuy.classList.add('close');
        content_raffle.classList.add('close');
        content_manager.classList.add('close');
        content_agendaCRM.classList.add('close');
        content_iconInfoBliss.classList.remove('close');
    })
</script>