<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/toastr/toastr.min.css"> <!-- tiene que estar despues del CDN de bootstrap -->
    <script src="/toastr/toastr.min.js"></script>
    <title>Blissenet ADS Manager</title>
</head>
<style>

    input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }


    .closed{
        display: none;
   
    }

    .blackBody{
        /* esta es la clase que utiliza bodyTheme */
        background-color: #272b2f;
    }

    .textLight{
        /* trabaja en conjunto con themaTextLight */
        color: white;
    }

    .toast-success {
        /* Esta clase es unicamente para dar color al alert toastr de tipo success que debe ser violeta */
        background-color: #6f42c1; /* Azul tirando a morado */
        color: white; /* Color del texto */
    }

    .containerBtnChange{
        display: flex;
        justify-content: end;
    }

    .withBtn{
        width: 227px;
    }

    @media screen and (min-width: 290px) and (max-width: 576px){

        .containerBtnChange{
            display: flex;
            justify-content: center;
        }

        .withBtn{
            width: 90%;
        }
    }

</style>
<body class="mainTheme">

     
  <main style="height: auto;">
    <%- include('../partials/navi-simple.ejs') %>
    <% if (user) { %>
      <% const seeMarket = user.seeMarket %>
      <% const idUser = user._id %>
      <input type="hidden" value="<%= seeMarket.countryMarketCode %>" id="seeMarket">
      <input type="hidden" value="<%= idUser %>" id= "idUser">
      <!-- este bloque me permite validad si el usuario que se logea tiene un mercado definido. sino lo tiene debe obligatoriamente hacerlo. --> 

   
        <div class="container-fluid d-flex justify-content-between py-2" style="background: linear-gradient(90deg, rgba(146,0,255,1) 0%, rgba(174,65,255,1) 50%, rgba(13,110,253,1) 100%)";>
            <div class="ms-2 p-0" style="font-weight: 400; color: #ffde00;"> <b> Gestor ADS </b>  </div>
        </div> 

        <form action="/adsManagerSearch" method="post" class="mx-2">
            

                <div class="container-fluid">
                    <div class="row d-flex justify-content-center py-2 px-3">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> 

                            <% if  (Title == "") { %>
                                <input class="form-control-lg border border-primary" type="search" name="titleSearch" placeholder="Buscar por Titulo" aria-label="Search" style="width: 100%; border: none;" value="">
                            <% } else { %>
                                <input class="form-control-lg border border-primary" type="search" name="titleSearch" placeholder="Buscar por Titulo" aria-label="Search" style="width: 100%; border: none;" value="<%= Title %>">
                            <% }; %>  

                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">
                            <button class="btn btn-outline-primary btn-lg" type="submit"  style="border-top-left-radius: 0; border-bottom-left-radius: 0; width: 100%;" > <span class="no-salto mx-1">  🔎  Buscar </span>  </button>
                        </div>
                    </div>    
                </div>
                        
            
        </form>    

        <!-- Modal de Pausar Anuncio --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticPaused" -->
        <div class="modal fade" id="staticPaused" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelZ" aria-hidden="true">
            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="staticPausedTitle"> Control de Pausa </h5>
                        <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <p> <span class="fw-bold"> Pausa tu anuncio desactivándolo temporalmente. </span> Así tus clientes podrán seguir viéndolo pero no podrán realizar compras, ideal para cuando te quedas sin stock sin necesidad de borrar la publicación. </p>
                    </div>
                    <div class="modal-footer" style="background-image: url('/img/bannerGestorADS.jpg'); background-size: cover; background-position: center;">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Visible --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticVisible" -->
        <div class="modal fade" id="staticVisible" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelZ" aria-hidden="true">
            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="staticVisibleTitle"> Control de Visibilidad </h5>
                        <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
       
                        <p> <span class="fw-bold"> Decide qué anuncios mostrar en tu tienda. </span>  Al ocultar un anuncio, este dejará de ser visible en tu Tienda, aunque seguirá disponible para la venta a través de los mercados externos. ¡Gestiona tu stock con total flexibilidad! </p>
                    
                    
                    </div>
                    <div class="modal-footer" style="background-image: url('/img/bannerGestorADS.jpg'); background-size: cover; background-position: center;">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>        

        <!-- Modal oferta --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticOffer" -->
        <div class="modal fade" id="staticOffer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelZ" aria-hidden="true">
            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="staticOfferTitle"> Control de Oferta </h5>
                        <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
       
                        <p> <span class="fw-bold"> Potencia tus Oferta. </span> Dale a tus anuncios la exposición que merecen. Activa campañas destacadas para atraer a más clientes y resaltar tus productos estrella frente a la competencia. </p>
                    
                    </div>
                    <div class="modal-footer" style="background-image: url('/img/bannerGestorADS.jpg'); background-size: cover; background-position: center;">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div> 

        <!-- searchMessageInbox -->
        <div class="contentInbox">
            

            
            <div class="row m-0 d-flex justify-content-center" style="width: 100%;">
     
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-11 my-4 p-0"></div>

                  <% if (newBox.length !== 0) {%> 
                    <div class="mainTable themaTextLight" style="overflow-x: auto; width: 100%; font-size: 16px;">  
                        <table class="table m-0 tableStyle">
                        
                        <tr>
                            <th>Imagen</th>
                            <th>Titulo</th>
                            <th>Precio 💲</th> 
                            <th>Cant.</th> 
                            <th> <span class="cursor-pointer no-salto" data-bs-toggle="modal" data-bs-target="#staticPaused"> Pausado <i class="bi bi-info-circle"></i> </span> </th>
                            <th> <span class="cursor-pointer no-salto" data-bs-toggle="modal" data-bs-target="#staticVisible"> Visible <i class="bi bi-info-circle"></i> </span>  </th>
                            <th> <span class="cursor-pointer no-salto" data-bs-toggle="modal" data-bs-target="#staticOffer"> Oferta <i class="bi bi-info-circle"></i> </span> </th>
                        </tr>

                        <% if (newBox) { %>
                            <% newBox.forEach( (ele, i)=>{ %>

                                <!-- Id de cada elemento a iterar -->
                                <input type="hidden" value="<%= ele._id %>" class="Id">
                                <input type="hidden" value="<%= ele.department %>" class="Depart">

                                <tr>

                                    <td><a href="/product/<%= ele.department %>/<%= ele._id %>/<%= ele.titleURL %>"><img src="<%= ele.images[0].url %>" class="rounded-1" style="width: 50px; height: 50px; object-fit: cover; background-position: center;"> </a></td>    
                                                                                        
                                    <td style="height: auto;"> 
                                        <input class="Title no-salto" type="text" value="<%= ele.title %>" maxlength="60" style="width: 100% !important; background-color: transparent; color: inherit; border: none;">  
                                        <span class="no-salto">  ( <%= ele.department %> )  </span> 
                                    </td>
                                    
                                    <td> <input class="Price no-salto" type="number" value="<%= ele.price %>" style="width: 100px; background-color: transparent; color: inherit; border: none;"> </td>

                                    <% if  (ele.department == "items" || ele.department == "arts"  ) { %>
                                        <td> <input class="Count" type="number" value ="<%= ele.count %>" style="width: 60px; background-color: transparent; color: inherit; border: none;"> </td>
                                    <% } else { %>
                                        <td> - </td>
                                    <% }; %>    
                                    
                                    <% if (ele.paused == true ) { %>
                                        <td> <input class="Paused" type="checkbox" value= true checked> </td>
                                    <% } else { %>
                                        <td> <input class="Paused" type="checkbox" value= false > </td>
                                    <% } %>

                                    <% if (ele.visibleStore == true ) { %>
                                        <td> <input class="VisibleStore" type="checkbox" value= true checked> </td>
                                    <% } else { %>
                                        <td> <input class="VisibleStore" type="checkbox" value= false > </td>
                                    <% } %>

                                    <% if (ele.offer == true ) { %>
                                        <td> <input class="Offer" type="checkbox" value= "true" checked> </td>
                                    <% } else { %>
                                        <td> <input class="Offer" type="checkbox" value= "false" > </td>
                                    <% } %>
                                    
                                    
                    
                                </tr>

                            <% }); %>
                        <% }; %>    


                        </table>
                    </div>
                    <div class="container-fluid mt-3">

                    
                        <div class="py-2 px-0 containerBtnChange">
                            <button class="btn btn-primary btn-lg shadow-sm btnProcess withBtn close" disabled> 
                                <span class="mx-4">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span> <span class="ms-2 "> Procesando  ... </span> 
                                </span>       
                            </button>
                            <button class="btn btn-primary btn-lg shadow-sm btnChange withBtn" > <span class="px-4"> Hacer cambios </span> </button>
                        </div>
                        
                    </div>

                    <div class="paginate elementPaginate my-3">
                        <nav aria-label="...">
                          <ul class="pagination  m-0" >
                            <% if (paginate) { %>

                              <% if ( paginate.pagina == 1 ) { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="?paginate=first"> <i class="bi bi-arrow-bar-left"></i> 1</a>
                                </li>
                              <% } else { %>
                                <li class="page-item">
                                  <a class="page-link" href="?paginate=first"> <i class="bi bi-arrow-bar-left"></i> 1</a>
                                </li>  
                              <% }; %>  

                              <% if ( paginate.pagina == 1 ) { %>
                              <li class="page-item prev disabled">
                                <a class="page-link" href="?paginate=prev"> Prev</a>
                              </li>
                              <% } else { %>
                              <li class="page-item prev">
                                <a class="page-link" href="?paginate=prev"> Prev </a>
                              </li>  
                              <% }; %>
                              <li class="page-item active">
                                <span class="page-link pagina"><%= paginate.pagina %></span>
                              </li>
                              <% if ( paginate.pagina == paginate.totalPagina ) { %>
                              <li class="page-item next disabled">
                                <a class="page-link" href="?paginate=next"> Next</i></a>
                              </li>
                              <% } else { %>
                              <li class="page-item next">
                                <a class="page-link" href="?paginate=next"> Next</i> </a>
                              </li>  
                              <% }; %>

                              <% if ( paginate.pagina == paginate.totalPagina ) { %>
                              <li class="page-item disabled">
                                <a class="page-link" href="?paginate=last"> <%= paginate.totalPagina %> <i class="bi bi-arrow-bar-right"></i></a>
                              </li>
                              <% } else { %>
                              <li class="page-item">
                                <a class="page-link" href="?paginate=last"> <%= paginate.totalPagina %> <i class="bi bi-arrow-bar-right"></i></a>
                              </li>  
                              <% }; %>  

                            <% }; %>
                          </ul>
                        </nav>
                    </div>    

                  <% } else { %>
                    <div class="ContainerMessage themaTextLight d-flex justify-content-center">

                        
                        <div class="containerImageSinResultados d-flex flex-column align-items-center">
                            <p style="font-size: 17px;"> <span> ¡Sin resultados! </span>  </p>
                            <img src="/img/sinResultados.png" style="width: 200px;">
                        </div>

                    </div>        
                  <% } %>  

                </div> 

            </div>

        </div>


    <% } else { %>
        <div class="container-fluid d-flex justify-content-center p-3" style="height: 90%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
    
            <%- include('../partials/noLogin.ejs') %>
        
        </div>    
    <% }; %>     

  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>

</body>
</html>

<script>
    const idUser = document.getElementById('idUser').value; // id del user

    const Id = document.querySelectorAll('.Id');
    const Depart = document.querySelectorAll('.Depart');
    const Title = document.querySelectorAll('.Title');
    const Price = document.querySelectorAll('.Price');
    const Count = document.querySelectorAll('.Count');
    const Paused = document.querySelectorAll('.Paused');
    const VisibleStore = document.querySelectorAll('.VisibleStore');
    const Offer = document.querySelectorAll('.Offer');

    const btnChange = document.querySelector('.btnChange');
    const btnProcess = document.querySelector('.btnProcess');

    let editedBox = [];  
    let datos;

    //actualizamos el valor del check en paused
    Paused.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const PausedStr = checkbox.checked ? "true" : "false"; // Captura el estado checked
            let valueBoolean;

            if (PausedStr === "true") {
                valueBoolean = true;
                checkbox.value = valueBoolean; //insertamos el valor actualizado al input
            } else {
                valueBoolean = false;
                checkbox.value = valueBoolean; //insertamos el valor actualizado al input
            }

            console.log("Paused :", valueBoolean); // Aquí puedes ver el resultado
        });
    });

    //actualizamos el valor del check en VisibleStore
    VisibleStore.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const VisibleStoreStr = checkbox.checked ? "true" : "false"; // Captura el estado checked
            let valueBoolean;

            if (VisibleStoreStr === "true") {
                valueBoolean = true;
                checkbox.value = valueBoolean; //insertamos el valor actualizado al input
            } else {
                valueBoolean = false;
                checkbox.value = valueBoolean; //insertamos el valor actualizado al input
            }

            console.log("VisibleStore :", valueBoolean); // Aquí puedes ver el resultado
        });
    });

    //actualizamos el valor del check en Offer
    Offer.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const offerStr = checkbox.checked ? "true" : "false"; // Captura el estado checked
            let valueBoolean;

            if (offerStr === "true") {
                valueBoolean = true;
                checkbox.value = valueBoolean; //insertamos el valor actualizado al input
            } else {
                valueBoolean = false;
                checkbox.value = valueBoolean; //insertamos el valor actualizado al input
            }

            console.log("Offer :", valueBoolean); // Aquí puedes ver el resultado
        });

    });

    btnChange.addEventListener("click", ()=>{


        btnProcess.classList.toggle('close');
        btnChange.classList.toggle('close');

        editedBox = []; //limpiamos el array;
        const countItem = Id.length;
        console.log("countItem :", countItem);


        for (let i = 0; i < countItem; i++) {

            const id = Id[i].value;
            const depart = Depart[i].value;
            const title = Title[i].value;
            const price = parseFloat(Price[i].value);
            const paused = Paused[i].value; // true or false
            const visibleStore = VisibleStore[i].value; //true or false
            const offer = Offer[i].value; //true or false
            
            console.log("title ---->:", title);
            console.log("depart ---->:", depart);
            console.log("offer ---->:", offer);
            console.log("<---------------->:");

            if ( depart =="items" || depart == "arts" ){
                const count = parseInt(Count[i].value);

                const objeto = { id: id, department: depart, title : title, price : price, count : count, paused : paused, visibleStore: visibleStore, offer : offer };
                console.log("objeto :", objeto);
                editedBox.push(objeto);

            } else { //estos no tienen el campo count 
                
                const objeto = { id: id, department: depart, title : title, price : price, paused : paused, visibleStore : visibleStore, offer : offer };
                console.log("objeto :", objeto);
                editedBox.push(objeto);

            }    

        }

        console.log("editedBox :", editedBox);
        //ahora vamos a enviar editedBox al backend para su actualizacion en la DB;

        datos = {
            idUser : idUser,
            editedBox : editedBox
        }

        
        //al terminar el pimer paso entonces envia
        fetch('/adsManagerEditing', {

            method: "post",
            body: JSON.stringify(datos),
            headers: {"content-type" : "application/json"}

            })
            .then(response =>response.json() )
           .then(jsonx => {
                console.log("Respuesta de actualizacion :", jsonx);
                const code = jsonx.code;
                const message = jsonx.message;

                if (code === "ok") {
                    mostrarToast(message, 'right', 'success', 'Hecho', true);
                    
                    setTimeout(() => {
                        //esta url no tiene parametros query y debe ser asi porque sino entra en un bucle infinito
                        const url = window.location.origin + window.location.pathname;
                        console.log("Recargando tras éxito...");
                        window.location.href = url;
                    }, 2500); // 1.5 segundos para que vean el mensaje de "Hecho"

                } else {
                    mostrarToast(message, 'right', 'danger', 'Error', true);
                    // Si hay error, quizás NO quieras recargar para que el usuario 
    
                }
            })
            .catch( err => console.log(err));
            

    })


</script>