<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Buy&Sell</title>
</head>

<body class="mainTheme">

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>

    <div class="container-fluid d-flex justify-content-end p-1" style="background-color:  rgba(243, 238, 238, 1); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238); border-bottom: 1px solid gray;">
        <p class="m-0 px-3">Buy&Sell-Body</p>
    </div>
   
    
    <div class="contentBuy&sell pe-0 m-0" style="background-color: #e9ecef;">
        <div class="row px-1 mx-0 d-flex justify-content-around" style="width: 100%; height: auto;">
            <div class="col-lg-5  my-4 p-0 rounded-1" style="height: 93%;">
            <% if (user) {  %>    
                <% if (buySell) { %>
                <div class="ContainerMessage rounded-1 p-3" style="background-color: #dbdfe4;">
                    <div class="containerId my-1 border p-2 border rounded-1" style="background-color: #ebecee;"><span>Orden : <%= buySell._id %></span></div>
                    <img src="<%= buySell.image[0].url %>" alt="" style="width: 60%;"> <br> 
                    <div class="username"><span>Comprador : <%= buySell.usernameBuy %></span></div>
                    <div class="username"><span>Vendedor : <%= buySell.usernameSell %></span></div>
                    <div class="depart"><span>Departamento :<%= buySell.department %></span></div>
                    <div class="title"><span>Titulo :<%= buySell.title %></span></div>
                    <div class="title"><span>Precio :<%= buySell.price %></span></div>
                    <% if (fechaNegotiation){ %>
                        <div class="dateCreated"><span>Fecha de negociación :<%= fechaNegotiation %> </span></div>
                    <% }; %>
                    
                </div>

                    <% if (buySell.usernameSell == user.username && buySell.pay == false && buySell.cancel === false) { %>  
                        <div class="ContainerConfirmPay my-2 p-3 alert alert-info border border-info">
                            <p class="m-0">Provea a su cliente de todos los datos de pagos disponibles. Espere que él informe del pago para que usted pueda confirmarlo.</p>
                        </div>
                    <% } else if (buySell.usernameSell === user.username && buySell.pay === true && buySell.cancel === false && buySell.CommentBuy === "no_comment" ) { %>  
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
                                <p style="background-color: rgb(43, 255, 43, 0.4);" class="rounded-1 p-1">Su cliente a indicado que ha realizado el pago, por favor confirme esta información, si es correcto seleccione <b>Yes</b> de lo contrario de a <b>No</b> y deje un comentario.</p>
                                <div class="form-group d-flex my-1 me-5">

                                    <input type="hidden" value="<%= buySell._id %>" id="idOrderX">

                                    <select name="confirmPay" id="selectPay" class="form-control me-2" style="width: 50px;">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>

                                    <div class="form-check mx-1">
                                        <input class="form-check-input" type="radio" name="rating" id="Radio1" value="Positivo">
                                        <label class="form-check-label" for="Radio1"> Positivo </label>
                                    </div>
                                    <div class="form-check mx-2">
                                        <input class="form-check-input" type="radio" name="rating" id="Radio2" value="Neutral">
                                        <label class="form-check-label" for="Radio2"> Neutral </label>                                          
                                    </div>
                                    <div class="form-check mx-2">
                                        <input class="form-check-input" type="radio" name="rating" id="Radio3" value="Negativo" disabled>
                                        <label class="form-check-label" for="Radio3"> negativo </label>
                                    </div>

                                </div>
                                <div class="form-group my-2">
                                    <input type="text" class="form-control my-1" id="inputIdComment" placeholder="Deja aqui un comentario del comprador">

                                    <button class="btn btn-primary btn-sm form-control my-1" id="btnConfirm">Fin</button>
                                </div>
                            
                        </div>
                    <% } else if (buySell.usernameSell === user.username && buySell.pay === true  && buySell.cancel === false && buySell.CommentBuy !== "no_comment" ) { %>                
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
                
                                <div class="form-group my-1">
                                    <p class="mb-1">Gracias por calificar y comentar.</p>
                                    <a href="/"><button class="btn btn-primary btn-sm form-control my-2" id="btnBuyerClosed">Cerrar</button></a>
                                </div>
                                
                        </div>    
                    <% } else if (buySell.usernameSell === user.username && buySell.pay === false  && buySell.cancel === true && buySell.CommentBuy === "no_comment" ) { %>  
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
                                    <p style="background-color: rgb(252, 25, 18, 0.4);" class="rounded-1 p-1">Su cliente a cancelado la orden. Califique y deje un comentario.</p>
                                    <div class="form-group d-flex my-1 me-5">
    
                                        <input type="hidden" value="<%= buySell._id %>" id="idOrderSellerCancel">
    
                                        <div class="form-check mx-1">
                                            <input class="Radiales-SellerCancel" type="radio" name="rating" id="RadioSellerCancel1" value="Positivo" disabled>
                                            <label class="form-check-label" for="RadioSellerCancel1"> Positivo </label>
                                        </div>
                                        <div class="form-check mx-2">
                                            <input class="Radiales-SellerCancel" type="radio" name="rating" id="RadioSellerCancel2" value="Neutral">
                                            <label class="form-check-label" for="RadioSellerCancel2"> Neutral </label>                                          
                                        </div>
                                        <div class="form-check mx-2">
                                            <input class="Radiales-SellerCancel" type="radio" name="rating" id="RadioSellerCancel3" value="Negativo">
                                            <label class="form-check-label" for="RadioSellerCancel3"> Negativo </label>
                                        </div>
    
                                    </div>
                                    <div class="form-group my-2">
                                        <input type="text" class="form-control my-1" id="commentSellerCancel" placeholder="Deja aqui un comentario del comprador">
                                        <button class="btn btn-primary btn-sm form-control my-1" id="btnSellerCancel">Fin</button>
                                    </div>
                                
                        </div>
                    <% } else if (buySell.usernameSell === user.username && buySell.pay === false  && buySell.cancel === true && buySell.CommentBuy !== "no_comment" ) { %>                
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
            
                            <div class="form-group my-1">
                                <p class="mb-1">Gracias por calificar y comentar.</p>
                                <a href="/"> <button class="btn btn-primary btn-sm form-control my-2" id="btnBuyerClosed">Cerrar</button></a>
                            </div>
                            
                        </div>  


                    <% } else if (buySell.usernameBuy == user.username && buySell.pay == false && buySell.cancel === false ) { %>
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4; width: 100%;">
                            <div class="containerP_Button d-flex justify-content-between" style="width: 100%; background-color: rgb(43, 255, 43, 0.5); border-bottom: 1px solid rgb(128, 128, 128, 0.3);">
                                <p class="m-0 px-1" style="width: 100%;">He comprado, confirmo que he pagado. <input type="hidden" id="pay" value="pagado"> <input type="hidden" id="idOrder" value="<%= buySell._id %>"></p>
                                <button class="ms-2 btn btn-success btn-sm" id="btnPay" style="width: 80px;">Pagado</button>
                            </div>
                            <div class="containerP_Button d-flex justify-content-between" style="width: 100%;  background-color: rgb(252, 25, 18, 0.5);">
                                <p class="m-0 px-1" style="width: 100%;">No quiero comprar, cancelo la orden. <input type="hidden" id="cancel" value="cancel"> <input type="hidden" id="idOrderCancel" value="<%= buySell._id %>"></p>
                                <button class="ms-2 btn btn-danger btn-sm" id="btnCancel" style="width: 80px;">Cancelar</button>
                            </div>    
                        </div>   
                    <% } else if (buySell.usernameBuy == user.username && buySell.pay == true && buySell.cancel === false && buySell.CommentSeller === "no_comment" ) { %>
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">

                            <div class="form-group my-1">
                                <p class="mb-1">Finalice calificando y dejando un comentario a su vendedor.</p>
                                <div class="form-group d-flex my-1">
    
                                    <input type="hidden" value="<%= buySell._id %>" id="idOrderBuyerTrue">

                                    <div class="form-check mx-1">
                                        <input class="Radio-BuyerTrue" type="radio" name="rating" id="RadioBuyerTrue1" value="Positivo">
                                        <label class="form-check-label" for="RadioBuyerTrue1"> Positivo </label>
                                    </div>
                                    <div class="form-check mx-2">
                                        <input class="Radio-BuyerTrue" type="radio" name="rating" id="RadioBuyerTrue2" value="Neutral">
                                        <label class="form-check-label" for="RadioBuyerTrue2"> Neutral </label>                                          
                                    </div>
                                    <div class="form-check mx-2">
                                        <input class="Radio-BuyerTrue" type="radio" name="rating" id="RadioBuyerTrue3" value="Negativo">
                                        <label class="form-check-label" for="RadioBuyerTrue3"> Negativo </label>
                                    </div>

                                </div>
                                <input type="text my-1" class="form-control" id="commentBuyerTrue"  placeholder="Deje aquí su comentario del vendedor">
                                <button class="btn btn-primary btn-sm form-control my-2" id="btnBuyerTrue">Fin</button>
                            </div>
                            
                        </div>
                    <% } else if (buySell.usernameBuy == user.username && buySell.pay == true && buySell.cancel === false && buySell.CommentSeller !== "no_comment" ) { %>
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
            
                                        <div class="form-group my-1">
                                            <p class="mb-1">Gracias por calificar y comentar.</p>
                                            <a href="/"><button class="btn btn-primary btn-sm form-control my-2" id="btnBuyerClosed">Cerrar</button></a>
                                        </div>
                                        
                        </div>        
                    <% } else if (buySell.usernameBuy == user.username && buySell.pay == false && buySell.cancel === true && buySell.CommentSeller === "no_comment" ) { %>
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
    
                                <div class="form-group my-1 me-5">
                                    <p class="mb-1">Finalice calificando y dejando un comentario a su vendedor.</p>
                                    <div class="form-group d-flex my-1 me-5">
        
                                        <input type="hidden" value="<%= buySell._id %>" id="idOrderBuyerCancel">
    
                                        <div class="form-check mx-1">
                                            <input class="RadialesBuyerCancel" type="radio" name="rating" id="RadioBuyerCancel1" value="Positivo">
                                            <label class="form-check-label" for="RadioBuyerCancel1"> Positivo </label>
                                        </div>
                                        <div class="form-check mx-2">
                                            <input class="RadialesBuyerCancel" type="radio" name="rating" id="RadioBuyerCancel2" value="Neutral">
                                            <label class="form-check-label" for="RadioBuyerCancel2"> Neutral </label>                                          
                                        </div>
                                        <div class="form-check mx-2">
                                            <input class="RadialesBuyerCancel" type="radio" name="rating" id="RadioBuyerCancel3" value="Negativo" disabled>
                                            <label class="form-check-label" for="RadioBuyerCancel3"> Negativo </label>
                                        </div>
    
                                    </div>
                                    <input type="text my-1" class="form-control" id="commentBuyerCancel" placeholder="Deje aquí un comentario del vendedor">
                                    <button class="btn btn-primary btn-sm form-control my-2" id="btnBuyerCancel">Fin</button>
                                </div>
                                
                        </div>
                    <% } else if (buySell.usernameBuy == user.username && buySell.pay == false && buySell.cancel === true && buySell.CommentSeller !== "no_comment" ) { %>
                        <div class="ContainerConfirmPay my-2 p-3" style="background-color: #dbdfe4;">
        
                                    <div class="form-group my-1">
                                        <p class="mb-1">Gracias por calificar y comentar.</p>
                                        <a href="/"><button class="btn btn-primary btn-sm form-control my-2" id="btnBuyerClosed">Cerrar</button></a>
                                    </div>
                                    
                        </div>
                    <% }; %>            

                <% }; %>
            </div>
            <!-- seccion del chat -->
            <div class="col-lg-6  my-4 p-0 rounded-1" style="height: 93%;">
                <div class="ContainerMessage rounded-1 px-2" style="background-color: #dbdfe4; height: 96%;">
            
                    <div class="containerWritten p-1" style="width: 100%;">
                       

                            <h6 class="text-decoration-underline my-2">Hacer una pregunta al vendedor.</h6>
                            <div class="containerTextButton d-flex justify-content-between" style="width: 100%;">
                                <div class="form-group" style="width: 74%;">
                                    <% if (buySell.CommentBuy !== 'no_comment' && buySell.CommentSeller !== 'no_comment' ){ %>
                                        <input type="text" class="form-control" name="questions" id="written"  placeholder="Este chat ha sido desactivado" disabled>
                                    <% } else { %>
                                        <input type="text" class="form-control" name="questions" id="written"  placeholder="Escribe aqui tu pregunta">
                                    <% }; %>  
                                    <input type="hidden" value="<%= user.username %>" id="user"> <!-- este dato debe ser enviado al backend para armar el objeto que entrara al documento de la compraVenta -->
                                    <% if (buySell) { %> <input type="hidden" value="<%= buySell._id %>" id="idDocument"><% }; %> <!-- con este Id puedo buscar rapidamente el documento creado la compraVenta -->
                                </div>

                                <div class="form-group" style="width: 23%;">
                                    <% if (buySell.CommentBuy !== 'no_comment' && buySell.CommentSeller !== 'no_comment' ){ %>
                                    <input type="button" class="form-control btn btn-secondary" id="btnSenMessage" value="Enviar">
                                    <% } else { %>
                                    <input type="button" class="form-control btn btn-primary" id="btnSenMessage" value="Enviar">
                                    <% }; %>     
                                </div>
                            </div>
   
                      
                    </div>
                    <div class="card" style=" background-color: #dbdfe4; height: 80vh;">
                        <div class="card-body px-0 d-flex flex-column" style="height: 100%; overflow-y: auto;">                           
                            <div class="card my-1 showMessage border border-success" style="padding-right: 10px;">
                                
                                <% if (msg) { %>
                                    <% msg.forEach( (ele)=>{ %>

                                        <% if (user.username == ele.user ){ %>
                                            <div class="card-body rounded-3 my-1 pb-3 pt-2" style="background-color: #d190be; margin-left: 5px; position: relative;">
                                                <p class="m-0 mb-1" style="line-height: 20px;"><%= ele.written %></p>
                                                <p class="m-0" style="position: absolute; right: 0px; bottom: -2px;"><small class="bg-dark text-light rounded-3 px-2" style="font-size: 12px;"> <%= ele.time %> </small></p>
                                            </div>
                                        <% } else { %>
                                            <div class="card-body rounded-3 my-1 pb-3 pt-2" style="background-color: #b8b7c2; margin-left: 5px; position: relative">
                                                <span style="line-height: 2px;"><%= ele.written %></span>
                                                <p class="m-0" style="position: absolute; right: 0px; bottom: -2px;"><small class="bg-dark text-light rounded-3 px-2" style="font-size: 12px;"><%= ele.time %> </small></p>
                                            </div>    
                                        <% }; %>     
    
                                    <% }); %>
                                <% }; %>
                                 
                            </div>
                        </div>
                    </div>
            <% }; %>
                </div>   
            </div>
      </div>
    </div>
   


  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>

  <script>
    
    const btnSenMessage = document.getElementById('btnSenMessage');
    const written = document.getElementById('written');
    const user = document.getElementById('user');
    const idDocument = document.getElementById('idDocument');

    written.value ="";
    written.focus();

    btnSenMessage.addEventListener('click', ()=>{
       
        let Time;

        if ( written.value !== "" ){

            const date = new Date();
            const hora = date.getHours();
            const minu = date.getMinutes();

            const dia = date.getDate();
            const mes = date.getMonth()+1;

           
            if (minu <= 9){
                Time = `${hora}:0${minu} ${dia}-${mes}`
            } else {
                Time = `${hora}:${minu} ${dia}-${mes}`
            }
               

            const datos = {
                user : user.value,
                written : written.value,
                time : Time,
                idDocument : idDocument.value
            };
            
            fetch('/buysell-message/', {

            method: "post",
            body: JSON.stringify(datos),
            headers: {"content-type" : "application/json"}

            })
            .then(response =>response.json() )
            .then( jsonx =>{ console.log("Este es la respuesta del fetch post",jsonx)
                    location.reload();
                })
            .catch( err => console.log(err)); 
           
        };
    }); 
 

  </script>

  <script>
    //esto esta conectado con la linea de codigo 82 aqui el comprador decide pagar.
    //vista de comprador paga la orden.
          
            const btnPay = document.getElementById('btnPay');
            const idOrder = document.getElementById('idOrder');
            const pay = document.getElementById('pay');

            //este bloque de codigo es ejecutado cuando el comprador da click en pago
            if (btnPay){

                btnPay.addEventListener('click', ()=>{

                    let data = {
                        idOrder : idOrder.value,
                        pay : pay.value
                    }

                    //este dato es confirmado por el comprador y es el primero que edita los datos de esta orden. 
                    fetch('/buysell-body/pay', {

                     method: "post",
                     body: JSON.stringify(data),
                     headers: {"content-type" : "application/json"}

                     })
                     .then(response =>response.json() )
                     .then( jsonx =>{ console.log("Este es la respuesta del comprador fetch post",jsonx)
                            location.reload();
                        })
                     .catch( err => console.log(err)); 

                });

            };    
    
  </script>

<script>
    //esto esta conectado con la linea de codigo 83 aqui el comprador decide cancelar la orden. NO pagará.
    //vista de comprador cancela la orden.
            const btnCancel = document.getElementById('btnCancel');
            const idOrderCancel = document.getElementById('idOrderCancel');
            const cancel = document.getElementById('cancel');

            if (btnCancel){

                //este bloque de codigo es ejecutado cuando el comprador da click en pago
                btnCancel.addEventListener('click', ()=>{

                    let data = {
                        idOrder : idOrderCancel.value,
                        pay : cancel.value
                    }

                    //este dato es confirmado por el comprador y es el primero que edita los datos de esta orden. 
                    fetch('/buysell-body/cancel', {

                        method: "post",
                        body: JSON.stringify(data),
                        headers: {"content-type" : "application/json"}

                        })
                        .then(response =>response.json() )
                        .then( jsonx => {console.log("Este es la respuesta del comprador fetch post",jsonx)
                                location.reload();
                            })
                        .catch( err => console.log(err)); 

                });
            
            };    
    
</script>

<script>
        //esto es la vista del comprador que ya ha cancelado la orden, deja la calificacion y comentario a su vendedor
            const btnBuyerCancel = document.getElementById('btnBuyerCancel');
            const idOrderBuyerCancel = document.getElementById('idOrderBuyerCancel');
            const commentBuyerCancel = document.getElementById('commentBuyerCancel');
            const RadialesBuyerCancel = document.querySelectorAll('.RadialesBuyerCancel');
            
            let radioValueBuyerCancel;                                      
      

            for (let i = 0; i < RadialesBuyerCancel.length; i++) {
                    const ele = RadialesBuyerCancel[i];
        
                ele.addEventListener('click', ()=>{
                    radioValueBuyerCancel = ele.value; //aqui le doy el valor elegido del radio y lo guardo en la variable que arriba declare.
                    console.log("Valor del radial checked es --->", radioValueBuyerCancel);
                })  
            }

        if (btnBuyerCancel){ 

            btnBuyerCancel.addEventListener('click', ()=>{

            let data = {
            idOrder : idOrderBuyerCancel.value,
            rating : radioValueBuyerCancel,
            comment : commentBuyerCancel.value
            }

            //este dato es confirmado por el comprador y es el primero que edita los datos de esta orden. 
            fetch('/buysell-body/cancel-calicoment', {

                method: "post",
                body: JSON.stringify(data),
                headers: {"content-type" : "application/json"}

                })
                .then(response =>response.json() )
                .then( jsonx => {console.log("Este es la respuesta del comprador fetch post",jsonx)
                     location.reload()
                    })
                .catch( err => console.log(err)); 

            })
        } 
           
  </script>

<script>
    //vista vendedor confirma el pago, califica y envia comentario
    const btnConfirm = document.getElementById('btnConfirm');
    const selectPay = document.getElementById('selectPay');
    const idOrderX = document.getElementById('idOrderX');
    const Radiales = document.querySelectorAll('.form-check-input');
    const inputIdComment = document.getElementById('inputIdComment');
    const R1 = document.getElementById('Radio1');
    const R2 = document.getElementById('Radio2');
    const R3 = document.getElementById('Radio3');
    let radioValue; 

    if (selectPay){

        selectPay.addEventListener('change', ()=>{


            if (selectPay.value == 'Yes'){
             R3.setAttribute("disabled", "");
             R1.removeAttribute("disabled");
            
            } else if (selectPay.value == 'No'){
             R1.setAttribute("disabled", "");
             R3.removeAttribute("disabled");
            }
       
        });                                        
    }  

     for (let i = 0; i < Radiales.length; i++) {
            const ele = Radiales[i];

        ele.addEventListener('click', ()=>{
            radioValue = ele.value; //aqui le doy el valor elegido del radio y lo guardo en la variable que arriba declare.
           // console.log("Valor del radial checked es --->", radioValue);
        })  
     }
        
    if (btnConfirm){ 

        btnConfirm.addEventListener('click', ()=>{

        //aqui armo el objeto que requiero enviar via fetch
            const selectValue = { idOrder : idOrderX.value,
                                  confirm : selectPay.value,
                                  rating : radioValue, 
                                  comment : inputIdComment.value   
                                };
            
            //este dato es confirmado por el vendedor el ultimo que edita los datos de esta orden.      
            fetch('/buysell-body/confirm', {

                method: "post",
                body: JSON.stringify(selectValue),
                headers: {"content-type" : "application/json"}

                })
                .then(response =>response.json() )
                .then( jsonx => {console.log("Este es la respuesta del vendedor fetch post",jsonx)
                        location.reload(); //refrescamos la pagina cuando se haya recibido los cambios del backend.
                    })
                .catch( err => console.log(err));           

        });

    };    
    

</script>

<script>
    //vista comprador cuando ha pagado
    //aqui el comprador califica y comenta a su vendedor.
    const btnBuyerTrue = document.getElementById('btnBuyerTrue');
    const idOrderBuyerTrue = document.getElementById('idOrderBuyerTrue');
    const RadialesBuyerTrue = document.querySelectorAll('.Radio-BuyerTrue');
    const commentBuyerTrue = document.getElementById('commentBuyerTrue');
    
    let radioValueBuyerTrue;                                      
      

     for (let i = 0; i < RadialesBuyerTrue.length; i++) {
            const ele = RadialesBuyerTrue[i];

        ele.addEventListener('click', ()=>{
            radioValueBuyerTrue = ele.value; //aqui le doy el valor elegido del radio y lo guardo en la variable que arriba declare.
           // console.log("Valor del radial checked es --->", radioValue);
        })  
     }
        
    if (btnBuyerTrue){ 

        btnBuyerTrue.addEventListener('click', ()=>{

        //aqui armo el objeto que requiero enviar via fetch
            const objectBuyerTrue = { idOrder : idOrderBuyerTrue.value,
                                      rating : radioValueBuyerTrue, 
                                      comment : commentBuyerTrue.value   
                                    };
            
            //este dato es enviado por el comprador como ultimo paso para cerrar la orden de compra efectiva.      
            fetch('/buysell-body/buyerTrue', {

                method: "post",
                body: JSON.stringify(objectBuyerTrue),
                headers: {"content-type" : "application/json"}

                })
                .then(response =>response.json() )
                .then( jsonx => {console.log("Este es la respuesta del vendedor fetch post",jsonx)
                        location.reload();
                    })
                .catch( err => console.log(err));           

        });
     
    };

</script>

<script>
    //vista vendedor califica y comenta despues de que su comprador le haya canceldo la orden.
    //aqui el vendedor califica y comenta a su comprador.
    const btnSellerCancel = document.getElementById('btnSellerCancel');
    const idOrderSellerCancel = document.getElementById('idOrderSellerCancel');
    const RadialesSellerCancel = document.querySelectorAll('.Radiales-SellerCancel');
    const commentSellerCancel = document.getElementById('commentSellerCancel');
    
    let radioValueSellerCancel;                                      
      

     for (let i = 0; i < RadialesSellerCancel.length; i++) {
            const ele = RadialesSellerCancel[i];

        ele.addEventListener('click', ()=>{
            radioValueSellerCancel = ele.value; //aqui le doy el valor elegido del radio y lo guardo en la variable que arriba declare.
           // console.log("Valor del radial checked es --->", radioValue);
        })  
     }
        
    if (btnSellerCancel){ 

        btnSellerCancel.addEventListener('click', ()=>{

            //aqui armo el objeto que requiero enviar via fetch
            const data = { idOrder : idOrderSellerCancel.value,
                           rating : radioValueSellerCancel, 
                           comment : commentSellerCancel.value   
                        };
            
            //este dato es enviado por el comprador como ultimo paso para cerrar la orden de compra efectiva.      
            fetch('/buysell-body/sellerCancel', {

                method: "post",
                body: JSON.stringify(data),
                headers: {"content-type" : "application/json"}

                })
                .then(response =>response.json() )
                .then( jsonx => {console.log("Este es la respuesta del vendedor fetch post",jsonx)
                        location.reload();
                    })
                .catch( err => console.log(err));           

        });
    
    };    

</script>

</body>
</html>

