<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Sala de Negocios</title>
</head>
<style>
 
    .open{
    display: block;
    }

    .closed{
    display: none;
   
    }

    .textLight{
        /* trabaja en conjunto con themaTextLight */
        color: white;
    }

</style>
<body class="mainTheme">

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>
    <% if (user) { %>

      <div class="container-fluid d-flex justify-content-between py-2" style="background: linear-gradient(90deg, rgba(146,0,255,1) 0%, rgba(174,65,255,1) 50%, rgba(13,110,253,1) 100%);">
        <div class="ms-2 p-0" style="font-weight: 400; color: #ffde00;"> <b> Sala de Negocios - Lista </b>  </div>
        
        <div class="btn-group btn-group-sm mx-2" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark active" id="btnBuyes">Compras</button>
          <button type="button" class="btn btn-dark" id="btnSelles">Ventas</button>
        </div>
     </div>

   
      <div class="contentBuyes">
        <div class="row m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
            <div class="col-lg-10  my-4 p-0">
                      <div class="ContainerMessage rounded-1 p-2" style="background-color: #dbdfe4;">
                         <% if (searchBuy.length !==0){ %>

                            <% searchBuy.forEach((ele)=>{ %>

                                <% if (ele.department == 'items' || ele.department == 'arts' || ele.department == 'auctions') { %>
                                <img src="<%= ele.image[0].url %>" alt="" style="width: 40px;">
                                <span><b>Order :</b> <%= ele._id %> </span>
                                <span class="ms-2"><b>Seller :</b> <%= ele.usernameSell %></span>
                                <span class="ms-2"><b>Monto :</b> <%= ele.price %></span> <br>
                                <span><i><a href="/buysell-body/<%= ele._id %>"><%= ele.title %></a></i></span> 
                                <br> <hr>
                                <% } else { %>
                                <img src="<%= ele.image[0].url %>" alt="" style="width: 40px;">
                                <span><b>Order :</b> <%= ele._id %> </span>
                                <span class="ms-2"><b>Seller :</b> <%= ele.usernameBuy %></span>
                                <span class="ms-2"><b>Monto :</b> <%= ele.price %></span> <br>
                                <span><i><a href="/negotiation-body/<%= ele._id %>"><%= ele.title %></a></i></span> 
                                <br> <hr>
                                <% }; %>  

                            <% }); %>
                            
                        
                          <% }; %>
                      </div>
            </div> 
        </div>
      </div>

      <div class="contentSelles closed">
        <div class="row m-0 d-flex justify-content-center" style="width: 100%; overflow-y: auto;">
            <div class="col-lg-10  my-4 p-0">
                <div class="ContainerMessage rounded-1 p-2 border" style="background-color: #dbdfe4;">
                    <% if (searchSell.length !==0){ %>

                      <% searchSell.forEach((ele)=>{ %>

                          <% if (ele.department == 'items' || ele.department == 'arts' || ele.department == 'auctions') { %>
                            <img src="<%= ele.image[0].url %>" alt="" style="width: 40px;">
                            <span><b>Order :</b> <%= ele._id %> </span>
                            <span class="ms-2"><b>Buyer:</b> <%= ele.usernameBuy %></span>
                            <span class="ms-2"><b>Monto :</b> <%= ele.price %></span> <br>
                            <span><i><a href="/buysell-body/<%= ele._id %>"><%= ele.title %></a></i></span> 
                            <br> <hr>
                          <% } else { %>
                            <img src="<%= ele.image[0].url %>" alt="" style="width: 40px;">
                            <span><b>Order :</b> <%= ele._id %> </span>
                            <span class="ms-2"><b>Buyer :</b> <%= ele.usernameBuy %></span>
                            <span class="ms-2"><b>Monto :</b> <%= ele.price %></span> <br>
                            <span><i><a href="/negotiation-body/<%= ele._id %>"><%= ele.title %></a></i></span> 
                            <br> <hr>
                          <% }; %>  
                        
                      <% }); %>

                     <% }; %>
                </div>
                
            </div>
        </div>
      </div>

    <% } else { %>
      <div class="container-fluid d-flex justify-content-center p-3" style="height: 90%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
    
        <%- include('../partials/noLogin.ejs') %>
    
      </div>    
    <% }; %> 

  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>

  <script>
    let btnBuyes = document.getElementById('btnBuyes');
    let btnSelles = document.getElementById('btnSelles');
    let contentBuyes = document.querySelector('.contentBuyes');
    let contentSelles = document.querySelector('.contentSelles');
                                                  
    btnBuyes.addEventListener('click', ()=>{
      contentSelles.classList.add('closed');
      contentBuyes.classList.remove('closed');

      btnBuyes.classList.add('active');
      btnSelles.classList.remove('active');
      
    });

    btnSelles.addEventListener('click', ()=>{
      contentSelles.classList.remove('closed');
      contentBuyes.classList.add('closed');

      btnBuyes.classList.remove('active');
      btnSelles.classList.add('active');
    
    });

  </script>
</body>
</html>

