<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Follow me</title>
</head>
<style>
    .blockRed{
        background-color: red;
        border-radius: 2px;
        width: 26px;
        height: 16px;
        padding: 0px, 5px;
        margin-top: 6px;
    }

    .blockGreen{
        background-color: green;
        border-radius: 2px;
        width: 26px;
        height: 16px;
        padding: 0px, 5px;
        margin-top: 6px;
    }

    .textLight{
        /* trabaja en conjunto con themaTextLight */
        color: white;
    }

</style>
<body class="mainTheme">

     
  <main>
    <%- include('../partials/navi-simple.ejs') %>

    <% if (user) { %>

    <div class="container-fluid d-flex justify-content-start py-2" style="background-color: #9200ff;">
      <span class="ms-2 p-0" style="font-weight: 400; color: #ffde00;"> <b> Siguiendome </b>  </span>
    </div>  

    <div class="container-fluid d-flex justify-content-end my-2 border-bottom border-secondary">
        
      <% if (followMeCount) { %>
        <span class="px-4 py-2 me-4 themaTextLight">Siguendome : <span class="alert-secondary ms-2 p-2 rounded-2"><%= followMeCount %></span> </span>
      <% } %>
         
    </div>
    <div class="row m-0 d-flex justify-content-center SectionPublish" style="height: max-content; width: 100%;">

            <div class="col-lg-10  my-4 p-0" >
                
                <div class="mainTable" style="overflow-x: auto; width: 100%;"> 
                    <table class="table m-0 tableStyle">
                        
                        <tr>
                            <th>Avatar</th><th>Username</th><th>State</th><th>Active</th>
                        </tr>
                        <% if (newBox) { %>
                            <% newBox.forEach( (ele, i)=>{ %>

                        <tr>
                             <% if (ele.avatarPerfil[0].url.length === 0 ) {%>
                             <td> <a href="/account/<%= ele.username %>"> <img src="https://www.gravatar.com/avatar/<%= ele.mailhash %>?d=identicon" class="rounded-1" style="width: 45px; height: 45px;"> </a></td>   
                             <% } else {%>
                             <td> <a href="/account/<%= ele.username %>"> <img src="<%= ele.avatarPerfil[0].url %>" class="rounded-1" style="width: 45px; height: 45px"> </a></td>
                             <% }; %>

                             <td><a href="/account/<%= ele.username %>"> <%= ele.username %></a></td>
                             <td><%= ele.states %></td>

                                <% if (ele.paused == true ) { %>
                                    <td> <div class="blockRed"> </div> </td>
                                <% } else { %>
                                    <td> <div class="blockGreen"> </div> </td>
                                <% } %>   
                             
                        </tr>
                            <% }); %>
                        <% }; %>  

                    </table>
                </div>
                <% if (newBox.length !==0) { %>
                <div class="paginate elementPaginate my-3">
                    <nav aria-label="...">
                      <ul class="pagination  m-0" >
                        <% if (paginate) { %>

                          <% if ( paginate.pagina == 1 ) { %>
                          <li class="page-item disabled">
                            <a class="page-link" href="?paginate=first"> <i class="bi bi-arrow-bar-left"></i> 1</a>
                          </li>
                          <% } else { %>
                            <li class="page-item">
                              <a class="page-link" href="?paginate=first"> <i class="bi bi-arrow-bar-left"></i> 1</a>
                            </li>  
                          <% }; %>  

                          <% if ( paginate.pagina == 1 ) { %>
                          <li class="page-item prev disabled">
                            <a class="page-link" href="?paginate=prev"> Prev</a>
                          </li>
                          <% } else { %>
                          <li class="page-item prev">
                            <a class="page-link" href="?paginate=prev"> Prev </a>
                          </li>  
                          <% }; %>
                          <li class="page-item active">
                            <span class="page-link pagina"><%= paginate.pagina %></span>
                          </li>
                          <% if ( paginate.pagina == paginate.totalPagina ) { %>
                          <li class="page-item next disabled">
                            <a class="page-link" href="?paginate=next"> Next</i></a>
                          </li>
                          <% } else { %>
                          <li class="page-item next">
                            <a class="page-link" href="?paginate=next"> Next</i> </a>
                          </li>  
                          <% }; %>

                          <% if ( paginate.pagina == paginate.totalPagina ) { %>
                          <li class="page-item disabled">
                            <a class="page-link" href="?paginate=last"> <%= paginate.totalPagina %> <i class="bi bi-arrow-bar-right"></i></a>
                          </li>
                          <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="?paginate=last"> <%= paginate.totalPagina %> <i class="bi bi-arrow-bar-right"></i></a>
                          </li>  
                          <% }; %>  

                        <% }; %>
                      </ul>
                    </nav>
                </div>
                <% }; %>    
            </div> 
    
    </div>
    <% } else { %>
        <div class="container-fluid d-flex justify-content-center p-3" style="height: 100%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
    
            <%- include('../partials/noLogin.ejs') %>
        
          </div> 
    <% }; %> 

  </main>
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>
</body>
</html>

