<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Blissenet Venezuela</title>
</head>
<style>

  .textLight{
    /* trabaja en conjunto con themaTextLight */
    color: white;
  }

  .departGroup {
    background-color: rgb(197, 103, 103);
    border: 1px ridge brown;
    list-style: none;
    margin: 0;
  }

  .departList {
    background-color: rgb(243, 205, 205);
    padding: 0px 8px;
    color: rgb(54, 52, 49);
    border-radius: 12px;
  }
 



.gallery-masonry{
    background-color: #333;
    background-color: white;
}

/* ///// footerCSS \\\\\ */
.close{
    display: none;
    
}

.mainMail{
    cursor: pointer;
    border: 1px solid black
}

.mainMail:hover{
    cursor: pointer;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.itemOption{
    cursor: pointer;
    transition: 0.5s;
}

.itemOption:hover{
    .linkOptions{
        text-decoration: underline blueviolet;
        color: blueviolet;
        text-decoration: none;
        
    }
}

.linkOptions{
    cursor: pointer;
    text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  color: blueviolet;
}
/* end footer */


@media screen and (min-width: 1025px) and (max-width: 1900px){


    .imgStore{
        width: 60px;
        height: 60px;
        transition: 0.3s;
        margin: 1px;
    }
    .imgStore:hover{
        outline : 2px solid lightseagreen;
    }


    .imgGalley{
        max-width: 120px;
    }

    .gallery, .galleryMoreView{
        columns: 10 120px;
        column-gap: 1px;
    }



}

@media screen and (min-width: 451px) and (max-width: 1024px){

    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }
    .imgStore:hover{
        outline : 2px solid lightseagreen;
    }

    .imgGalley{
        max-width: 100px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        margin: 5px;
        /* border: 2px solid rgb(240, 236, 8); */
        columns: 10 100px;
        column-gap: 1px;
    }

    .content-item{
      flex-direction: column;
   
    } 

    .imgNews{
      width: 100%;
    }

}

@media screen and (min-width: 220px) and (max-width: 450px){
    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }
    .imgStore:hover{
        outline : 2px solid lightseagreen;
    }
    
    .content-item{
      flex-direction: column;
    }    
   
    .imgNews{
      width: 100%;
    }

    .imgGalley{
        max-width: 65px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        /* border: 2px solid rgb(4, 0, 255); */
        columns: 10 65px;
        column-gap: 1px;
    }

}


</style>

<body class="mainTheme">


  <main>

    <%- include('../partials/navi-simple.ejs') %>

      <% if (success) { %>
        <%- include('../alert/success.ejs') %>
      <% }; %>

      <% if (stopped) { %>
        <%- include('../alert/stopped.ejs') %>
      <% }; %>

      <% if (dataLocked) { %>
        <%- include('../alert/dataLocked.ejs') %>
      <% }; %>

      

        <div class="row mx-0">
            <div class="col-lg-12 p-0" style="background-color: #e9ecef";>

                <div class="barrHorizontIcon  p-0 m-0 d-flex justify-content-center flex-wrap border-bottom border-dark" style="width: 100%;">
                  <ul class="d-flex my-1 py-1 justify-content-between" style="overflow-x: auto; width: 90%;">
                    <a href="/view-store" class="text-decoration-none mx-4 p-0 tiendas"><img src="/img/tiendaHome.png" alt="" title="Tiendas" class="rounded-pill storeIcon border border-light shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-raffles" class="text-decoration-none mx-4 p-0 raffle" title="Sorteos" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-artes" class="text-decoration-none mx-4 p-0 arteGallery" title="Galeria de Arte" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-airplanes" class="text-decoration-none mx-4 p-0 aeronautica" title="Aeronáuticos" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-items" class="text-decoration-none mx-4 p-0 articulo" title="Articulos" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-automotive" class="text-decoration-none mx-4 p-0 automotriz" title="Automotriz" style="width: 40px; height: 40px;"> </a> 
                    <a href="/view-realstate" class="text-decoration-none mx-4 p-0 bienesraices" title="Bienes Raíces" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-nautical" class="text-decoration-none mx-4 p-0 nautico" title="Náuticos" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-services" class="text-decoration-none mx-4 p-0 servicio" title="Servicios" style="width: 40px; height: 40px;"> </a>
                    <a href="/view-auction" class="text-decoration-none mx-4 p-0 subasta" title="Subastas" style="width: 40px; height: 40px;"> </a>
                  </ul>
                </div>

            </div>
            <div class="container-fluid p-0">
              <div class="row rowWidth m-0">
                <div class="col-12 p-0">
                  
                    <%- include('../partials/bannerFront.ejs') %>
                  
                </div>
                


                <div class="col-12 contentCurrentShowNewsDay my-5" style="height: auto">

                  <% if (currentNewsDay) { %>
                      <div id="carouselExampleIndicators" class="carousel carousel-fade slide" data-bs-ride="carousel" style="height: auto;"> <!-- 210px -->
                          <div class="carousel-indicators">
                            <% currentNewsDay.forEach((ele, i)=>{  %>
                                
                                <% if (i === 0 ) { %>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="active" aria-current="true" aria-label="Slide <%= i + 1 %>" style="background-color: black;"></button>
                                <% } else { %>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i + 1 %>" style="background-color: black;"></button>
                                <% }; %>    

                            <% }); %>                                                
                          </div>

                          <div class="carousel-inner">
                          <% currentNewsDay.forEach((ele, i)=>{  %>

                              <% if (i === 0 ) { %>
                                  <div class="carousel-item active">

                                      <div class="content-item d-flex">
                                          <div class="contentImg"><img src="<%= ele.url %>" class="imgNews me-3" alt="..." style="max-height: 200px; max-width: 500px;"></div>
                                          <div class="contenDetails d-flex flex-column">
                                              <p style="font-weight: bold; font-size: 24px;"><%= ele.newDayTitle %></p>
                                              <p style="font-size: 20px;"><%= ele.newDayDetails %></p>
                                              <div class="contenAuthorDate d-flex justify-content-end my-0" >
                                                  <span class="me-1 fst-italic"><%= ele.adminName %></span>
                                                  <span>(<%= ele.simplifiedDate %>)</span>
                                              </div>
                                          </div>
                                      </div>
                                    
                                  </div>
                              <% } else { %>
                                  <div class="carousel-item">
                                      <div class="content-item d-flex">
                                          <div class="contentImg"><img src="<%= ele.url %>" class="imgNews me-3" alt="..." style="max-height: 200px; max-width: 500px;"></div>
                                          <div class="contenDetails d-flex flex-column">
                                              <p style="font-weight: bold; font-size: 24px;"><%= ele.newDayTitle %></p>
                                              <p style="font-size: 20px;"><%= ele.newDayDetails %></p>
                                              <div class="contenAuthorDate d-flex justify-content-end my-0">
                                                  <span class="me-1 fst-italic"><%= ele.adminName %></span>
                                                  <span>(<%= ele.simplifiedDate %>)</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              <% }; %>    

                          <% }); %>
                          </div>

                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                      </div>
                  <% }; %>

                </div>

                <div class="row contentMosacicoPorcentMarket m-0 py-5 d-flex justify-content-around" style="background-color: whitesmoke;">
                    
                    <div class="border border-light boxTopStore col-lg-6 col-md-12 col-sm-12" style="position: relative">                 
                      <div class="textTitle">
                        <span class="text-secondary mt-1" style="font-size: 26px;">Top 50 Tiendas + Visitadas</span>
                      </div>
                      <div class="Top50Stores d-flex flex-wrap">
  
                      </div>
                    </div>      
                    
                    <div class="border border-light boxPercentMarket col-lg-5 col-md-12 col-sm-12 border border-danger">
                     
                      <div class="textTitle">
                        <span class="text-secondary mt-1" style="font-size: 26px;">Indice de Mercado Dominante</span>
                      </div>
                      <div>
                        <canvas id="myChart"></canvas>
                      </div>

                    </div>

                </div>
                <div class="gallery-masonry p-2" id="newADS">
                  <div class="textTitle">
                      <span class="text-secondary" style="font-size: 26px;">últimas Publicaciones</span>
                  </div>
                  <div class="gallery">

                  </div>
                </div>

                <div class="gallery-masonry p-2" id="moreViewADS">
                  <div class="textTitle">
                      <span class="text-secondary" style="font-size: 26px;">Publicaciones más vistas</span>
                  </div>
                  <div class="galleryMoreView">

                  </div>
                </div>

              </div>
            </div>
        </div>    
        <%- include('../partials/footer.ejs') %>

          

  </main>
  
  
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simple.ejs') %>
 
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

   //aqui colocaremos el script del Top 50 Store
   const Top50Stores = document.querySelector('.Top50Stores');

   fetch("/mosaico-store-view", { 
            method: "GET",
            headers: { "Content-Type" : "applications/json"}
        })
        .then(response =>response.json() )
        .then( top50Store => {
            //console.log('top50Store', top50Store);
          if (top50Store.length !==0){
              for (let i = 0; i < top50Store.length; i++) {
                  const ele = top50Store[i];
                
                  if (ele.avatarPerfil[0].url.length === 0 ){
                  
                    Top50Stores.innerHTML += ` <div class="boxNewAds"> <a href= "/account/${ele.username}"> <img src= "https://www.gravatar.com/avatar/${ele.mailhash}?d=identicon" class="imgStore"> </a> </div> `
                  } else {
                  
                    Top50Stores.innerHTML += ` <div class="boxNewAds"> <a href= "/account/${ele.username}"> <img src= "${ele.avatarPerfil[0].url}" class="imgStore"> </a> </div> `                                                                   
          
                  }
              
              }
          } else{

            Top50Stores.innerHTML = `
                          <div class="alert alert-secondary">
                              <span style="font-size: 18px color: gray"> NO hay Datos. Base de Datos En limpio </span>  
                          </div>
                          `

          }
        })
        .catch( err => console.log(err));

</script>

<script>

    const ctx = document.getElementById('myChart');
    const contentBarArts = document.querySelector('.contentBarArts');
    const contentBarAero = document.querySelector('.contentBarAero');
    const contentBarItem = document.querySelector('.contentBarItem');
    const contentBarAuto = document.querySelector('.contentBarAuto');
    const contentBarReal = document.querySelector('.contentBarReal');
    const contentBarNaut = document.querySelector('.contentBarNaut');
    const contentBarServ = document.querySelector('.contentBarServ');
    const contentBarSuba = document.querySelector('.contentBarSuba');
           
    fetch('/percent', {

    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(respPercent =>respPercent.json() )
      .then( jsonP => {
        //console.log("esto es percent --->", jsonP)
  
            const arte = jsonP[0].arte;
            const aero = jsonP[1].aeronautico;
            const item = jsonP[2].items;
            const auto = jsonP[3].automotriz;
            const real = jsonP[4].realstate;
            const naut = jsonP[5].nautico;
            const serv = jsonP[6].servicio;
            const suba = jsonP[7].subasta;

            const sum = (arte + aero + item + auto + real + naut + serv + suba);

            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Artes', 'Aeron', 'Items', 'Autom', 'Reals', 'Nauti', 'Servi', 'Subas'],
                datasets: [{
                  label: 'Dominan Market',
                  data: [arte, aero, item, auto, real, naut, serv, suba],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                },
                /* responsive: true, */
                plugins : {legend: { position: 'bottom'}, title: { display: true }}
              }
            });
   

      })
      .catch(err => console.log(err))
  
</script>

 
<script>
  const contentGallery = document.querySelector('.gallery');
  const moreViewADS = document.getElementById('moreViewADS');
  const newADS = document.getElementById('newADS'); 

  fetch('/mosaico', {

    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(response =>response.json() )
      .then( gallery => {
              //gallery es un array

              if (gallery. length !== 0){
                const boxGallery = gallery.sort((a, b)=>
                  { return new Date(b.createdAt) - new Date(a.createdAt)});
                  /* a.updatedAt.localeCompare(b.updatedAt) */
                
                //console.log("boxGallery : ",boxGallery)
                for (let i = 0; i < boxGallery.length; i++) {
                  const ele = boxGallery[i];
                                                              
                  contentGallery.innerHTML += ` <div class="boxNewAds"> <a href= "/product/${ele.department}/${ele._id}"> <img src= "${ele.images[0].url}" class="imgGalley"> </a> </div> `
                }
              } else {

                newADS.innerHTML = "" 

              }  
              
            })
      .catch(err => console.log(err))     


</script>

<script>

  const galleryMoreView = document.querySelector('.galleryMoreView');

  fetch('/mosaico-more-view', {
    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(response =>response.json())
      .then( moreView =>{
         //console.log("moreView :", moreView)
         
        if (moreView.length !==0){ 
            for (let i = 0; i < moreView.length; i++) {
                    const ele = moreView[i];
                                                                
                    galleryMoreView.innerHTML += ` <div class="boxNewAds"> <a href= "/product/${ele.department}/${ele._id}"> <img src= "${ele.images[0].url}" class="imgGalley"> </a> </div> `
            }

        } else {
            moreViewADS.innerHTML = "";
        }    

          
      })
      .catch(err => console.log(err))

  
</script>


<!-- <style>

@media screen and (min-width: 510px) and (max-width: 900px ){

.content-item{
  flex-direction: column;
   
} 

.imgNews{
  width: 100%;
}


}
      
  @media screen and (min-width: 180px) and (max-width: 510px ){

    .content-item{
      flex-direction: column;
    }    
   
    .imgNews{
      width: 100%;
    }

  } 
  
</style> -->

</body>

</html>