<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Blissenet Venezuela</title>
</head>
<style>

  .textLight{
    /* trabaja en conjunto con themaTextLight */
    color: white;
  }

  .departGroup {
    background-color: rgb(197, 103, 103);
    border: 1px ridge brown;
    list-style: none;
    margin: 0;
  }

  .departList {
    background-color: rgb(243, 205, 205);
    padding: 0px 8px;
    color: rgb(54, 52, 49);
    border-radius: 12px;
  }
 



.gallery-masonry{
    background-color: #333;
    background-color: white;
}


 


/* ///// footerCSS \\\\\ */
.close{
    display: none;
    
}

.mainMail{
    cursor: pointer;
    border: 1px solid black
}

.mainMail:hover{
    cursor: pointer;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.itemOption{
    cursor: pointer;
    transition: 0.5s;
}

.itemOption:hover{
    .linkOptions{
        text-decoration: underline blueviolet;
        color: blueviolet;
        text-decoration: none;
        
    }
}

.linkOptions{
    cursor: pointer;
    text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  color: blueviolet;
}
/* end footer */

@media screen and (min-width: 1901px) and (max-width: 2600px){


.imgStore{
    width: 60px;
    height: 60px;
    transition: 0.3s;
    margin: 1px;
}
.imgStore:hover{
    outline : 2px solid lightseagreen;
}


.imgGalley{
    max-width: 120px;
}

.gallery, .galleryMoreView{
    columns: 10 120px;
    column-gap: 1px;
}

}


@media screen and (min-width: 1025px) and (max-width: 1900px){


    .imgStore{
        width: 60px;
        height: 60px;
        transition: 0.3s;
        margin: 1px;
    }
    .imgStore:hover{
        outline : 2px solid lightseagreen;
    }


    .imgGalley{
        max-width: 120px;
    }

    .gallery, .galleryMoreView{
        columns: 10 120px;
        column-gap: 1px;
    }

}

@media screen and (min-width: 451px) and (max-width: 1024px){

    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }
    .imgStore:hover{
        outline : 2px solid lightseagreen;
    }

    .imgGalley{
        max-width: 100px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        margin: 5px;
        /* border: 2px solid rgb(240, 236, 8); */
        columns: 10 100px;
        column-gap: 1px;
    }

    .content-item{
      flex-direction: column;
   
    } 

    .imgNews{
      width: 100%;
    }

}

@media screen and (min-width: 220px) and (max-width: 450px){
    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }
    .imgStore:hover{
        outline : 2px solid lightseagreen;
    }
    
    .content-item{
      flex-direction: column;
    }    
   
    .imgNews{
      width: 100%;
    }

    .imgGalley{
        max-width: 65px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        /* border: 2px solid rgb(4, 0, 255); */
        columns: 10 65px;
        column-gap: 1px;
    }

}


</style>

<body class="mainTheme">


  <main>

    <%- include('../partials/navi-simple.ejs') %>

      <% if (success) { %>
        <%- include('../alert/success.ejs') %>
      <% }; %>

      <% if (stopped) { %>
        <%- include('../alert/stopped.ejs') %>
      <% }; %>

      <% if (dataLocked) { %>
        <%- include('../alert/dataLocked.ejs') %>
      <% }; %>

      

        <div class="row mx-0">
            <div class="col-lg-12 px-0 py-2 shadow-sm" style="background: linear-gradient(90deg, rgba(255,222,93,1) 0%, rgba(240,197,30,1) 54%, rgb(255, 165, 40) 100%);";>
                <audio src="/sound/Icon-efect.mp3" id="efectIcon"></audio>
                <div class="barrHorizontIcon  p-0 m-0 d-flex justify-content-center flex-wrap" style="width: 100%;">
                  <ul class="d-flex my-1 py-1 justify-content-between" style="overflow-x: auto; width: 90%;">
                    <a href="/view-store" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect"><img src="/img/tiendaHome.png" alt="" title="Tiendas" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-raffles" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-raffleW.png" alt="" title="Sorteos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-artes" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-arteGalleryW.png" alt="" title="Artes" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-airplanes" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-aeronauticaW.png" alt="" title="Aeronáuticos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-items" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-articuloW.png" alt="" title="Articulos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-automotive" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-automotrizW.png" alt="" title="Automotriz" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-realstate" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-bienesRaicesW.png" alt="" title="Bienes Raices" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-nautical" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-nauticoW.png" alt="" title="Náuticos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-services" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-servicioW.png" alt="" title="Servicios" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                    <a href="/view-auction" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-subastaW.png" alt="" title="Subastas" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
                  </ul>
                  
                </div>

            </div>
            
            <div class="container-fluid p-0">
              <div class="row rowWidth m-0">
                <div class="col-12 p-0" style="position: relative; overflow: hidden;">
                  
                    <%- include('../partials/bannerFront.ejs') %>

                  <div class="contentAlert" style="z-index: 200; position: absolute; top: 0; right: -1000px;">
                    <!-- dinamico -->
                  </div>  
                  
                </div>
                


                <div class="col-12 contentCurrentShowNewsDay my-5" style="height: auto">

                  <% if (currentNewsDay) { %>
                      <div id="carouselNewsDay" class="carousel carousel-fade slide" style="height: auto;"> <!-- 210px -->
                          <div class="carousel-indicators">
                            <% currentNewsDay.forEach((ele, i)=>{  %>
                                
                                <% if (i === 0 ) { %>
                                    <button type="button" data-bs-target="#carouselNewsDay" data-bs-slide-to="<%= i %>" class="active" aria-current="true" aria-label="Slide <%= i + 1 %>" style="background-color: black;"></button>
                                <% } else { %>
                                    <button type="button" data-bs-target="#carouselNewsDay" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i + 1 %>" style="background-color: black;"></button>
                                <% }; %>    

                            <% }); %>                                                
                          </div>

                          <div class="carousel-inner">
                          <% currentNewsDay.forEach((ele, i)=>{  %>

                              <% if (i === 0 ) { %>
                                  <div class="carousel-item active">

                                      <div class="content-item d-flex">
                                          <div class="contentImg"><img src="<%= ele.url %>" class="imgNews me-3" alt="..." style="max-height: 200px; max-width: 500px;"></div>
                                          <div class="contenDetails d-flex flex-column">
                                              <p style="font-weight: bold; font-size: 24px;"><%= ele.newDayTitle %></p>
                                              <p style="font-size: 20px;"><%= ele.newDayDetails %></p>
                                              <div class="contenAuthorDate d-flex justify-content-end my-0" >
                                                  <span class="me-1 fst-italic"><%= ele.adminName %></span>
                                                  <span>(<%= ele.simplifiedDate %>)</span>
                                              </div>
                                          </div>
                                      </div>
                                    
                                  </div>
                              <% } else { %>
                                  <div class="carousel-item">
                                      <div class="content-item d-flex">
                                          <div class="contentImg"><img src="<%= ele.url %>" class="imgNews me-3" alt="..." style="max-height: 200px; max-width: 500px;"></div>
                                          <div class="contenDetails d-flex flex-column">
                                              <p style="font-weight: bold; font-size: 24px;"><%= ele.newDayTitle %></p>
                                              <p style="font-size: 20px;"><%= ele.newDayDetails %></p>
                                              <div class="contenAuthorDate d-flex justify-content-end my-0">
                                                  <span class="me-1 fst-italic"><%= ele.adminName %></span>
                                                  <span>(<%= ele.simplifiedDate %>)</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              <% }; %>    

                          <% }); %>
                          </div>

                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselNewsDay" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselNewsDay" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                      </div>
                  <% }; %>

                </div>

                <div class="row contentMosacicoPorcentMarket m-0 py-5 d-flex justify-content-around" style="background-color: whitesmoke;">
                    
                    <div class="border border-light boxTopStore col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12" style="position: relative">                 
                      <div class="textTitle">
                        <span class="text-secondary mt-1" style="font-size: 26px;">Top 50 Tiendas + Visitadas</span>
                      </div>
                      <div class="Top50Stores d-flex flex-wrap">
  
                      </div>
                    </div>      
                    
                    <div class="border border-light boxPercentMarket col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                     
                      <div class="textTitle">
                        <span class="text-secondary mt-1" style="font-size: 26px;">Indice de Mercado Dominante</span>
                      </div>
                      <div>
                        <canvas id="myChart"></canvas>
                      </div>

                    </div>

                </div>
                <div class="gallery-masonry p-2" id="newADS">
                  <div class="textTitle">
                      <span class="text-secondary" style="font-size: 26px;">últimas Publicaciones</span>
                  </div>
                  <div class="gallery">

                  </div>
                </div>

                <div class="gallery-masonry p-2" id="moreViewADS">
                  <div class="textTitle">
                      <span class="text-secondary" style="font-size: 26px;">Publicaciones más vistas</span>
                  </div>
                  <div class="galleryMoreView">

                  </div>
                </div>

              </div>
            </div>
        </div>
        
        <%- include('../partials/footer.ejs') %>

          

  </main>
  
  
  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simple.ejs') %>
 
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  //script que solicita informacion si es un usuario sin perfil. nos interesa saber si tiene o no tiene perfil creado.

  const contentAlert = document.querySelector('.contentAlert');

  fetch("/alertNotProfile", {
    method: "GET",
    headers: { "Content-Type" : "applications/json" }
  })
    .then(response =>response.json() )
    .then( jsonx => {
      console.log("alertNotProfile -->", jsonx)
        const account = jsonx.profile
      if (account.length === 0){

        setTimeout(alertMessage, 2000)
        function alertMessage(){
          console.log("Esta cuenta no tiene perfil y debemos enviar la alerta")
          contentAlert.innerHTML += `<div class="alert alert-light alert-dismissible fade show m-0 border" role="alert" style="border-radius: 0px" >
                                        <strong> ¡Crea tu perfil para ser visible! Sin él, no podrán encontrarte. Solo te llevará 1 minuto. <a href="/myaccount/profile">¡Hazlo aquí!</a> </strong> 
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>`

          setTimeout(animationAlert, 1000)

          function animationAlert(){

            console.log("Aquí la animación del alert");

            contentAlert.style.transitionProperty = 'right';
            contentAlert.style.transitionDuration = '6s';
            contentAlert.style.right = "0px";

            
          }

        }

      } 
    })
    .catch( err => console.log(err));

</script>  

<script>
  //este es el tiempo que tarda en pasar cada diapositiva.
  /* <div id="carouselNewsDay" class="carousel carousel-fade slide" data-bs-ride="carousel" style="height: auto;"> data-bs-ride este atributo lo hemos quitado para que no interfiera en el movimiento */
  document.addEventListener("DOMContentLoaded", function(){
    
    //tiempo del carousel carouselNewsDay
    let carouselNewsDay = document.getElementById('carouselNewsDay');
    

    function nextSlide(carousel, interval){
      let slides = carousel.querySelectorAll('.carousel-item');
      //console.log("slides (diapositiva) --->", slides)
      let currentIndex = 0;
      
      setInterval(()=>{
        //console.log("moviendo el carouselNewsDay");
        
        slides[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + 1) % slides.length;
        //console.log("currentIndex --->", currentIndex)
        slides[currentIndex].classList.add('active');
      }, interval);
    }

    //configuracion de tiempo 
    nextSlide(carouselNewsDay, 30000);

});

</script>

<script>

   //aqui colocaremos el script del Top 50 Store
   const Top50Stores = document.querySelector('.Top50Stores');

   fetch("/mosaico-store-view", { 
            method: "GET",
            headers: { "Content-Type" : "applications/json"}
        })
        .then(response =>response.json() )
        .then( top50Store => {
            //console.log('top50Store', top50Store);
          if (top50Store.length !==0){
              for (let i = 0; i < top50Store.length; i++) {
                  const ele = top50Store[i];
                
                  if (ele.avatarPerfil[0].url.length === 0 ){
                  
                    Top50Stores.innerHTML += ` <div class="boxNewAds"> <a href= "/account/${ele.username}"> <img src= "https://www.gravatar.com/avatar/${ele.mailhash}?d=identicon" class="imgStore"> </a> </div> `
                  } else {
                  
                    Top50Stores.innerHTML += ` <div class="boxNewAds"> <a href= "/account/${ele.username}"> <img src= "${ele.avatarPerfil[0].url}" class="imgStore"> </a> </div> `                                                                   
          
                  }
              
              }
          } else{

            Top50Stores.innerHTML = `
                          <div class="alert alert-secondary">
                              <span style="font-size: 18px color: gray"> NO hay Datos. Base de Datos En limpio </span>  
                          </div>
                          `

          }
        })
        .catch( err => console.log(err));

</script>

<script>
   //script que recrea las barras del mercado dominante
    const ctx = document.getElementById('myChart');
    const contentBarArts = document.querySelector('.contentBarArts');
    const contentBarAero = document.querySelector('.contentBarAero');
    const contentBarItem = document.querySelector('.contentBarItem');
    const contentBarAuto = document.querySelector('.contentBarAuto');
    const contentBarReal = document.querySelector('.contentBarReal');
    const contentBarNaut = document.querySelector('.contentBarNaut');
    const contentBarServ = document.querySelector('.contentBarServ');
    const contentBarSuba = document.querySelector('.contentBarSuba');
           
    fetch('/percent', {

    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(respPercent =>respPercent.json() )
      .then( jsonP => {
        //console.log("esto es percent --->", jsonP)
  
            const arte = jsonP[0].arte;
            const aero = jsonP[1].aeronautico;
            const item = jsonP[2].items;
            const auto = jsonP[3].automotriz;
            const real = jsonP[4].realstate;
            const naut = jsonP[5].nautico;
            const serv = jsonP[6].servicio;
            const suba = jsonP[7].subasta;

            const sum = (arte + aero + item + auto + real + naut + serv + suba);

            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Artes', 'Aeron', 'Items', 'Autom', 'Reals', 'Nauti', 'Servi', 'Subas'],
                datasets: [{
                  label: 'Dominan Market',
                  data: [arte, aero, item, auto, real, naut, serv, suba],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                },
                /* responsive: true, */
                plugins : {legend: { position: 'bottom'}, title: { display: true }}
              }
            });
   

      })
      .catch(err => console.log(err))
  
</script>
 
<script>

  //script que genera el mosaico de imaganes
  const contentGallery = document.querySelector('.gallery');
  const moreViewADS = document.getElementById('moreViewADS');
  const newADS = document.getElementById('newADS'); 

  fetch('/mosaico', {

    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(response =>response.json() )
      .then( gallery => {
              //gallery es un array

              if (gallery. length !== 0){
                const boxGallery = gallery.sort((a, b)=>
                  { return new Date(b.createdAt) - new Date(a.createdAt)});
                  /* a.updatedAt.localeCompare(b.updatedAt) */
                
                //console.log("boxGallery : ",boxGallery)
                for (let i = 0; i < boxGallery.length; i++) {
                  const ele = boxGallery[i];
                                                              
                  contentGallery.innerHTML += ` <div class="boxNewAds"> <a href= "/product/${ele.department}/${ele._id}"> <img src= "${ele.images[0].url}" class="imgGalley"> </a> </div> `
                }
              } else {

                newADS.innerHTML = "" 

              }  
              
            })
      .catch(err => console.log(err))     


</script>

<script>
  //script que recrea las galeria de mas vistas
  const galleryMoreView = document.querySelector('.galleryMoreView');

  fetch('/mosaico-more-view', {
    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(response =>response.json())
      .then( moreView =>{
         //console.log("moreView :", moreView)
         
        if (moreView.length !==0){ 
            for (let i = 0; i < moreView.length; i++) {
                    const ele = moreView[i];
                                                                
                    galleryMoreView.innerHTML += ` <div class="boxNewAds"> <a href= "/product/${ele.department}/${ele._id}"> <img src= "${ele.images[0].url}" class="imgGalley"> </a> </div> `
            }

        } else {
            moreViewADS.innerHTML = "";
        }    

          
      })
      .catch(err => console.log(err))

  
</script>



</body>

</html>