<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/toastr/toastr.min.css"> <!-- tiene que despues del CDN de bootstrap -->
    <script src="/toastr/toastr.min.js"></script>

    <link rel="manifest" href="/manifest.json">
        
    <title>Blissenet</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Que es Blissenet?">
    <meta property="og:description" content="Blissenet es una red comercial diseñada para facilitar la conexión entre clientes y comerciantes. Además, te ofrece la posibilidad de crear tu propio e-commerce de manera gratuita y en solo un minuto. Personaliza tu tienda con tu banner y logo para publicar lo que desees.">
    <meta property="og:image" content="/img/iconManifest-192x192.png">
    <meta property="og:url" content="https://blissenet.com">    
    <meta property="og:site_name" content="Blissenet">
    <meta name= "twitter:card" content="summary_large_image">
    <meta name= "twitter:title" content="Que es Blissenet?">
    <meta name= "twitter:description" content="Blissenet es un Marketplace que te permite crear tu propio e-commerce gratuito en solo un minuto. Estilízalo con tu banner y logo para publicar lo que desees.">
    <meta name= "twitter:image" content="/img/iconManifest-192x192.png">
    <meta name= "twitter:url" content="https://blissenet.com">


    <meta name="description" content="Crea tu e-commerce con anuncios ilimitados y organiza sorteos, rifas y subastas fácilmente con Blissenet. Únete a nuestra plataforma y gestiona tus eventos comerciales en la web.">
    <meta name="keywords" content="e-commerce, tiendas, sorteos, rifas, subastas, auction, artículos, autos, bienes raíces, servicios, Blissenet">
</head>
<style>

  .hideOverflow{
    overflow: hidden;
  }

  .imageContainer {
      position: relative; /* Necesario para posicionar el span */
      display: inline-block; /* Asegura que el contenedor ajuste al tamaño de la imagen */
  }

  .lugarTop {
      position: absolute;
      top: 50%; /* Centra verticalmente */
      left: 50%; /* Centra horizontalmente */
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%); /* Ajusta para centrar completamente */
      color: white; /* Cambia el color según tu diseño */
      font-size: 22px; /* Ajusta el tamaño según prefieras */
      font-weight: 700;
      background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para mejor visibilidad */
      padding: 5px; /* Espaciado alrededor del número */
      border-radius: 1px; /* Bordes redondeados */
      display: flex; /* Permite centrar el contenido */
      align-items: center; /* Centra verticalmente el número */
      justify-content: center; /* Centra horizontalmente el número */
      text-align: center; /* Asegura que el texto esté centrado */
      opacity: 0;
      transition: 1s ease;
  }

  .lugarTop:hover{
    opacity: 1;
  }

  .toast-success {
      /* Esta clase es unicamente para dar color al alert toastr de tipo success que debe ser violeta */
        background-color: #6f42c1; /* Azul tirando a morado */
        color: white; /* Color del texto */
  }    

  .textLight{
    /* trabaja en conjunto con themaTextLight */
    color: white;
  }

  .departGroup {
    background-color: rgb(197, 103, 103);
    border: 1px ridge brown;
    list-style: none;
    margin: 0;
  }

  .departList {
    background-color: rgb(243, 205, 205);
    padding: 0px 8px;
    color: rgb(54, 52, 49);
    border-radius: 12px;
  }
 



.gallery-masonry{
    background-color: #333;
    background-color: white;
}

.containerLastStore {
  animation: blendColors 8s linear infinite;
}

@keyframes blendColors {
  0% {
    background-color: rgba(111, 66, 193, 0.9);
  }
  50% {
    background-color: rgba(55, 46, 184, 0.9);
  }
  100% {
   background-color: rgba(111, 66, 193, 0.9);
  }
}

/* ///// footerCSS \\\\\ */
.close{
    display: none;
    
}

.mainMail{
    cursor: pointer;
    border: 1px solid black
}

.mainMail:hover{
    cursor: pointer;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.itemOption{
    cursor: pointer;
    transition: 0.5s;
}

.itemOption:hover{
    .linkOptions{
        text-decoration: underline blueviolet;
        color: blueviolet;
        text-decoration: none;
        
    }
}

.linkOptions{
    cursor: pointer;
    text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  color: blueviolet;
}



/* end footer */

@media screen and (min-width: 1901px) and (max-width: 2600px){

  .imageBanner{
    width: 2000px;
  }

  .imgStore{
      width: 60px;
      height: 60px;
      transition: 0.3s;
      margin: 1px;
      object-fit: cover;
  }

  .contentStoreLast{
    margin: 8px 8px;
  }

  .contentStoreLast:hover{
    outline: 2px solid white;
  }

  .usernameCountry{ font-size: 14px; width: 120px; }

  .imgGalley{
      max-width: 120px;
  }

  .gallery, .galleryMoreView{
      columns: 10 120px;
      column-gap: 1px;
  }


}


@media screen and (min-width: 1025px) and (max-width: 1900px){

    .imageBanner{
      width: 1320px;
    }

    .imgStore{
        width: 60px;
        height: 60px;
        transition: 0.3s;
        margin: 1px;
    }

    .contentStoreLast{
      margin: 6px 6px; 
      /* el primer valor es el eje y y el segundo es el x */
      transition: 1s ease outline;
      
    }

    .contentStoreLast:hover{
      outline: 2px solid white;
    }

    .usernameCountry{ font-size: 14px; width: 120px; }

    .imgGalley{
        max-width: 120px;
    }

    .gallery, .galleryMoreView{
        columns: 10 120px;
        column-gap: 1px;
    }

    .contentNewDay{
      flex-direction: row;
    }

    .contentImage{
      width: 35%;
    }

    .contentDetails{
      width: 60%;
      padding: 0px 20px;
    }

}

@media screen and (min-width: 451px) and (max-width: 1024px){

    .imageBanner{
      width: 860px;
    }

    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }

    .contentStoreLast{
      margin: 6px 6px; 
      /* el primer valor es el eje y y el segundo es el x */
    }

    .contentStoreLast:hover{
      outline: 2px solid white;
    }

    .usernameCountry{ font-size: 14px; width: 120px; }

    .imgGalley{
        max-width: 100px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        margin: 5px;
        /* border: 2px solid rgb(240, 236, 8); */
        columns: 10 100px;
        column-gap: 1px;
    }

    .content-item{
      flex-direction: column;
   
    } 

    .imgNews{
      width: 100%;
    }

    .contentNewDay{
      flex-direction: column;
    }

    .contentDetails{
      padding: 20px 0px;
    }


}

@media screen and (min-width: 391px) and (max-width: 450px){

    .imageBanner{
      width: 430px;
    }

    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }

    .contentStoreLast{
      margin: 6px 4px; 
      /* el primer valor es el eje y y el segundo es el x */
    }

    .contentStoreLast:hover{
      outline: 2px solid white;
    }
    
    .usernameCountry{ font-size: 14px; width: 120px; }

    .content-item{
      flex-direction: column;
    }    
   
    .imgNews{
      width: 100%;
    }

    .imgGalley{
        max-width: 65px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        /* border: 2px solid rgb(4, 0, 255); */
        columns: 10 65px;
        column-gap: 1px;
    }

    .contentNewDay{
      flex-direction: column;
    }

    .contentDetails{
      padding: 20px 0px;
    }
    

}

@media screen and (min-width: 351px) and (max-width: 390px){

    .imageBanner{
      width: 430px;
    }

    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }

    .contentStoreLast{
      margin: 6px 4px; 
      /* el primer valor es el eje y y el segundo es el x */
    }

    .contentStoreLast:hover{
      outline: 2px solid white;
    }
    
    .usernameCountry{ font-size: 14px; width: 100px; }

    .content-item{
      flex-direction: column;
    }    
   
    .imgNews{
      width: 100%;
    }

    .imgGalley{
        max-width: 65px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        /* border: 2px solid rgb(4, 0, 255); */
        columns: 10 65px;
        column-gap: 1px;
    }

    .contentNewDay{
      flex-direction: column;
    }

    .contentDetails{
      padding: 20px 0px;
    }
    

}

@media screen and (min-width: 220px) and (max-width: 350px){

    .imageBanner{
      width: 430px;
    }

    .imgStore{
        width: 50px;
        height: 50px;
        transition: 0.3s;
        margin: 1px;
    }

    .contentStoreLast{
      margin: 4px 3px; 
      /* el primer valor es el eje y y el segundo es el x */
    }

    .contentStoreLast:hover{
      outline: 2px solid white;
    }
    
    .usernameCountry{ font-size: 12px; width: 85px; }

    .content-item{
      flex-direction: column;
    }    
   
    .imgNews{
      width: 100%;
    }

    .imgGalley{
        max-width: 65px;
    }

    .gallery, .galleryMoreView, .Top30Stores{
        /* border: 2px solid rgb(4, 0, 255); */
        columns: 10 65px;
        column-gap: 1px;
    }

    .contentNewDay{
      flex-direction: column;
    }

    .contentDetails{
      padding: 20px 0px;
    }

} 


</style>

<body class="mainTheme">



    <main class="hideOverflow" style="position: relative;">

      <!-- este container es el spinner que veraz cuando un usuario carga un archivo de video o img de la barra de herramientas de los anuncios. -->
      <div class="loading">
        <div class="container-fluid d-flex align-items-center" style="position: absolute; top: 0; height: 100%; background-color: rgba(2, 2, 2, 1);">
            <div class="container d-flex flex-column justify-content-center align-items-center">   
                                  
                  <!--  <span class="loader m-5"></span> -->
                  <span class="d-flex align-items-center"> 
                    <img src="/img/iconManifest-192x192.png" alt="logo" class="me-2" style="width: 40px;"> 
                    <b> <span style="font-size: 30px;" class="text-light" >Blissenet</span><span style="font-size: 32px;" class="text-warning">.com</span> 
                    </b>
                  </span>  
                  <div class="loaderText mt-3"></div>
                                    
            </div>    
        </div>
      </div>  

      <div class="homePage invisible">

        <%- include('../partials/navi-simple.ejs') %>

        <%- include('../partials/modalGeolocation.ejs') %>


        <% if (success) { %>
          <%- include('../alert/success.ejs') %>
        <% }; %>

        <% if (stopped) { %>
          <%- include('../alert/stopped.ejs') %>
        <% }; %>

        <% if (dataLocked) { %>
          <%- include('../alert/dataLocked.ejs') %>
        <% }; %>

        <% if (methodLoging) { %>
          <%- include('../alert/methodLoging.ejs') %>
        <% }; %>

        <% if (user) { %>
          <% const seeMarket = user.seeMarket %>
          <% const idUser = user._id %>
          <input type="hidden" value="<%= seeMarket.countryMarketCode %>" id="seeMarket">
          <input type="hidden" value="<%= idUser %>" id= "idUser">
            <!-- este bloque me permite validad si el usuario que se logea tiene un mercado definido. sino lo tiene debe obligatoriamente hacerlo. --> 
        <% }; %>
        
          <div class="carril m-0"  id="afterNavHead">
      
            <marquee class="themaTextLight" behavior="scroll" direction="left">
                <span id="dateRateUpdate"></span>
            </marquee>

          </div>
    

          <div class="row mx-0 sectionTheme">

              <div class="col-lg-12 px-0 py-2 shadow-sm" style="background: rgb(250, 169, 57)";>
                  <audio src="/sound/Icon-efect.mp3" id="efectIcon"></audio>
                  <div class="barrHorizontIcon  p-0 m-0 d-flex justify-content-center flex-wrap" style="width: 100%;">
                    <ul class="d-flex my-1 py-1 justify-content-between" style="overflow-x: auto; width: 90%;">
                      
                      <a href="/view-store" class="text-decoration-none mx-4 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/tiendaHome.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Tiendas </span>
                      </a> 
                      <a href="/view-raffles" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;"> 
                        <img src="/img/ico-raffleW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Sorteos </span>
                      </a> 
                      <a href="/view-artes" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-arteGalleryW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Artes </span>
                      </a> 
                      <a href="/view-airplanes" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-aeronauticaW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Aeronáutico </span>
                      </a> 
                      <a href="/view-items" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-articuloW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Artículos </span>
                      </a> 
                      <a href="/view-automotive" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-automotrizW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Automotríz </span>
                      </a> 
                      <a href="/view-realstate" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-bienesRaicesW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Realstate </span>
                      </a> 
                      <a href="/view-nautical" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-nauticoW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Náuticos </span>
                      </a> 
                      <a href="/view-services" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-servicioW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Servicios </span>
                      </a> 
                      <a href="/view-auction" class="text-decoration-none mx-4 p-0 iconEfect d-flex justify-content-center align-items-center flex-column" style="width: 80px;">
                        <img src="/img/ico-subastaW.png" alt="" class="iconDepart shadow" style="width: 46px; height: 46px; border-radius: 50%;">
                        <span class="my-1 spanTextArticle"> Subastas </span>
                      </a> 
                    </ul>
                  </div>
                  

              </div>
            
              
              <div class="container-fluid p-0">
                <div class="row rowWidth m-0">

                  <div class="contentBanner p-0" style="position: relative;">
                    <div class="banners p-0" >
                        <% if (currentBanner.length !== 0) { %>
                          <div class="carousel-banners" style="width: 100vw;">

                              <% currentBanner.forEach((ele, i)=>{ %>

                                  <div class="bannerHome"> 
                                    <img src="<%= ele.url %>"  alt="..." class="imageBanner">
                                  </div>
                                                                              
                              <% }); %>

                          </div>                           
                        <% }; %> 
                    </div> 

                    
                    <div class="contentAlert" style="z-index: 200; position: absolute; top: 0; right: -1000px;">
                      <!-- dinamico para alerta cuando no tenga perfil aqui le invita a que lo haga-->
                    </div>  
                    
                  </div>

                  <div class="row containerAboutBlissenet px-2 py-3 m-0">

                    <div class="col-xl-6 col-lg-6 px-4 d-flex justify-content-center flex-column">
                      
                      <div class="containerInfo p-2">
                                            
                        <h1 style="text-align: start;" class="mt-3">  
                          <img src="/img/iconManifest-192x192.png" alt="" style="width: 40px;"> 
                          <b> <span style="font-size: 30px;" class="themaTextLight">Blissenet</span><span style="font-size: 32px;" class="text-warning">.com</span> 
                          </b>
                          <span style="font-size: 26px" class="themaTextLight"> la red comercial que conecta clientes y comerciantes en todo el mundo. </span>
                        </h1>
                        <div class="d-flex justify-content-start">
                          <span class="bg-secondary text-light px-2 py-1 rounded-3"> <i> <small>Explora otros mercados en Perfil </small> </i>  </span>
                        </div>
                      
                      </div>
                    
                    </div>
                    <div class="col-xl-6 col-lg-6 p-4 d-flex justify-content-center align-items-center">

                      <img src="/img/globeX-unscreen.gif" alt="" style="width: 400px;" class="mt-4">
                    
                    </div>

                  </div>

                  <div class="contentOffert p-0" style="position: relative; z-index: 100; height: auto">  

                    <% if (boxOffert) { %>

                      <% if (boxOffert.length >= 5) { %>
                                      

                        <div class="carousel-bestView p-4">    
                            <% boxOffert.forEach((ele)=>{ %>

                                <% let priceFormat = ele.price.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
                                <!-- console.log(priceFormat); // Salida: "34.600,45" -->

                                <% const images = ele.images %>
                                <div class="contentCard px-3 d-flex flex-column text-dark;" style="position: relative;">

                                      <a href="/product/<%= ele.department %>/<%= ele._id %>/<%= ele.titleURL %>">
                                        <img src="<%= images[0].url %>" alt="" style="width: 310px; height: 360px; object-fit: cover;  border-top-left-radius: 6px; border-top-right-radius: 6px;">
                                        <div class="contentMiniaturas d-flex justify-content-start" style="background-color: rgba(255, 193, 7, 0.8); position: absolute; bottom: 0px; width: 310px; height: auto;">
                                                                        
                                            <% images.forEach((ele, i)=>{ %>
                                              
                                                <% if (i < 4 ) { %>
                                                <img src="<%= ele.url %>" alt="" class="m-1 rounded-3 shadow-sm"  style="width: 70px; height: 70px; object-fit: cover;"> 
                                                <% } %>  
                                            
                                            <% }) %>
                                              
                                        </div>
                                      </a>
                    
                                      
                                      <span class="bg-warning px-3 py-0 text-dark" style="border-radius: 50%; position: absolute; top: 30px; right: 30px; font-size: 17px;">  <b>$<%= priceFormat %></b>  </span>
                        
                                </div>
                                
                            <% }) %>
                        </div>
                        <div class="titleCarrousel d-flex justify-content-end">
                  
                          <div class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticTrendingOffert">
                            <span class="fst-italic me-3" style="font-size: 17px"> Trending Offert  <span class="me-3"><i class="bi bi-info-circle mx-1"></i> </span></span> 
                          </div>

                        </div>

                      <% } %>
                      
                    <% } %>

                  </div>

                  <div class="contentNewsDay my-5">
                    <div class="carousel-newDay py-2 m-0" style="width: 100%;">
                        <% if (currentNewsDay) { %>

                            <% currentNewsDay.forEach((ele, i)=>{  %> 
                                        
                                  <div class="contentNewDay d-flex py-3 px-4" style="width: 100vw;">
                                    
                                        <div class="contentImage">
                                            <img src="<%= ele.url %>" class="imgNews rounded-3 " alt="..." style="object-fit: cover; width: 100%;" >
                                        </div>
                            
                          
                                        <div class="contentDetails">
                                            <p style="font-weight: bold; font-size: 24px;"><%= ele.newDayTitle %></p>
                                            <p style="font-size: 20px;"><%= ele.newDayDetails %></p>
                                            
                                              <div class="contenAuthorDate d-flex justify-content-end my-0" >
                                                <div class="content">
                                                    <a class="ui grey label text-decoration-none">
                                                        <span class="me-1 fst-italic"><%= ele.adminName %></span>
                                                        <span>(<%= ele.simplifiedDate %>)</span>
                                                    </a>
                                                </div>
                                              </div>

                                        </div>
                                      

                                  </div>       
                        
                            <% }); %>  

                          <% }; %>
                    </div>  
                    <div class="titleNewDay d-flex justify-content-end">
                    
                        <div class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticNewsDay">
                          <span class="fst-italic me-3" style="font-size: 17px"> News Day  <span class="me-3"><i class="bi bi-info-circle mx-1"></i> </span></span> 
                        </div>

                    </div> 
                  </div>   

                  <div class="contentBestView p-0" style="height: auto">
                    <% if (boxBestView) { %>

                      <% if (boxBestView.length >= 5) { %>
                                      
                        <div class="carousel-bestView p-4">    
                            <% boxBestView.forEach((ele)=>{ %>

                                <% let priceFormat = ele.price.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }); %>
                                <!-- console.log(priceFormat); // Salida: "34.600,45" -->

                                <% const images = ele.images %>
                                <div class="contentCard px-3 d-flex flex-column text-dark;" style="position: relative;">

                                      <a href="/product/<%= ele.department %>/<%= ele._id %>/<%= ele.titleURL %>">
                                        <img src="<%= images[0].url %>" alt="" style="width: 310px; height: 360px; object-fit: cover; border-top-left-radius: 6px; border-top-right-radius: 6px;">
                                        <div class="contentMiniaturas d-flex justify-content-start" style="position: absolute; bottom: 0px; background-color: rgba(255, 255, 255, 0.8); width: 310px; height: auto;">
                                                                        
                                            <% images.forEach((ele, i)=>{ %>
                                        
                                                <% if (i < 4 ) { %>
                                                <img src="<%= ele.url %>" alt="" class="m-1 rounded-3 shadow-sm"  style="width: 70px; height: 70px; object-fit: cover;"> 
                                                <% } %>  
                                        
                                            <% }) %>
                                              
                                        </div>
                                      </a>
                    
                                      <span class="bg-warning px-3 py-0 text-dark" style="border-radius: 50%; position: absolute; top: 30px; right: 30px; font-size: 17px;">  <b>$<%= priceFormat %></b>  </span>
                        
                                </div>
                                
                            <% }) %>
                        </div>
                        <div class="titleCarrousel d-flex justify-content-end">
                  
                          <div class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticTrendingBestView">
                            <span class="fst-italic me-3" style="font-size: 17px"> Trending <span class="me-3"><i class="bi bi-info-circle mx-1"></i> </span></span> 
                          </div>

                        </div>

                      <% } %>

                    <% } %>   
                  </div>

                  <div class="row contentMosacicoPorcentMarket m-0 py-5 d-flex justify-content-around">
                      
                      <div class="boxTopStore col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12" style="position: relative">                 
                        <div class="textTitle my-3">
                          <span class="text-secondary mt-1" style="font-size: 26px;">Top 50 Tiendas + Vistas</span>
                        </div>
                        <div class="Top50Stores d-flex flex-wrap">
    
                        </div>
                      </div>      
                      
                      <div class="boxPercentMarket col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                      
                        <div class="textTitle my-3">
                          <span class="text-secondary mt-1" style="font-size: 26px;">Indice de Mercado Dominante</span>
                        </div>
                        <div>
                          <canvas id="myChart"></canvas>
                        </div>

                      </div>

                  </div>

                  <div class="row px-2 py-5 m-0 containerLastStore text-light" style="height: auto;">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 m-0 py-4">
                      <% if (profileLast) { %>

                        <div class="left-section contentProfileLast d-flex flex-wrap">
                            <% profileLast.forEach((ele, i)=>{ %>
                            
                              <a href="/account/<%= ele.username %>" class="text-decoration-none">
                                <div class="contentStoreLast d-flex shadow">
                                  <div class="contentImg" style="background-color: white;">
                                    <% if (ele.avatarPerfil[0].url.length === 0 ) { %>
                                        <img src="https://www.gravatar.com/avatar/<%= ele.mailhash %>?d=identicon" style="width: 50px; height: 50px; object-fit: cover;">   
                                    <% } else { %>
                                        <img src="<%= ele.avatarPerfil[0].url %>" alt="" style="width: 50px; height: 50px; object-fit: cover;">
                                    <% }; %>
                                  </div>  

                                  <div class="usernameCountry px-2 d-flex align-items-center" style="background-color: #2c2c2c; color:white;">
                                    <p class="mb-1" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= ele.username %></p>
                                    <p class="mb-1 ms-2" style="font-size: 11px;"> (<span><%= ele.countryCode %></span>) </p>
                                  </div>
                                </div>  
                              </a>

                            <% }); %>  
                        </div>

                      <% }; %>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 m-0 py-4">

                      <div class="right-section">
                        <p style="font-size: 22px;"> <b>¡Descubre las últimas tiendas creadas en nuestra comunidad!</b> </p>
                        <p id="texto" style="font-size: 20px;"> "¡Vamos a construir algo increíble juntos! Explora las nuevas tiendas, deja comentarios y ayuda a crear un mercado digital de alto tráfico y dinámico. ¡Cada comentario y seguimiento cuenta!"</p>
                      </div>  
                        
                    </div>
                  </div>

                  <div class="gallery-masonry p-2" id="newADS" style="background-color: rgba(255, 255, 255, 0.9);">
                    <div class="textTitle my-3">
                        <span class="text-secondary" style="font-size: 26px;">últimas Publicaciones</span>
                    </div>
                    <div class="gallery">

                    </div>
                  </div>

                  <div class="gallery-masonry p-2 shadow-sm" id="moreViewADS" style="background-color: rgba(255, 255, 255, 0.9);">
                    <div class="textTitle my-3">
                        <span class="text-secondary" style="font-size: 26px;">Publicaciones más vistas</span>
                    </div>
                    <div class="galleryMoreView">

                    </div>
                  </div>

                </div>
              </div>

              <% if (!user) { %>

              <div class="containerFixedSinUser">
                  <div class="d-flex flex-column"  style="position: fixed; right: 10px; bottom: 100px; z-index : 100">
                      <div class="d-flex justify-content-end px-4">

                          <span class="rounded-pill d-flex justify-content-center align-items-center cursor-pointer shadow-sm" id="btnXSinUser"  style="width: 40px; height: 40px; background-color: rgba(238, 238, 238, 0.9); color: black;">
                              <i class="bi bi-x-lg" id="bi-x-move" style="font-size: 16px;"></i>
                          </span> 
                        
                      </div>    
                      <div class="body fixedSinUser mx-2 mt-5">
                          
                          <div class="d-flex flex-column align-items-center justify-content-center">

                          <div style="position: relative;">

                              <div class="px-4 py-2 shadow d-flex" style="background-color: #ffe372; font-size: 16px; color: #7a6202; border-top-left-radius: 12px; border-top-right-radius: 12px;"> 
                                  <span> No estas logeado </span>   
                              </div>
                              <div class="rounded-pill d-flex justify-content-center align-items-center" style="background-color: #ffe372; position: absolute; top: -40px; right:60px; width: 42px; height: 42px;">
                              <i class="bi bi-lightbulb-fill lightbulbAnimation" style="font-size: 28px;"></i>
                              </div>
                              
                          </div>
                          
                          </div>

                          <div class="form-group my-1 py-2" style="width: 100%; font-size: 24px;">

                          <a href="/myaccount/signin-change" class="form-control rounded-pill btn btn-dark border-secondary shadow" style="font-size: 20px;"> Entrar </a>

                          </div>
                      </div>
                  </div>
              </div> 

              <% }; %>

              <!-- Modal trendingOffert --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticTrendingOffert" -->
              <div class="modal fade" id="staticTrendingOffert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticTrending" aria-hidden="true">
                <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                    <div class="modal-content text-dark">

                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBlissBotConnect"> Trending Offert </h5>
                            <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                        </div>
                        <div class="modal-body">

                            <p> Las ofertas en tendencias son todos los anuncios que han sido etiquetadas como ofertas y que hayan recibido muchas vistas. Puedes lograr tener un anuncio aquí con un poco de esfuerzo y creatividad. </p>
                            
                        </div>
                        <div class="modal-footer" style="background-image: url('/img/trendingOffert.jpg'); background-size: cover; background-position: center;">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
              </div>

              <!-- Modal NewsDay --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticNewsDay" -->
              <div class="modal fade" id="staticNewsDay" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticNewsDay" aria-hidden="true">
                <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                    <div class="modal-content text-dark">

                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBlissBotConnect"> News Day </h5>
                            <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                        </div>
                        <div class="modal-body">

                            <p> Este es un espacio publicitario informativo, si quieres colocar un NewsDay escribenos en adminve@blissenet.com y dejate descubrir por centenares de personas y empresas. </p>
                            
                        </div>
                        <div class="modal-footer" style="background-image: url('/img/trendingOffert.jpg'); background-size: cover; background-position: center;">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
              </div>
              
              <!-- Modal TrendingBestView --> <!--lo activa > data-bs-toggle="modal" data-bs-target="#staticTrendingBestView" -->
              <div class="modal fade" id="staticTrendingBestView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticTrending" aria-hidden="true">
                <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                    <div class="modal-content text-dark">

                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBlissBotConnect"> Trending </h5>
                            <i class="bi bi-x-lg cursor-pointer" data-bs-dismiss="modal"></i>
                        </div>
                        <div class="modal-body">

                            <p> Los anuncios en tendencias son todas las publicaciones que hayan recibido muchas visistas y que no esten etiquetadas como oferta. Puedes lograr tener un anuncio aquí con un poco de esfuerzo y creatividad. </p>
                            
                        </div>
                        <div class="modal-footer" style="background-image: url('/img/trendingOffert.jpg'); background-size: cover; background-position: center;">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
              </div>

          </div>
          
        
          <%- include('../partials/footer.ejs') %>

      </div>      

    </main>
  
  <!-- CDN js Slick-carousel --> <!-- Es importante manejar los script del carrousel en el mismo archivo que se van a usar -->
  <!-- para no interferir en otros script cdn de jquey --> 
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  

  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/carrousel.ejs') %>
  <%- include('../partials/scriptsOnlyNavi-simple.ejs') %>
 
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  // Selecciona el contenedor del loading y el homePage
  const mainElem = document.querySelector('main');
  const loading = document.querySelector('.loading');
  const homePage = document.querySelector('.homePage');

  /* Este script se ejecuta cuando haya cargado absolutamente todo incluyendo el js y los estilos css */
  window.addEventListener("load", function() {
        // Quita la clase "close" del loading
        loading.classList.add('invisible');

        // Agrega la clase "close" al homePage
        homePage.classList.remove('invisible');
        mainElem.classList.remove('hideOverflow')

  });
</script>

 <script>

  const texto = document.getElementById('texto');
  const textoArray = texto.textContent.split('');
  let index = 0;

  function escribirTexto() {
    if (index < textoArray.length) {
      texto.textContent = textoArray.slice(0, index + 1).join('');
      index++;
      setTimeout(escribirTexto, 50); // Puedes ajustar el tiempo de delay
    } else {
      // Cuando se completa el efecto de tipiar todo el texto
      setTimeout(() => {
        index = 0; // Reiniciar el índice
        texto.textContent = ''; // Limpiar el texto
        escribirTexto(); // Volver a empezar
      }, 10000); // Esperar 10 segundos
    }
  }
  escribirTexto();

 </script>

 <script>
    //este script va en todos lados donde va el footer pero no hace falta en el home. 
    //contola el js del footer
    const mainMail = document.querySelector('.mainMail');
    const emaiHidden = document.getElementById('emaiHidden'); 
    const spnEmail = document.querySelector('.spnEmail');
    
    
    const msgSaveMail = document.querySelector('.msgSaveMail');//contendor oculto importante que dice que se ha guardaddo en portapales
    
    if (mainMail){

        mainMail.addEventListener('click', copiar);
  
        function copiar(){
             
            let email = spnEmail.textContent;
            navigator.clipboard.writeText(email)
                .then(() => {
                    //efecto de poner y quitar el alert
                    msgSaveMail.classList.remove('close');
                    setTimeout(hideMsg, 3000);
                })
                .catch(err =>{
                    msgSaveMail.innerHTML += `<div class="alert-danger py-1 px-2 "> 
                                                <span>No guardado</span>  
                                                </div>` 
                })

            function hideMsg(){
                msgSaveMail.classList.add('close');
            }
      
        }

    }
 
 </script>

 <script>

  const dateRateUpdate = document.getElementById('dateRateUpdate');
  const currentYear  = document.querySelector('.currentYear'); //esta clase existe en el footer buscarlo en el partial

  
  //al cargar toda la pagina actualizamos date 
  window.addEventListener('DOMContentLoaded', ()=>{


    setTimeout(() => {
      
    
      fetch("/requireDate", {
                    method: "GET",
                    headers: { "Content-Type" : "applications/json"}
          })
          .then(response =>response.json() )
          .then( jsonx => { 
            //console.log("Esto es /requireDate --------------------------->", jsonx) 
            const date = jsonx.date;
            const year = new Date(date).getFullYear();
            //console.log("year -->", year);
            currentYear.innerText = year
            //const rateSort = jsonx.rateSort;
            //const currentPrice = rateSort.currentPrice;

            //console.log("date -->", date);
            // Crear un objeto Date con la hora del servidor
            const serverDate = new Date(date);
            console.log("serverDate -->", serverDate);

            // Convertir a la zona horaria local del usuario
            const localTime = serverDate.toLocaleString(); // Sin especificar idioma, tomará la configuración regional del usuario
            console.log("localTime -->", localTime);

            dateRateUpdate.innerHTML = `<span class= "fst-italic"> <span class="me-1">Server Time:</span> ${localTime} </span>`
          })
          .catch( err => console.log(err));

    }, 1000);

  })


  //cada minuto actualizamos la fecha y hora para mantener la plataforma actualizada con la hora del servidor
  //y el precio del dolar    
    setInterval(() => {

      fetch("/requireDate", {
                method: "GET",
                headers: { "Content-Type" : "applications/json"}
      })
      .then(response =>response.json() )
      .then( jsonx => { 
        //console.log("Esto es /requireDate --------------------------->", jsonx) 
          const date = jsonx.date;
          const year = new Date(date).getFullYear();
          //console.log("year -->", year);
          currentYear.innerText = year
          //const rateSort = jsonx.rateSort;
          //const currentPrice = rateSort.currentPrice;

          //console.log("date -->", date);
          // Crear un objeto Date con la hora del servidor
          const serverDate = new Date(date);
          //console.log("serverDate -->", serverDate);

          // Convertir a la zona horaria local del usuario
          const localTime = serverDate.toLocaleString(); // Sin especificar idioma, tomará la configuración regional del usuario
          //console.log("localTime -->", localTime);

          dateRateUpdate.innerHTML = `<span class= "fst-italic"> <span class="me-1">Server Time:</span> ${localTime} </span>`
        })
      .catch( err => console.log(err));
      
    }, 60000);


 </script> 

<script>
  window.addEventListener('load', function() {
    console.log('El documento está completamente cargado');

    const idUser = document.getElementById('idUser');
    const seeMarket = document.getElementById('seeMarket').value;
    const countrySelect = document.querySelector('.countrySelect'); //container del modal donde explica porque debe elegir un pais
    const countrySelected = document.querySelector('.countrySelected'); //container del modal donde muestra que se ha seleccionado satisfactoraimente.
    const containerError = document.querySelector('.containerError'); //container del modal donde muestra que ha ocurrido un error.
    const selectAndBtn = document.querySelector('.selectAndBtn'); //container del modal donde estaba el selector de paises y el boton; la idea es luego esconderlo para que muestre el fondo imagen del mundo
    const selectCountry = document.getElementById('selectCountry'); //esto es el select de opciones que esta en el modalGeolocation
    const btnGetCountryMarket =  document.getElementById('btnGetCountryMarket'); //este es el boton de envio del valor del pais seleccioando al backend para ser guardado.

    const countryNav = document.querySelector('.countryNav'); //esto es un span que muestra el codigo del pais en el nav !Important

    console.log("seeMarket -------->", seeMarket)
    console.log("seeMarket.length -------->", seeMarket.length)
    if (seeMarket.length === 0) {
        //el usuario no tiene un seemarket definido.

        //siendo este el id del modal "staticGetCountry"
        let modalGetCountry = new bootstrap.Modal(document.getElementById('staticGetCountry'));
        modalGetCountry.show();

        //hacemos la llamada a la API de todos los paises.
      


        fetch('/restcountries')
          .then(response => response.json())
          .then(countries=> {
            console.log("countries ------------------------------------------->", countries);
            //aqui el array de todos los paises ordenados en orden alfabetico con su codigo

            countries.forEach((ele)=>{
                    let pais = ele.pais;
                    let code = ele.code;
                    let flag = ele.flags;
                    
            
                    selectCountry.innerHTML +=`<option value="${code}" data-pais="${pais}" data-flag="${flag}"> ${pais} </option>`
            })

            btnGetCountryMarket.addEventListener('click', ()=> {
              btnGetCountryMarket.setAttribute("disabled", ""); // aqui aseguramos que no puedan darle dos veces al boton.

              const selectCountryValue = selectCountry.value; //code
              const selectCountries = selectCountry.options[selectCountry.selectedIndex];
              const country = selectCountries.getAttribute('data-pais'); //pais
              const flag = selectCountries.getAttribute('data-flag'); //flag
              const idUserValue = idUser.value; //id User

              console.log("code :", selectCountryValue);
              console.log("country :", country);
              console.log("flag :", flag);
              console.log("idUserValue :", idUserValue);

              //ahora vamos a mandar los datos de este usuario para de esta forma enviar y actualizar el mercado de este usuario.
              
              const datos = {
                idUser : idUserValue,
                countryMarket : country,
                countryMarketCode : selectCountryValue,
                flag : flag
                
              }
              
              fetch('/locationMarket', {

                method: "post",
                body: JSON.stringify(datos),
                headers: {"content-type" : "application/json"}

                })
                .then(response =>response.json() )
                .then( jsonx => {
                  console.log("llegando de localMarket -->", jsonx);
                  let code = jsonx.code;
                  let userUpdate = jsonx.msg;
                  let countryMarketCode = userUpdate.seeMarket.countryMarketCode;
                  console.log("countryMarketCode ----->", countryMarketCode) 
         
                  console.log("code : ", code);
                  if (code === 1){
                    // todo ha resultado positivo. debemos enviar el mensaje de proceso satisfactoria y cerrar el modal
                    countrySelect.classList.add("close");
                    selectAndBtn.classList.add("close");
                    countrySelected.classList.remove("close");
                    countryNav.innerText = countryMarketCode;
                    setTimeout(() => {
                      modalGetCountry.hide(); //este es el modal que cerramos con el metodo hide()
                    }, 3000);
                    

                  } else if (code === 0){
                    // ha habido un error, intente luego.
                    countrySelect.classList.add("close");
                    selectAndBtn.classList.add("close");
                    containerError.classList.remove("close")

                    setTimeout(() => {
                      modalGetCountry.hide(); 
                    }, 4000);
                  }
                
                })
                .catch( err => console.log(err));

            })
            

          })
          .catch(error => console.error('Error', error));


    } else {
      //el usuario ya tiene un usuario definido.
      console.log("el usuario ya tiene un pais definido.")
      console.log("seeMarket -------->", seeMarket)
      countryNav.innerText = seeMarket;

    }

  });
</script>

<script>
  //script que solicita informacion si es un usuario sin perfil. nos interesa saber si tiene o no tiene perfil creado.

  const contentAlert = document.querySelector('.contentAlert');

  fetch("/alertNotProfile", {
    method: "GET",
    headers: { "Content-Type" : "applications/json" }
  })
    .then(response =>response.json() )
    .then( jsonx => {
      console.log("alertNotProfile -->", jsonx)
        const account = jsonx.profile
      if (account.length === 0){

        setTimeout(alertMessage, 2000)
        function alertMessage(){
          console.log("Esta cuenta no tiene perfil y debemos enviar la alerta")
          contentAlert.innerHTML += `<div class="alert alert-light alert-dismissible fade show m-0 border" role="alert" style="border-radius: 0px" >
                                        <strong> ¡Crea tu perfil para ser visible! Sin él, no podrán encontrarte. Solo te llevará 1 minuto. <a href="/myaccount/profile">¡Hazlo aquí!</a> </strong> 
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>`

          setTimeout(animationAlert, 1000)

          function animationAlert(){

            console.log("Aquí la animación del alert");

            contentAlert.style.transitionProperty = 'right';
            contentAlert.style.transitionDuration = '6s';
            contentAlert.style.right = "0px";

            
          }

        }

      } 
    })
    .catch( err => console.log(err));

</script>  


<script>

   //aqui colocaremos el script del Top 50 Store
   const Top50Stores = document.querySelector('.Top50Stores');

   fetch("/mosaico-store-view", { 
            method: "GET",
            headers: { "Content-Type" : "applications/json"}
        })
        .then(response =>response.json() )
        .then( top50Store => {
            //console.log('top50Store', top50Store);
          if (top50Store.length !==0){
            for (let i = 0; i < top50Store.length; i++) {
                const ele = top50Store[i];
                const position = i + 1; // Obtenemos la posición

                if (ele.avatarPerfil[0].url.length === 0) {
                    Top50Stores.innerHTML += `
                        <div class="boxNewAds">
                            <a href="/account/${ele.username}">
                                <div class="imageContainer">
                                    <img src="https://www.gravatar.com/avatar/${ele.mailhash}?d=identicon" class="imgStore">
                                    <span class="lugarTop">${position}</span> <!-- Aquí se muestra la posición -->
                                </div>
                            </a>
                        </div>`;
                } else {
                    Top50Stores.innerHTML += `
                        <div class="boxNewAds">
                            <a href="/account/${ele.username}">
                                <div class="imageContainer">
                                    <img src="${ele.avatarPerfil[0].url}" class="imgStore">
                                    <span class="lugarTop">${position}</span> <!-- Aquí se muestra la posición -->
                                </div>
                            </a>
                        </div>`;
                }
            }
          } else{

            Top50Stores.innerHTML = `
                          <div class="alert alert-secondary">
                              <span style="font-size: 18px color: gray"> NO hay Datos. Base de Datos En limpio </span>  
                          </div>
                          `

          }
        })
        .catch( err => console.log(err));

</script>

<script>
   //script que recrea las barras del mercado dominante
    const ctx = document.getElementById('myChart');
    const contentBarArts = document.querySelector('.contentBarArts');
    const contentBarAero = document.querySelector('.contentBarAero');
    const contentBarItem = document.querySelector('.contentBarItem');
    const contentBarAuto = document.querySelector('.contentBarAuto');
    const contentBarReal = document.querySelector('.contentBarReal');
    const contentBarNaut = document.querySelector('.contentBarNaut');
    const contentBarServ = document.querySelector('.contentBarServ');
    const contentBarSuba = document.querySelector('.contentBarSuba');
           
    fetch('/percent', {

    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(respPercent =>respPercent.json() )
      .then( jsonP => {
        //console.log("esto es percent --->", jsonP)
  
            const arte = jsonP[0].arte;
            const aero = jsonP[1].aeronautico;
            const item = jsonP[2].items;
            const auto = jsonP[3].automotriz;
            const real = jsonP[4].realstate;
            const naut = jsonP[5].nautico;
            const serv = jsonP[6].servicio;
            const suba = jsonP[7].subasta;

            const sum = (arte + aero + item + auto + real + naut + serv + suba);

            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Artes', 'Aeron', 'Items', 'Autom', 'Reals', 'Nauti', 'Servi', 'Subas'],
                datasets: [{
                  label: 'Dominan Market',
                  data: [arte, aero, item, auto, real, naut, serv, suba],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                },
                /* responsive: true, */
                plugins : {legend: { position: 'bottom'}, title: { display: true }}
              }
            });
   

      })
      .catch(err => console.log(err))
  
</script>
 
<script>

  //script que genera el mosaico de imaganes
  const contentGallery = document.querySelector('.gallery');
  const moreViewADS = document.getElementById('moreViewADS');
  const newADS = document.getElementById('newADS'); 

  fetch('/mosaico', {

    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(response =>response.json() )
      .then( gallery => {
              //gallery es un array

              if (gallery. length !== 0){
                const boxGallery = gallery.sort((a, b)=>
                  { return new Date(b.createdAt) - new Date(a.createdAt)});
                  /* a.updatedAt.localeCompare(b.updatedAt) */
                
                //console.log("boxGallery : ",boxGallery)
                for (let i = 0; i < boxGallery.length; i++) {
                  const ele = boxGallery[i];
                                                              
                  contentGallery.innerHTML += ` <div class="boxNewAds"> <a href= "/product/${ele.department}/${ele._id}/${ele.titleURL}"> <img src= "${ele.images[0].url}" class="imgGalley"> </a> </div> `
                }
              } else {

                newADS.innerHTML = "" 

              }  
              
            })
      .catch(err => console.log(err))     


</script>

<script>
  //script que recrea las galeria de mas vistas
  const galleryMoreView = document.querySelector('.galleryMoreView');

  fetch('/mosaico-more-view', {
    method: "GET",
    headers: {"content-type" : "application/json"}

    })
      .then(response =>response.json())
      .then( moreView =>{
         //console.log("moreView :", moreView)
         
        if (moreView.length !==0){ 
            for (let i = 0; i < moreView.length; i++) {
                    const ele = moreView[i];
                                                                
                    galleryMoreView.innerHTML += ` <div class="boxNewAds"> <a href= "/product/${ele.department}/${ele._id}/${ele.titleURL}"> <img src= "${ele.images[0].url}" class="imgGalley"> </a> </div> `
            }

        } else {
            moreViewADS.innerHTML = "";
        }    

          
      })
      .catch(err => console.log(err))


  
</script>

<script>

  if (window.location.protocol === 'https:'  || window.location.hostname === 'localhost') {
  // Registro SW
    console.log("Estás en HTTPS");

    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/js/index.js') 
          .then(reg => console.log('Service Worker registrado.', reg))
          .catch(err => console.log('Error en el registro del Service Worker:', err));
      });
    }

  } else {
    console.log("No estás en HTTPS");
  }


</script>




</body>

</html>