<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/toastr/toastr.min.css"> <!-- tiene que despues del CDN de bootstrap -->
    <script src="/toastr/toastr.min.js"></script>

    <title>Blissenet Raffle-Module</title>
</head>
<style>
  
  .close{
    display: none;
  }

  .textLight{
    /* trabaja en conjunto con themaTextLight */
    color: white;
  }

.cubeWinner, .cubeWinner0{
    width: 42px;
    height: 42px;
    border: 1px solid #d5a3fc;
    color: #eaceff;
    margin: 1px;
    cursor: pointer;
    transition: 0.8s outline all;
    animation: colorChange 3s infinite alternate; /* Cambia la duración y el modo según prefieras */
}  


    @keyframes colorChange {
        0% {
            background-color: blue;
            box-shadow: 0 0 20px blue;
        }
        50% {
            background-color: #9200FF;
            box-shadow: 0 0 20px #9200FF;
        }
        100% {
            background-color: blue;
            box-shadow: 0 0 20px blue;
        }
    }

.cube, .cube0{
    width: 42px;
    height: 42px;
    border: 1px solid #d5a3fc;
    background-color: #494949;
  
    color: #eaceff;
  
    margin: 1px;
    cursor: pointer;
    transition: 0.8s outline all;
}

.cube:hover{
  outline: 2px solid #490081;
}

.cubeTake{
    width: 42px;
    height: 42px;
    border: 1px solid #eaceff;
    background-color: #202020;
    color: gold;
    margin: 1px;
}
.cubeTakeVerified, .cubeTakeVerified0{
    width: 42px;
    height: 42px;
    border: 1px solid #eaceff;
    background-color: #202020;
    color: gold;
    margin: 1px;
}

.cubeTakeNOVerified, .cubeTakeNOVerified0{
    width: 42px;
    height: 42px;
    border: 1px solid #eaceff;
    background-color: goldenrod;
    color: #303030;
    margin: 1px;
}

  .containerDataSelect{
    height: 190px;
    overflow-y: auto;
  }


@media screen and (min-width: 451px) and (max-width: 767px){

  .selectorContent{
    height: auto !important;
  }
  .infoContent{
    height: auto !important;
  }

  .containerTicketExplanation{
    margin-top: 10px;
    margin-bottom: 5px;
  }

 .containerMainImage{
    margin-top: 5px;
    margin-bottom: 5px;
  }
 
  .containerLegends{
    margin-top: 5px;
    margin-bottom: 10px;
  }

}  

@media screen and (min-width: 320px) and (max-width: 450px){

  .selectorContent{
    height: auto !important;
  }
  .infoContent{
    height: auto !important;
  }

  .containerTicketExplanation{
    margin: 0px 2px;
  }

  .containerMainImage{
    margin-top: 0px;
  } 

  .containerDetails{
    margin-top: 10px;
  }

  .containerLegends{
    margin-top: 10px;
  }

  .containerDataSelect{
    height: auto;
  }

}  

</style>
<body class="mainTheme">

  
    <main>
        <%- include('../partials/navi-simple.ejs') %>

        <% if (user) { %> 

          <% const seeMarket = user.seeMarket %>
          <% const idUser = user._id %>
          <input type="hidden" value="<%= seeMarket.countryMarketCode %>" id="seeMarket">
          <!-- este bloque me permite validad si el usuario que se logea tiene un meercado definido. sino lo tiene debe obligatoriamente hacerlo. --> 

          <% if (searchMethodBankJson) { %>
            <input type="hidden" id="searchMethodBank" value="<%= searchMethodBankJson %>"> <!--  searchMethodBank es un objeto -->
            
          <% }; %>


          <input type="hidden" value="<%= user._id %>" id="userId">
          <div class="container-fluid successBannerFront my-2 d-flex justify-content-center" id="alertCelebrado">
             <!--  dinamico -->
          </div>

          <div class="contentSerial d-flex justify-content-end align-itens-center py-3 px-2" style="background: linear-gradient(90deg, rgba(146,0,255,1) 0%, rgba(174,65,255,1) 50%, rgba(13,110,253,1) 100%);">
            <% if (search) { %>

              <p class="my-0"> <span style="color: white;" ><b>Serial Raffle : </b></span><span class="rounded-pill ms-1 px-2 py-1 bg-dark text-light"><b><%= search._id %></b></span> </p>
              <input type="hidden" value="<%= search._id %>" id="idRaffle">
              <input type="hidden" value="<%= search.user_id %>" id="anfitrion"> 
              <input type="hidden" value="<%= search.price %>" id="price"> 

            <% }; %>
          </div>

          <div class="row mx-0 d-flex justify-content-center themaTextLight">
              
              <div class="col-12 col-sm-12 col-md-11 col-lg-11  px-0 " style="border: 2px solid #d5a3fc;">
  
                  <div class="row containerTicketExplanation d-flex justify-content-between my-0 px-1 mx-0 py-2" style="background-color: #494949">

                    <div class="col-lg-4 col-md-12 col-sm-12" style="height: 200px;">
                      <div class="containerMainImage d-flex justify-content-center p-2" style="border-radius: 5px; background-color: rgba(32, 32, 32, .8); width: 100%; height: 100%">
                        <div class="containerBigImage" style="position: relative;">
                          <img src="<%= search.images[0].url %>" alt="" style="border-radius: 2px; height: 100%; max-width: 100%; object-fit: cover;" >
                          <a class="ui yellow circular label px-1 text-decoration-none" style="position: absolute; top: 20px; right: 20px;"> 
                            <span style="font-size: 16px; color: black;"> <i class="bi bi-currency-dollar"></i> <%= search.price %> </span> 
                          </a>
                        </div>
                        <div class="contentMiniaturas d-flex flex-column justify-content-start ms-1" style="height: 100%;">
                                                          
                            <% search.images.forEach((ele, i)=>{ %>
                              
                                <% if (i < 3 ) { %>
                                  <img src="<%= ele.url %>" alt="" class="shadow-sm"  style="width: 63px; height: 63px; object-fit: cover; border-radius: 2px;"> 
                                <% } %>  
                            
                            <% }) %>
                                
                        </div>
                        
                      </div>
                    </div>  

                    <div class="col-lg-5 col-md-12 col-sm-12">
                      <div class="containerDetails d-flex flex-column p-2"  style="border-radius: 5px; background-color: rgba(32, 32, 32, .8); height: 200px; overflow-y: auto;">
                        <h2 class="mb-3" style="font-size:22px; color: gold; border-bottom: 2px solid gold; padding-bottom: 4px;"><%= search.title %></h2>
                        <h5 class="text-light" style="font-size: 16px;">Serial : <%= search._id %></h5>
                        <h5 class="text-light" style="font-size: 16px;">Inicio : <%= search.dateStart %></h5>
                        <% if (search.raffleClosingPolicy == "byDate") { %>
                          <% const time = new Date(search.dateEnd) %>
                          <% const dia = time.getDate() %>
                          <% const mes = time.getMonth() + 1 %>
                          <% const anio = time.getFullYear() %>
                          <% const hh = time.getHours() %>
                          <% const minut = time.getMinutes() %>
                          <% const mm = String(minut).padStart(2, '0') %>
                          <h5 class="text-light" style="font-size: 16px;">Celebración: <%= dia %>-<%= mes %>-<%= anio %> <%= hh %>:<%= mm %></h5>
                        <% } else { %>
                          <h5 class="text-light" style="font-size: 16px;">Celebración: Hasta agotarse los Tickets</h5>
                        <% } %>
                        
                        <h5 class="text-light" style="font-size: 16px;">Cant. Premios : <%= search.numberOfPrizes %> </h5>
                        <h5 class="text-light" style="font-size: 16px;">Anfitrión : <%= search.blissName %> </h5>
                      </div>
                    </div>                      

                    <div class="col-lg-3 col-md-12 col-sm-12 ">
                      <div class="containerLegends d-flex flex-column justify-content-between align-items-start"  style="border-radius: 5px; height: 200px;background-color: rgba(32, 32, 32, .5); width: 100%; border: 1px solid rgba(32, 32, 32, .9)">
                        <div class="card-header" style="background-color: rgba(32, 32, 32, .8); width: 100%;">  <span style="color: gold ;font-size: 19px"> Leyenda de Ticket </span>  </div>
                        <div class="containerTicked d-flex align-items-center ms-1"> <div class="cube0 rounded-1" style="width: 34px; height: 34px;">0</div> <span class="text-light mx-3"> Ticked Libre </span>  </div>
                        <div class="containerTicked d-flex align-items-center ms-1"> <div class="cubeTakeNOVerified0 rounded-1" style="width: 34px; height: 34px;">0</div> <span class="text-light mx-3"> Ticket No Consolidado </span>  </div>  
                        <div class="containerTicked d-flex align-items-center ms-1"> <div class="cubeTakeVerified0 rounded-1" style="width: 34px; height: 34px;">0</div> <span class="text-light mx-3"> Ticket Consolidado </span>  </div> 
                        <div class="containerTicked d-flex align-items-center ms-1"> <div class="cubeWinner0 rounded-1" style="width: 34px; height: 34px;">0</div><span class="text-light mx-3"> Ticket Ganador </span> </div> 
                      </div>
                    </div>  

                  </div>    
  
                  <div class="contentCubes d-flex justify-content-center flex-wrap">
                    
                    <!-- los tickets se generan de forma dinamica -->

                     <img src="/img/hourglass-waiting.gif" class="mt-0 mb-5" id="loadingCubes" alt="" style="width:100px;" >

                  </div>  

              </div>
            
          </div>
          
          <div class="row mx-0 d-flex justify-content-center contentPercentdata" style="height: auto;">

                <div class="col-xl-5 col-lg-5 col-md-11 col-sm-12 col-12 px-0 d-flex flex-column themaTextLight" style="height: 130px; border: 2px solid #d5a3fc;">
                  
                  <div class="content-fluid" style="background-color: #eaceff; height: 30px;">
                    <span class="d-flex justify-content-start ms-2" style="color: #303030;"> <b>Progeso</b> </span>
                  </div>
                  <div class="contentPercentdata d-flex justify-content-center align-itens-center" style="height: 100px;">
                      <div class="d-flex align-items-center justify-content-center" style="width: 50%; height: 100%;">
                        <span class="relation" style="height: auto; font-size: 32px;">  </span>
                      </div>
                      <div class="d-flex align-items-center justify-content-center" style="width: 50%; height: 100%;">
                        <span class="percent" style="height: auto; font-size: 40px;"> </span>
                      </div>
                  </div>
                  
                </div>

                <div class="col-xl-3 col-lg-3 col-md-11 col-sm-12 col-12 px-0 d-flex flex-column" style="background-color: rgba(146, 0, 255, 0); height: 130px; border: 2px solid #d5a3fc;">
                  
                  <div class="content-fluid" style="background-color: #eaceff; height: 30px;">
                    <span class="d-flex justify-content-start ms-2" style="color: #303030"> <b>Ticket Aleatorio</b> </span>
                  </div>
                  <span class="randonFront d-flex justify-content-center themaTextLight" style="font-size: 50px;">  </span>

                </div>

                <div class="col-xl-3 col-lg-3 col-md-11 col-sm-12 col-12 px-0 d-flex flex-column" style="background-color: rgba(146, 0, 255, 0); height: 130px; border: 2px solid #d5a3fc;">
                  
                  <div class="content-fluid" style="background-color: #eaceff; height: 30px;">
                    <span class="d-flex justify-content-start ms-2" style="color: #303030"> <b>Premios</b> </span>
                  </div>
                  <div class="container-fluid p-0" id="prizesObject" style="overflow-y: auto; overflow-x: auto; width: 100%;">
                    <!-- aqui el objeto PrizesObject (los premios y al lado los numeros ganadores cuando los tenga) -->
                    
                  </div>
                  
                </div>    
                  
          </div>
        
          <div class="row mx-0 d-flex justify-content-center align-items-center mt-3 py-3 themaTextLight shadow-sm" style="background-color: rgba(110, 110, 110, 0.1); height: auto;" >
          
          
              <% if (search) { %>

                  <% if (search.allTicketsTake == true) { %>
                    <div class="col-12 col-sm-12 col-md-11 col-lg-11 px-0" style="border: 2px solid #d5a3fc;">
                      <% let win = 0; %> <!-- creo un contador si termina con 1 o mas de 1 es un ganador-->
                      <% let ticketWin = []; %>
                      <% let rate = 0; %>
                      <% search.PrizesObject.forEach((ele)=>{ %>
                        <% if (ele.winUser == user.username ) { %>
                          <% win = win + 1 %>
                          <% ticketWin.push(ele.winTicket) %>
                          <% if (ele.rate === null){ %>
                            <% rate = rate + 1 %>
                          <% }; %>    
                        <% }; %>
                        
                      <% }) %>

                      <% if (win >= 1) { %>
                        <% if (rate == 0  ){ %>
                          <div class="row m-0">

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0" >
                              <div class="p-0 d-flex align-items-center justify-content-center" style="height: auto;">
                                <div class="alert m-0" style="width: 100%;">
                                  <span><b class="me-1">(<%= user.username %>) <i class="bi bi-arrow-right-short"></i> Calificación enviada. </b> En cuanto todos los ganadores hayan calificado. Este sorteo podrá ser dado de baja por el Anfitrión.</span>
                                </div>
                              </div>  
                            </div>

                          </div>
                        <% } else { %>
                          <div class="row m-0">
                            <div class="col-12 col-sm-12 col-md-5 col-lg-5 p-0">
                              <div class="p-2" style="height: auto;">

                                <form action="/raffleModule/rate" method="post">
                                  
                                    <input name="username" id="username" type="hidden" value="<%= user.username %>"> 
                                    <input name="IdRaffle" type="hidden" value="<%= search._id %>">
                                    <p><b>La Suerte le ha sonreido <%= user.username %></b>.</p>

                                    <div class="input-group my-1">
                                        <span class="input-group-text" id="basic-addon1"> <i class="bi bi-ticket-perforated"></i> </span>
                                        
                                        <select name="winTicket" id="winTicketSelect" class="form-control">
                                          <option value="select">Elegir</option>
                                          
                                        </select>
                                        <input type="text" name="winPrize" id="winPrize" class="form-control" readonly>
                                    </div>
                                    <div class="input-group my-1">
                                      <span class="input-group-text" id="basic-addon1"> <i class="bi bi-pencil"></i> </span>
                                      <select name="rateSelect" id="rateSelect" class="form-control">
                                        <option value="select">Elegir</option>
                                        <option value="positivo">Positivo</option>
                                        <option value="negativo">Negativo</option>
                                      </select>
                                      <button id="btnRate" class="btn btn-secondary form-control" disabled> Calificar </button>
                                    </div>

                                </form>

                              </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 d-flex align-items-center">
                              <div class="p-2" style="height: auto;">
                                <p class="m-0">Usted ha sido ganador con el Ticket <b><%= ticketWin %></b>. Ahora pongase encontacto con el Anfitrión, Luego de recibir su Premio, Puede calificar este Sorteo, eligiendo las opciones y dando clic en <b>Calificar</b>.</p>
                              </div>
                            </div>
                          </div>
                        <% }; %>
                      
                      <% } else { %>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0" >
                          <div class="p-0 d-flex align-items-center justify-content-center" style="height: auto;">
                            <div class="alert m-0" style="width: 100%;">
                              <span> <b class="me-1">Este Sorteo ya se ha Celebrado.</b> En cuanto todos los ganadores hayan calificado este sorteo podrá ser dado de baja por el Anfitrión.</span>
                            </div>
                          </div>  
                        </div>

                      <% }; %>  
                    </div>

                  <% } else { %>
                    
                        <% if (search.category === "Pago") { %>
                          
                       
                            <div class="row m-0 d-flex flex-wrap justify-content-center"> 

                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 px-0 infoContent" style="border: 2px solid #202020; height: 100%;">
                      
                                  <div class="py-2" style="background-color: #202020; height: auto">
                                    <span class="d-flex justify-content-start ms-2" style="color: gold;"> <b>Datos Bancarios</b> </span>
                                  </div>
                                  <div class="containerDataSelect p-2 m-0">
                      
                                    <div class="row m-0">
                                      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-0" style="height: 100%;">
                                       
                                        <div class="containerMethods mt-3">

                                          <!-- dinamico  -->

                                        </div>
 

                                      </div>
                                      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-0  p-0" style="height: 100%;">

                                        <div class="containerDatas py-2 px-3 mt-3">

                                         <!--  dinamico -->

                                        </div>


                                      </div>
                                    </div>

                                    
                                  </div>
                      
                                </div>

                                <div class="col-12 col-sm-12 col-md-5 col-lg-5 px-0 selectorContent" style="border: 2px solid #202020; height: 100%;">

                                  <div class="content-fluid py-2" style="background-color: #202020; height: auto;"> <span class="d-flex justify-content-start ms-2" style="color: gold;"> <b>Datos de Pago</b> </span> </div>
                                  <div class="contentPayData p-3" style="height: 190px;">
                                    
                                   
                                    <div class="input-group my-3" style="width: 100%;">

                                        <input id="serial" name="Id" type="hidden" value="<%= search._id %>">
                                        <span class="input-group-text"> <i class="bi bi-ticket-perforated"></i></span>
                                        <select name="NoTicket" id="selectTicket" class="form-control">
                                          <option value="Select">Selecciona el Ticket</option>
                                          
                                          <% if (ticketsTake) { %>
                                            <% ticketsTake.forEach((ele, i)=>{ %>
                                              <% if (ele.Contestan === user.username) { %>
                                                <option value="<%= ele.No %>"><%= ele.No %></option>
                                              <% }; %>
                                            <% }); %>
                                          <% }; %>
                                    
                                        </select>

                                        <span class="input-group-text"><i class="bi bi-bank"></i></span>
                                        <select id="selectMethod" class="form-control" style="width: 30%;">
                                          <option value="Select">Selecciona el Método</option>
                                          
                                          <% const MethodBankJson = JSON.parse(searchMethodBankJson) %>
                                          <% if (MethodBankJson.length !== 0 ) { %>

                                            <% const paymentSystem = MethodBankJson[0].paymentSystem %>
                                            <% paymentSystem.forEach((ele, i)=>{ %>
                                              <% const methodName = ele.methodName %> 

                                              <option value="<%= methodName %>"><%= methodName %> </option> 

                                            <% }) %> 

                                          <% }; %> 
                                          

                                        </select>              
                                        
                                    </div>
                                    <div class="input-group my-3">
                                        <% let price; %>
                                        <% if (search) { %>
                                          <% price = search.price %>
                                        <% }; %>

                                        <input id="serial" name="Id" type="hidden" value="<%= search._id %>">

                                        <span class="input-group-text"><i class="bi bi-bank"></i></span>
                                        <input name="Ref" type="text" id="referTicket" class="form-control" maxlength="22" disabled>   
                                        <span class="input-group-text" style="background-color: goldenrod;"> <i class="bi bi-cash"></i> </span>
                                        <input name="Method" type="number" value="<%= price %>"  id="amount" class="form-control" disabled style="background-color: goldenrod; font-weight: 700; font-size: 17px; width: 5px !important; text-align: right;"> 
                                        
                                    </div>
                                    <div class="form-group mt-4 mb-1">
                                        <input type="submit" value="Registrar Pago" id="btnRegister" class="form-control btn btn-secondary" disabled>
                                    </div>
                                 

                                  </div>    
                                  
                                </div>

                            </div>
                        
                          
                            <div class="row m-0 d-flex flex-wrap justify-content-center"> 
                                <div class="col-12 col-sm-12 col-md-11 col-lg-11 px-0 d-flex flex-column infoContent" style="border: 2px solid #202020; height: 100%;">
                      
                                  <div class="content-fluid py-2" style="background-color: #202020; height: auto">
                                    <span class="d-flex justify-content-start ms-2" style="color: gold;"> <b>Información</b> </span>
                                  </div>
                                  <div class="content-fluid p-2 m-0 d-flex justify-content-center align-items-center" style="height: 80%; overflow-y: auto;">
                      
                                    <div class=" mt-0 py-2" style="height: auto !important;">
                                      <p> 1. Elige el Ticket en la tabla de Distribución de Tickets.
                                                      2. Realiza el pago al anfitrión del Sorteo.
                                                      3. Registra tu pago en 'Datos de pago':
                                                         Selecciona el Ticket elegido. Indica el Método de pago junto con su Referencia Bancaria. Haz clic en el botón 'Registrar Pago'.
                                     </p>

                                     <p class="m-0">
                                        
                                      Si el pago es en efectivo, simplemente escribe la palabra "efectivo". En caso de depósito bancario, proporciona el número de confirmación o referencia completo. De esta forma, el anfitrión podrá verificar tu pago y tu Ticket será consolidado.
                                     </p>

                                    </div>
                                    
                                  </div>
                      
                                </div>
                            </div>
                                                  

                        <% } else { %>
                          <div class="col-12 col-sm-12 col-md-11 col-lg-11 px-0" style="border: 2px solid #202020; height: 100%;">
                
                            <div class="content-fluid py-2" style="background-color: #202020; height: 20%;"> <span class="d-flex justify-content-start ms-2" style="color: gold;"> <b>Información</b> </span> </div>
                            <div class="p-2  m-0 d-flex justify-content-center align-items-center" style="height: 80%; overflow-y: auto;">
                
                              <div class="my-2 p-2 rounded-2" style="border-left: 7px solid goldenrod">
                                Por favor, elija un número de Ticket de la tabla de Distribución de Tickets. Es importante recordar que este sorteo es completamente <b>Gratuito</b> y cada participante solo podrá escoger un número una sola vez. Los eventos de sorteos constan de tres fases:  1. Distribución de Tickets, 2. Celebración del Evento (Generación del número ganador), 3. Cierre o culminación del Evento (Los ganadores, al calificar, cierran el evento). 
                              </div>
                              
                            </div>
                
                          </div>
                        <% }; %>

                  <% }; %>  

              <% }; %>

          </div> 

          

          <!-- Modal de registro de pago exitoso -->
          <div class="modal fade" id="staticRegisterPayTicket" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticRegisterPayTicket" aria-hidden="true">
            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticComprarLabel">¡Registro de pago exitoso!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-around align-items-center my-1">

                      <div class="containerMake d-flex flex-column justify-content-start" > 
                          <img src="/img/checkAnimation.gif" alt="" style="width: 100%">
                      </div> 

                    </div>
                </div>
            </div>
          </div>

          <!-- Modal de registro de pago exitoso -->
          <div class="modal fade" id="staticRaffleEnd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticRaffleEnd" aria-hidden="true">
            <div class="modal-dialog border border-secondary p-2 rounded-3" style="background-color: rgb(0, 0, 0, 0.3);">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticComprarLabel">¡Sorteo Celebrado!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-around align-items-center m-0">

                      <div class="containerMake d-flex flex-column justify-content-start" > 
                          <img src="/img/cupWinner.gif" alt="" style="width: 100%">
                      </div> 

                    </div>
                </div>
            </div>
          </div>

            <%- include('../partials/footer.ejs') %>

        <% } else { %>

          <div class="container-fluid d-flex justify-content-center p-3" style="height: 90%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
              <%- include('../partials/noLogin.ejs') %>
          </div> 

        <% }; %>       

        



    </main>

    <%- include('../partials/scripts.ejs') %>
    <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>

    <!-- audios disponibles para diferentes acciones -->        
    <audio src="/sound/Note-efect.mp3" id="efectSoundNewBid"></audio>
    <audio src="/sound/Icon-efect.mp3" id="efectSoundNewNote"></audio> 

</body>
</html>



<script>
//iIportante que esta variable este arrriba  ..............................................
const selectTicket = document.getElementById('selectTicket'); //este es el select para elegir el ticket y colcoar el numero de confirmacion de pago.
const efectSoundTimbre = document.getElementById('efectSoundNewBid');

const userId = document.getElementById('userId');
let iDUser;

const idRaffle = document.getElementById('idRaffle');
const id = idRaffle.value;

const idUserAnfitrion = document.getElementById('anfitrion');
const IdAnfitrion = idUserAnfitrion.value; 

if (userId){
  iDUser = userId.value;
}


const contentCubes = document.querySelector('.contentCubes');

console.log("--------- ver -------");
console.log(`IdAnfitrion : ${IdAnfitrion} | iDUser : ${iDUser} `);
console.log("Esto es id el serial del Sorteo :", id);

const dato = {
      id : id
};

let boxTickets;

fetch('/raffleModule/data/', {

  method: "post",
  body: JSON.stringify(dato),
  headers: {"content-type" : "application/json"}

})
  .then(response =>response.json() )
  .then( jsonx => {
    //console.log('jsonx :', jsonx)
    const category = jsonx.category; //aqui la category Pago o Gratis;
    const allTicketsTake = jsonx.allTicketsTake //aqui obtengo la informacion si se ha ejecutado la celebracion false o true 
    const PrizesObject = jsonx.PrizesObject; //aqui el array de los premios;
    boxTickets =  jsonx.boxTickets; //aqui esta el array de Tickets;
    const alertCelebrado = document.getElementById('alertCelebrado');
    //console.log(boxTickets)
    console.log("PrizesObject :", PrizesObject);
      
    if (category == "Pago"){    

        for (let i = 0; i < boxTickets.length; i++) {
            const ele = boxTickets[i];

            if (ele.Take === true && ele.Verified === true && ele.Winner === false ) {                 
                contentCubes.innerHTML += `<div class="cubeTakeVerified">${ele.No}<input type="hidden" value="${ele.No}"></div>`;
            } else if (ele.Take === true && ele.Verified === false && ele.Winner === false ) {
                contentCubes.innerHTML += `<div class="cubeTakeNOVerified">${ele.No}<input type="hidden" value="${ele.No}"></div>`;
            } else if (ele.Take === false && ele.Verified === false && ele.Winner === false ) {
                contentCubes.innerHTML += `<div class="cube">${ele.No}<input type="hidden" value="${ele.No}"></div>`;
            } else if ( ele.Winner === true ) {
                contentCubes.innerHTML += `<div class="cubeWinner">${ele.No}<input type="hidden" value="${ele.No}"></div>`;
            }

        }
        //cube son todos los Ticket Libres que pueden ser tomados.

        //este es el spining time que se muestra para que la espera sea agradble.
        const loadingCubes = document.getElementById('loadingCubes');
        loadingCubes.classList.add('close');

        const cube = document.querySelectorAll('.cube');
              

        for (let i = 0; i < cube.length; i++) {
              const elem = cube[i];
              //console.log("elem :", elem);

              elem.addEventListener('click', ()=>{

                const ticketEle = elem.childNodes[1];
                const Ticket = ticketEle.value;
                console.log("Me has dado click, Ticket Noº :", Ticket ); //un numero 25
                console.log("Esto es el id :", id); // Esto es el id : 68dd9b59a2e6e6ac1e776824


                efectSoundTimbre.currentTime = 0; //Reiniciamos el sonido
                efectSoundTimbre.play().catch(error => {
                  console.error("Error al reproducir el sonido:", error);
                }); 

                if (allTicketsTake === false ){ //verificamos que el sorteo siga activo

                  if ( iDUser === IdAnfitrion ){ //el usuario es el mismo anfitrion

                    const message = "El Anfitrión no puede tomar Ticket.";                    
                    mostrarToast( message , 'right', 'info', '¡ Atención !', false ); // Agrega título aquí

                  } else {

                      const dataTicket = {
                        Id : id,
                        NoTicket : Ticket
                      };
                      
                      fetch('/raffleModule/takeTikets/pay', {

                        method: "post",
                        body: JSON.stringify(dataTicket),
                        headers: {"content-type" : "application/json"}

                      })
                        .then(response =>response.json() )
                        .then( jsonx => {
                          //Esto es lo que llega ---> { code: "ok", ticket, message } 

                          const code = jsonx.code; const message = jsonx.message; const Ticket = jsonx.ticket;
                          console.log("Esto es lo que viene del bancked :", jsonx );
                        
                          cube.forEach((ele, i)=>{ //ele es un objeto html <div class="cube">${ele.No} <input type="hidden" value="${ele.No}"></div> quiero aceder al primer valor {ele.No}
                            //console.log("Esto es ele :", ele);// Esto es ele : 
                            // <div class=​"cube0 rounded-2" style=​"width:​ 33px;​ height:​ 33px;​">​0​</div>​ malo ya no se colará.
                            // <div class="cube">${ele.No} <input type="hidden" value="${ele.No}"></div>
                            const Children = ele.children;
                            //console.log("Esto es Children   :", Children); 
                            const Tickets = Children[0].value; // todos los Tickets cube disponibles y ahora vamos a ubicar el que tenemos que tomar 

                            if (Tickets == Ticket) {
                              console.log( "Te he encontrado bichitooo tu que eres un elemento div te voy a modificar")
                              console.log("Ticket :", Ticket);
                              console.log("Tickets :", Tickets);
                              console.log("Este es el icono que debe actualizarse esto es un elemento div del DOM y quiero poder verlo para poder trabajarlo:", ele);
                              // <div class=​"cube">​​"146"<input type=​"hidden" value=​"146">​</div>​
                              ele.classList.replace('cube', 'cubeTakeNOVerified');
                            }

                          })
                    
                          if (code === "ok"){

                            mostrarToast( message , 'right', 'info', '¡ Hecho !', false ); // Agrega título aquí
                            //Ahora metemos este ticket en el select "selectTicket" para que pueda enviar el numero de confirmacion del pago

                            if (Ticket !== 0){
                              selectTicket.innerHTML += `<option value="${Ticket}">${Ticket}</option>`
                            }
                            

                          } else if ( code === "noPerfil" ){

                            mostrarToast( message , 'right', 'danger', '¡ Upps !', false ); // Agrega título aquí
                            //Ahora metemos este ticket en el select "selectTicket" para que pueda enviar el numero de confirmacion del pago

                          } else {

                            mostrarToast( message , 'right', 'danger', '¡ Upps !', false ); // Agrega título aquí
                            //Ahora metemos este ticket en el select "selectTicket" para que pueda enviar el numero de confirmacion del pago

                          }

                          //location.reload();
                          //console.log( `esto es ele : ${ele} y esto es i : ${i}` );
                          
                        })
                        .catch( err => console.log(err));

                  }

                }else {

                  const message = "Sorteo ya celebrado."                    
                  mostrarToast( message , 'right', 'info', '¡ Upps ya paso !', false ); // Agrega título aquí

                }    

              });
        }

        console.log("allTicketsTake  .........", allTicketsTake)
        if (allTicketsTake === true){  
            let myModal = new bootstrap.Modal(document.getElementById('staticRaffleEnd'));
            myModal.show();         
        }    

    } else {

          for (let i = 0; i < boxTickets.length; i++) {
              const ele =  boxTickets[i]
              //console.log('Esto es ele', ele)
              if (ele.Take === true){
                contentCubes.innerHTML += `<div class="cubeTake">${ele.No} <input type="hidden" value="${ele.No}"></div>`
              } else {
                contentCubes.innerHTML += `<div class="cube">${ele.No} <input type="hidden" value="${ele.No}"></div>`
              }
              
          }

          //este es el spining time que se muestra para que la espera sea agradble.
          const loadingCubes = document.getElementById('loadingCubes');
          loadingCubes.classList.add('close');

          const cube = document.querySelectorAll('.cube');


          for (let i = 0; i < cube.length; i++) {
              const elem = cube[i];
              //console.log("elem :", elem);

              elem.addEventListener('click', ()=>{

                const ticketEle = elem.childNodes[1];
                const Ticket = ticketEle.value;
                console.log("Me has dado click, ver hijos", Ticket );
                console.log("Esto es el id", id);

                efectSoundTimbre.currentTime = 0; //Reiniciamos el sonido
                efectSoundTimbre.play().catch(error => {
                  console.error("Error al reproducir el sonido:", error);
                }); 


                if (allTicketsTake === false ){

                  if ( iDUser === IdAnfitrion ){ //el usuario es el mismo anfitrion

                    const message = "El Anfitrión no puede tomar Ticket.";                    
                    mostrarToast( message , 'right', 'info', '¡ Atención !', false ); // Agrega título aquí

                  } else {

                      const dataTicket = {
                        Id : id,
                        NoTicket : Ticket
                      };
                             
                      fetch('/raffleModule/takeTikets/free', {

                        method: "post",
                        body: JSON.stringify(dataTicket),
                        headers: {"content-type" : "application/json"}

                      })
                        .then(response =>response.json() )
                        .then( jsonx => {

                          const code = jsonx.code; const message = jsonx.message; const Ticket = jsonx.ticket;
                          console.log("Esto es lo que viene del bancked :", jsonx );
                        
                          cube.forEach((ele, i)=>{ //ele es un objeto html <div class="cube">${ele.No} <input type="hidden" value="${ele.No}"></div> quiero aceder al primer valor {ele.No}
                            //console.log("Esto es ele :", ele);// Esto es ele : 
                            // <div class=​"cube0 rounded-2" style=​"width:​ 33px;​ height:​ 33px;​">​0​</div>​ malo ya no se colará.
                            // <div class="cube">${ele.No} <input type="hidden" value="${ele.No}"></div>
                            const Children = ele.children;
                            //console.log("Esto es Children   :", Children); 
                            const Tickets = Children[0].value; // todos los Tickets cube disponibles y ahora vamos a ubicar el que tenemos que tomar 

                            if (Tickets == Ticket) {
                              console.log( "Te he encontrado bichitooo tu que eres un elemento div te voy a modificar")
                              console.log("Ticket :", Ticket);
                              console.log("Tickets :", Tickets);
                              console.log("Este es el icono que debe actualizarse esto es un elemento div del DOM y quiero poder verlo para poder trabajarlo:", ele);
                              // <div class=​"cube">​​"146"<input type=​"hidden" value=​"146">​</div>​
                              ele.classList.replace('cube', 'cubeTakeVerified');
                            }

                          })
                    
                          if (code === "ok"){

                            mostrarToast( message , 'right', 'info', '¡ Hecho !', false ); // Agrega título aquí
                            //Ahora metemos este ticket en el select "selectTicket" para que pueda enviar el numero de confirmacion del pago

                            if (Ticket !== 0){
                              selectTicket.innerHTML += `<option value="${Ticket}">${Ticket}</option>`
                            }
                            

                          } else if ( code === "noPerfil" ){

                            mostrarToast( message , 'right', 'danger', '¡ Upps !', false ); // Agrega título aquí
                            //Ahora metemos este ticket en el select "selectTicket" para que pueda enviar el numero de confirmacion del pago

                          } else {

                            mostrarToast( message , 'right', 'danger', '¡ Upps !', false ); // Agrega título aquí
                            //Ahora metemos este ticket en el select "selectTicket" para que pueda enviar el numero de confirmacion del pago

                          }

                          //console.log("Datos actualizados en el Backend")
                          //location.reload();
                          
                          
                        })
                        .catch( err => console.log(err));

                  }      

                } else {

                  const message = "Sorteo ya celebrado."                    
                  mostrarToast( message , 'right', 'info', '¡ Upps ya paso !', true ); // Agrega título aquí                     

                }   


              });
          }

          console.log("allTicketsTake  .........", allTicketsTake)
          if (allTicketsTake === true){  
              let myModal = new bootstrap.Modal(document.getElementById('staticRaffleEnd'));
              myModal.show();         
          }


    }
    
    //aqui trabajamos con los datos progreso del front-end
    const relation = document.querySelector('.relation');
    const percent = document.querySelector('.percent');

    let long = boxTickets.length;
    let countTicket = 0;
 
    for (let i = 0; i < boxTickets.length; i++) {
      //console.log(boxTickets[i].Take)
      const elem = boxTickets[i].Take == true;
      if (elem === true ){
        countTicket = countTicket + 1
      }
      
    }

    
    console.log(`${countTicket} / ${long}`);
    let percentEcuacion =  ((countTicket / long) * 100).toFixed(1);
    console.log(percentEcuacion);
    relation.innerHTML = `<strong> ${countTicket} / ${long} </strong>`
    percent.innerHTML = `<strong> ${percentEcuacion}% </strong>`


    //aqui se crea el numero randon que se muestra para mostrar como funciona
    const randonFront = document.querySelector('.randonFront');

    function RAndom(){
      let random = Math.random() * long + 1;
      let Random = Math.trunc(random);
      //console.log(Random);

      randonFront.innerHTML = `<b>${Random}</b>`
    }

    setInterval( RAndom, 1000)

    //aqui colocamos los premios
    const prizesObject = document.getElementById('prizesObject'); //aqui este el elemento donde inyectaremos los premios
        

    PrizesObject.forEach((element, i) => {
      let prize = element.Prize;
      let winTicket = element.winTicket;

        if (winTicket !== null){
          prizesObject.innerHTML += `
                                  <div class="px-2 fw-bold" style="background-color: #c584f7; border-bottom: 1px solid #6200ad; width: 100%; overflow : auto; white-space: nowrap">
                                      <span style="display: inline-block"> ${i + 1}º Premio : ${prize} <i class="bi bi-arrow-right-short mx-1"></i> </span>
                                      <span style="display: inline-block"> <i class="bi bi-ticket-perforated me-1"></i>${winTicket}</span>
                                  </div>
                                  `
    
                           
        } else {
          prizesObject.innerHTML += `
                                  <div class="px-2 fw-bold" style="background-color: #c584f7; border-bottom: 1px solid #6200ad; width: 100%; overflow : auto; white-space: nowrap">
                                     <span style="display: inline-block"> ${i + 1}º Premio : ${prize} <i class="bi bi-arrow-right-short mx-1"></i> </span>
                                  </div>
                                  `
               
        }

    });


        

    //este script funcionara cuando ya existan ganadores noimporta si es en el Sorteo Pago o Gratis
    const userName = document.getElementById('username').value;
    const winTicketSelect = document.getElementById('winTicketSelect'); //selector winTicket
    const rateSelect = document.getElementById('rateSelect'); //selector rate
    const winPrize = document.getElementById('winPrize');
    const btnRate = document.getElementById('btnRate');

    if (userName){

      console.log('userName ---->', userName);
      console.log('PrizesObject ---->', PrizesObject);//winUser

      for (let i = 0; i < PrizesObject.length; i++) {
        const rate = PrizesObject[i].rate;
        const winUser = PrizesObject[i].winUser;
        const winTicket = PrizesObject[i].winTicket;

        if ( winUser == userName && rate === null ){
          winTicketSelect.innerHTML += `<option value= ${winTicket}> ${winTicket}</option>`
        }
        
      }

      winTicketSelect.addEventListener('change', ()=>{
        const ticketSelected = winTicketSelect.value;
        console.log("ticketSelected", ticketSelected);

        for (let i = 0; i < PrizesObject.length; i++) {
          const winUser = PrizesObject[i].winUser;
          const winTicket = PrizesObject[i].winTicket;
          const Prize = PrizesObject[i].Prize;
          
          if (ticketSelected == winTicket){
            console.log("Prize", Prize)
            winPrize.value = Prize
            if (rateSelect.value !== "select"){
              btnRate.removeAttribute("disabled");
            } else {
              btnRate.setAttribute("disabled", "");
            }
            
          } 
          
          if (ticketSelected == "select"){
            winPrize.value = "";
            btnRate.setAttribute("disabled", "");
          }

        }

      })
      
      rateSelect.addEventListener('change', ()=>{
        const ticketSelected = winTicketSelect.value;

        if (rateSelect.value !== "select"){
          if (ticketSelected !== "select"){
            btnRate.removeAttribute("disabled");
          } else {
            btnRate.setAttribute("disabled", "");
          }
          
        } else {
            btnRate.setAttribute("disabled", "");
        }
      })
    }

                             
  

  })
  .catch( err => console.log(err));

</script>

<script>
  
  // aqui hacemos el juego del selector de ticket y cambio de color del boton y activacion del inpur ref.
  const referTicket = document.getElementById('referTicket');
  const serial = document.getElementById('serial');
  const selectMethod = document.getElementById('selectMethod');

  const btnRegister = document.getElementById('btnRegister');

  let ticketValue;

  if (selectTicket){ 
    selectTicket.addEventListener('change', ()=>{
      
      //console.log("boxTickets ..... :", boxTickets);
      ticketValue = selectTicket.value;
      //console.log("ticketValue :",ticketValue);

      if (ticketValue !== "Select"){

          for (let i = 0; i < boxTickets.length; i++) {
            const ele = boxTickets[i];
            if (ele.No == ticketValue){
                if (ele.Ref.length >= 2){
                    console.log("La Ref ya tiene informacion:", ele.Ref);
                    referTicket.setAttribute("disabled", "");
                    referTicket.value = "";
                    btnRegister.setAttribute("disabled", "");
                    referTicket.value = ele.Ref
                } else {
                    console.log("La Ref es vacia o diferente:", ele.Ref);
                    //entonces como no hay nada debemos poder escribir para poder enviar esa referencia
                    referTicket.removeAttribute("disabled");
                    referTicket.value = "";

                    writeRefrence();
                    
                }
            }
          }


        
      } else {

            referTicket.setAttribute("disabled", "");
            referTicket.value = "";
            btnRegister.setAttribute("disabled", "");

      }

    })
  }  

  if (selectMethod){
    selectMethod.addEventListener('change', ()=>{

      const ReferTicketValue = referTicket.value;

      if (selectMethod.value  !== "Select" ) {
        if (ReferTicketValue.length >= 2){
            btnRegister.removeAttribute("disabled");
        }
      }

    })
  }

  
  let ReferTicketValue;
  function writeRefrence(){


    referTicket.addEventListener('input', (e)=>{
      //console.log("estoy teclenado el input");
      //console.log("Esto es e :", e.target.value);
      ReferTicketValue = e.target.value;

      if (ReferTicketValue.length >= 2){

        if (selectMethod.value !== "Select" ) {
          btnRegister.removeAttribute("disabled");
        }
        
      } else {
        btnRegister.setAttribute("disabled", "");
      }


    })

    Select

  }


  if (btnRegister){

    btnRegister.addEventListener('click', ()=>{
      // ---> aqui enviamo el post  /raffleModule/registerTicket/pay
      const serialValue = serial.value;
      const selectMethodValue = selectMethod.value;

      console.log("serialValue  :", serialValue);
      console.log("ticketValue  :", ticketValue);
      console.log("selectMethodValue  :", selectMethodValue);
      console.log("ReferTicketValue  :", ReferTicketValue);

      const data = {
        Id : serialValue,
        NoTicket: ticketValue,
        MethodBank: selectMethodValue,
        Ref: ReferTicketValue
      } 

      fetch('/raffleModule/registerTicket/pay', {

        method: "post",
        body: JSON.stringify(data),
        headers: {"content-type" : "application/json"}

      })
        .then(response =>response.json() )
        .then( jsonx => {
            console.log("jsonx :", jsonx);
            const code = jsonx.code;
            const message = jsonx.message;

            if (code === "ok"){

              //aqui es momento de poner el gif de check
              var myModal = new bootstrap.Modal(document.getElementById('staticRegisterPayTicket'));
              myModal.show();


              setTimeout(() => {
                location.reload()
              }, 4000);

              
            } else {

              alert("Ha habido un error");

            }

        })
        .catch(err =>{
          console.log("ha ocurrido un error", err);
        })               

    })

  }  


</script>

<script>
          
   const containerMethods = document.querySelector('.containerMethods');



   try {
        const searchMethodBank = document.getElementById('searchMethodBank').value;
        console.log("searchMethodBank ...:", searchMethodBank.value);
        const methodBankValue = JSON.parse(searchMethodBank);   

        const containerDatas = document.querySelector('.containerDatas'); // contenedor donde inyecto los datos del metodo bancario.
        let boxDataX = []; //aqui metere los datos del metodo de pago elegido


        // Ahora puedes hacer lo que necesites con paymentSystems
        console.log("................... :");
        console.log("methodBankValue  :" , methodBankValue);// [{"_id":"68e403dfe3b157c9f859fd01","indexed":"68dfd0efe82457d8d3129f0d","username":"IvanSimonivic","paymentSystem":[{"methodName":"Pago Movil Venezuela","idMethod":1759773663064,"data1":"0102","data2":"04149927998","data3":"13986459"},{"methodName":"zelle","idMethod":1759773896424,"data1":"jon uribe centelles","data2":"jonuribecentelles247@gmail.com"}],"createdAt":"2025-10-06T18:01:03.088Z","updatedAt":"2025-10-06T18:04:56.426Z","__v":0}]

        if (methodBankValue.length !== 0 ){

            console.log("paymentSystem :", methodBankValue[0].paymentSystem );
            const paymentSystem = methodBankValue[0].paymentSystem;

            console.log("paymentSystem ....... :", paymentSystem);
            paymentSystem.forEach((ele, i)=>{

              containerMethods.innerHTML += `
                                            <div class="d-flex my-2 mx-2 p-2" id="selectMethod" style="background-color: rgb(32, 32, 32, .8); border-radius: 3px; font-size: 16px">
                                                  <input type="radio" name="method" id="method${i}"  class="selectedMethod" >
                                                  <label for="method${i}" class="ms-2 text-light">  ${ele.methodName}  </label>
                                            </div> 
                                            `     

            })

            const selectedMethod = document.querySelectorAll(".selectedMethod");

            selectedMethod.forEach((ele, i)=>{
              ele.addEventListener("click", ()=>{
                console.log("He seleccionado el metodo :", i);
                const methodName = paymentSystem[i].methodName;
                const data1 = paymentSystem[i].data1; const data2 = paymentSystem[i].data2; const data3 = paymentSystem[i].data3; const data4 = paymentSystem[i].data4;
                console.log("El metodo elegido es :", methodName);
          
                boxDataX = []; //limpiamos el array
                boxDataX.push(data1, data2, data3, data4); 

                            
                console.log("Esto es boxDataX" , boxDataX);
                

                containerDatas.innerHTML = ""

                containerDatas.innerHTML += `
                                              <div class="data mb-2"> 
                                                <span style="font-size: 16px;"> <b> ${methodName} </b> </span>  
                                              </div>
                                            `  
                
                boxDataX.forEach((ele)=>{

                    if (ele !== undefined ){

                              containerDatas.innerHTML += `
                                              <div class="data"> 
                                                <span class="ms-2 dataX" style="font-size: 16px;"> <span>${ele}</span> <i class="ms-3 bi bi-copy cursor-pointer"></i>  </span>  
                                              </div>
                                            `  
                    }

                })

                const dataX = document.querySelectorAll('.dataX');
                
                dataX.forEach((ele) => {
                  ele.addEventListener('click', async () => {
                    const sonData = ele.children[0].innerText;
                    console.log("sonData :", sonData);

                    try {
                      await navigator.clipboard.writeText(sonData);
                      console.log("Texto copiado al portapapeles");

                      const message = "¡Copiado en portapapeles!"                    
                      mostrarToast( message , 'right', 'info', '', false ); // Agrega título aquí 

                    } catch (err) {
                      console.error("Error al copiar al portapapeles: ", err);
                    }
                  });
                });

              })
            })

        } else {

            containerMethods.innerHTML = `<div class="alert alert-dark mt-3"> <b> <i class="bi bi-exclamation-triangle-fill me-2"></i> Sin método de pago. </b> </div> `
        }   
            
      
   } catch (error) {
       console.error("Error al parsear JSON:", error);
   }

</script>