<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Signin</title>

</head>
<body class="mainTheme">

    <main>

    <%- include('../partials/navi-simple.ejs') %>

    <% if (userError) { %>
        <%- include('../alert/userError.ejs') %>
    <% }; %>

    <% if (passwError) { %>
        <%- include('../alert/passwError.ejs') %>
    <% }; %>

    <% if (registered) { %>
        <%- include('../alert/registered.ejs') %>
    <% }; %>

    <% if (donePasswSuccess) { %>
        <%- include('../alert/donePasswSuccess.ejs') %>
    <% }; %>

    <% if (recaptchaFail) { %>
        <%- include('../alert/recaptchaFail.ejs') %>
    <% }; %>
        
    <% if (seeBot) { %>
        <%- include('../alert/seeBot.ejs') %>
    <% }; %>
    

    <% if (signIn.length !==0 ) { %>
    <div class="container-fluid border-top" style="background-size: cover; background-image: url('<%= signIn[0].url %>'); height: 100%;" >
    <% } else { %>
    <div class="container-fluid">    
    <% }; %>    

        <div class="row d-flex justify-content-end mt-4">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-10 col-12">
 
                <div class="card formTransp mt-4 rounded-2 shadow">
                    <div class="card-header">
                        <i class="bi bi-door-open mx-1"></i> Login
                    </div>
                    <% if (!seeBotObjec) {%>
                    <div class="card-body p-4 border-top border-dark">
                        <form action="/myaccount/signin" method="POST" id="signin">
                            <div class="form-group my-2">
                                <input type="email" name="email" placeholder="Su email" class="form-control"
                                  id="client_user" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2" style="position: relative;">
                                <input type="password" name="password" placeholder="Su contraseña" class="form-control"
                                 id="client_passw" autocomplete="off" maxlength="20" required style="letter-spacing: 3px;">
                                 <i class="bi bi-eye-slash text-dark cursor-pointer" id="toggleSeePassw" style="position: absolute; right: 10px; top: 6px;"></i>
                            </div>
                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <p class="mx-1 mb-0"> <small>¡Upp olvidade mi Password! <a href="/myaccount/signin-forgottenpassw" class="text-dark ms-2 fw-bold"> Clic here</a> </small></p>
                            </div>
                            <input type="hidden" name="recaptchaResponse" id="recaptchaResponse">
                            <div class="form-group my-3">
                                
                                <button class="g-recaptcha form-control btn btn-dark" id="btnLogin"
                                    data-sitekey="6LccKFYlAAAAAKiLwTw_Xz2l7_Qm_6PTe7_RyEG0"
                                    data-action='login' data-callback='onSubmitSignin'>
                                Login
                                </button> 
                                
                                <button class="form-control btn btn-dark close" id="btnLoginDisabled" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    login ...
                                </button>

                            </div>    
                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <p class=" mx-1 mb-0"><small> No tengo una cuenta. <a href="/myaccount/signup" class="text-danger ms-2 fw-bold">¡Registarme!</a> </small> </p>
                            </div>
                            
                        </form>
                    </div>
                    <% } else { %>
                    <div class="card-body p-4 border-top border-dark">
                        <form>
                            <div class="form-group my-2">
                                <input type="email" name="email" placeholder="Su email" class="form-control"
                                    id="client_user" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="password" placeholder="Su contraseña" class="form-control"
                                    id="client_passw" autocomplete="off" style="letter-spacing: 3px;" maxlength="20" required>
                            </div>
                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <p class="mx-1 mb-0"> <small>¡Upp olvidade mi Password! Clic here</a> </small></p>
                            </div>
                            
                            <div class="form-group my-3">
                                
                            <button class="form-control btn btn-secondary" disabled>
                            Login Block
                            </button>   

                            </div>    
                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <p  class="mx-1 mb-0"><small> No tengo una cuenta. <a class="text-danger ms-2 fw-bold">¡Registarme!</a> </small> </p>
                            </div>
                            
                        </form>
                    </div>
                    <% }; %>    
                </div>
                 
            </div>
        </div>
        
    </div>

    <%- include('../partials/scripts.ejs')%>
    <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>

    </main>
</body>
</html>


<script>
    //toggle de visibilidad de password
    const togglePassword = document.getElementById('toggleSeePassw');
    const passwordInput = document.getElementById('client_passw')

    togglePassword.addEventListener('click', () => {
        // Cambiar el tipo de input entre 'password' y 'text'
        
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        //console.log("Que type es >>", type);
        if (type == "text"){
            togglePassword.classList.remove('bi-eye-slash')
            togglePassword.classList.add('bi-eye')
        } else {
            togglePassword.classList.remove('bi-eye')
            togglePassword.classList.add('bi-eye-slash')
        }

        
    });
</script>



<!--
Diferentes acciones dependiendo de la interaccion que este ejecutando.
Esto es mportante para google reCAPTCHA
data-action='login'
data-action='register'
data-action='forgot_password'
-->

<script>
    // ir a la pagina > google.com/recaptcha/about/
    // acceder a V3 Admin Console  (hacer esto con la cuenta de google scorpinosred@gmail.com)
    TokenRecaptacha = document.getElementById('recaptchaResponse');
    const btnLogin = document.getElementById('btnLogin');
    const btnLoginDisabled = document.getElementById('btnLoginDisabled');


    btnLogin.addEventListener('click', onSubmitSignin)


    async function onSubmitSignin() {
        let response = grecaptcha.getResponse();
        //console.log(typeof response);
        //console.log(response.length );
        //cuando tenemos el token de reCAPTCHA es cuando lo agregamos en el input hidden
        // y de esta forma sabemso que todo llegara junto para ser validado en el servidor
        //y tambien llega una sola vez. 
        if (response.length !==0){
            TokenRecaptacha.value = response;
            //console.log("response -->", response);
            btnLogin.classList.add('close');
            btnLoginDisabled.classList.remove('close');

            document.getElementById("signin").submit();
            //console.log("enviando al backend");
        }
        
        
    }


</script>

<script>
    window.addEventListener('load', ()=>{
        const clientUser = document.getElementById('client_user');
        const clientPassw = document.getElementById('client_passw');

        clientUser.value= "";
        clientPassw.value= "";
    })
</script>

<!-- 
Nota sobre reCAPTCHA de Google
pasos para integrarlo en el proyecto
1. tener la api del front para pedir el token, este caso le tenemos en el partial/head 


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

2. en el front se usa dentro de un buttom como lo puedes apreciar arriba    

    <button class="g-recaptcha form-control btn btn-dark" id="btnLogin"
        data-sitekey="6LccKFYlAAAAAKiLwTw_Xz2l7_Qm_6PTe7_RyEG0"
        data-action='login' data-callback='onSubmitSignin'>
        Login
    </button> 

    aqui debes tener en data-sitekey la clave del sitio que te provee tu cuenta de google reCAPTCHA
    Esto viene con una clave de secreta que estara en el servidor. 

3. en el servidor se hace una peticion de validacion a la api de google reCAPTCHA para Validar   

    fetch('https://www.google.com/recaptcha/api/siteverify', {
        method: "post",
        body: new URLSearchParams(datos),
        headers: {"content-type" : "application/x-www-form-urlencoded"}

    })
    .then(response =>response.json() )
    .then( jsonx => {

        //console.log(jsonx);
        const success = jsonx.success;
        const score = jsonx.score;
        //const score = 0.4; para test
        console.log(`success -> ${success} | score -> ${score}`);

        if (success === true){
            if (score >= 0.5){
                console.log("Es un humano");
                //aqui todo el resto del proceso
            } else {
                console.log("Es un bot");
            } 
        else {
            console.log("La verificacion de recaptcha ha fallado");
        }  
    })
    .catch( err => console.log(err)); 
    
    4. debes tener en cuenta que el objeto que recibes de google reCAPTCHA es un objeto
        { success: true, score: 0.9 } entre otros datos.

        el score es el rango de respuesta que identifica a un humano de un bot. 
        1 es humano
        0.5 intermedio (no sabemos que es)
        0 es un bot

        teniendo este rango claro todo lo que sea igual o menor a 0.5 es un bot.
        
-->