<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Signup</title>
</head>
<body class="mainTheme">
    <main>
    <%- include('../partials/navi-simple.ejs') %>
          
    <% if(mailExist) { %>    
        <%- include('../alert/mailExist.ejs') %>
    <% }; %>

    <% if(passwNoMatch) { %>    
        <%- include('../alert/passwNoMatch.ejs') %>
    <% }; %>
    
    <% if(passMaxLength) { %>    
        <%- include('../alert/passMaxLength.ejs') %>
    <% }; %>
    
    <% if(usernameExist) { %>    
        <%- include('../alert/usernameExist.ejs') %>
    <% }; %>

    <% if(usernameErr) { %>    
        <%- include('../alert/usernameErr.ejs') %>
    <% }; %>
    

    <% if (signUp.length !==0) { %>
    <div class="container-fluid border border-dark" style="background-size: cover; background-image: url('<%= signUp[0].url %>'); height: 100%;" >
    <% } else { %>
    <div class="container-fluid">    
    <% }; %>

        <div class="row d-flex justify-content-end mx-3 mt-4">
            <div class="col-lg-4 col-md-5 col-sm-10 col-12">
                <div class="card formTransp mt-4 rounded-2 shadow">
                    <div class="card-header d-flex justify-content-between">
                        <span><i class="bi bi-journal-check mx-1"></i> Register</span>
                        <span><i class="bi bi-1-square me-1"></i></span>
                    </div>
                    <div class="card-body p-4 border-top border-dark">
        
                        <form action="/myaccount/signup" method="POST" id="signup">
                            <div class="form-group my-2">
                                <input type="text" name="username" placeholder="Su username (6 a 18 caracteres)" class="form-control"  minlength="6" maxlength="18" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="email" name="email" placeholder="Su email (example@mail.com)" class="form-control" style="text-transform:lowercase;" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="password" placeholder="Su contraseña" class="form-control"  minlength="6" maxlength="20" style="letter-spacing: 3px;" autocomplete="off"  required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="confirmPassword" placeholder="Confirme contraseña" class="form-control"  minlength="6" maxlength="20" style="letter-spacing: 3px;" autocomplete="off" required>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="CheckRegister">
                                <label class="form-check-label" for="CheckRegister">
                                    <small>
                                        Acepto los <a href="/terms">Terminos</a> y <a href="/policy">Politicas</a>
                                        aqui declarados.
                                    </small>
                                </label>
                            </div>

                            <input type="hidden" name="token">
                            <div class="form-group my-3">  
                                <div class="form-group mt-3">
                                    <button class="form-control btn btn-dark" id="btnRegisterDisabled" disabled>
                                        Register <i class="bi bi-lock ms-1"></i>
                                    </button>

                                    <button class="g-recaptcha form-control btn btn-dark close" id="btnRegister" 
                                        data-sitekey="6LfVgFYlAAAAAAdKk3Ksy7jHovwp6rK90s5kmNOK" 
                                        data-callback='onSubmitSignup' 
                                        data-action='submit'>
                                        
                                    Register <i class="bi bi-unlock ms-1"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <label for="" class=" mx-1"><small> Tengo una cuenta. <a href="/myaccount/signin" class="text-danger ms-2 fw-bold">¡Logearme!</a> </small> </label>
                            </div>    
                        </form>
        
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <%- include('../partials/scripts.ejs')%>
    <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>
    
    </main>
</body>
</html>


<script>
    let CheckRegister = document.getElementById('CheckRegister');
    let btnRegisterDisabled = document.getElementById('btnRegisterDisabled');
    let btnRegister = document.getElementById('btnRegister');

    
    CheckRegister.addEventListener('change', ()=>{
        //btnRegister.disabled == !this.checked;
        let checKED = CheckRegister.checked;
        console.log(CheckRegister.checked)
        if (checKED === true){
            console.log("esta marcado")
            btnRegisterDisabled.classList.add('close');
            btnRegister.classList.remove('close');
        } else {
            console.log("NO esta marcado")
            btnRegisterDisabled.classList.remove('close');
            btnRegister.classList.add('close');
        }
    })


</script>
