<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet Signup</title>

</head>
<body class="mainTheme">
    <main>
    <%- include('../partials/navi-simple.ejs') %>
          
    <% if(mailExist) { %>    
        <%- include('../alert/mailExist.ejs') %>
    <% }; %>

    <% if(passwNoMatch) { %>    
        <%- include('../alert/passwNoMatch.ejs') %>
    <% }; %>
    
    <% if(passMaxLength) { %>    
        <%- include('../alert/passMaxLength.ejs') %>
    <% }; %>
    
    <% if(usernameExist) { %>    
        <%- include('../alert/usernameExist.ejs') %>
    <% }; %>

    <% if(usernameErr) { %>    
        <%- include('../alert/usernameErr.ejs') %>
    <% }; %>
    
    <% if (recaptchaFail) { %>
        <%- include('../alert/recaptchaFail.ejs') %>
    <% }; %>
        
    <% if (seeBot) { %>
        <%- include('../alert/seeBot.ejs') %>
    <% }; %>    

    <% if (signUp.length !==0) { %>
    <div class="container-fluid border-top" style="background-size: cover; background-image: url('<%= signUp[0].url %>'); height: 100%;" >
    <% } else { %>
    <div class="container-fluid">    
    <% }; %>

    <div class="row d-flex justify-content-end mt-4">
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-10 col-12">
                <div class="card formTransp mt-4 rounded-2 shadow">
                    <div class="card-header d-flex justify-content-between">
                        <span><i class="bi bi-journal-check mx-1"></i> Register</span>
                        <span><i class="bi bi-1-square me-1"></i></span>
                    </div>
                    <% if (!seeBotObjec) {%>
                    <div class="card-body p-4 border-top border-dark">
        
                        <form action="/myaccount/signup" method="POST" id="signup">
                            <div class="form-group my-2">
                                <input type="text" name="username" placeholder="Su username o nombre de tienda" class="form-control"  minlength="6" maxlength="20" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="email" name="email" placeholder="Su email (example@mail.com)" class="form-control" style="text-transform:lowercase;" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="password" placeholder="Su contraseña" class="form-control"  minlength="6" maxlength="20" style="letter-spacing: 3px;" autocomplete="off"  required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="confirmPassword" placeholder="Confirme contraseña" class="form-control"  minlength="6" maxlength="20" style="letter-spacing: 3px;" autocomplete="off" required>
                            </div>

                            <div class="form-check rounded-1" style="background-color: rgba(0, 0, 0, 0.6);">
                                <div class="form-group mx-1">
                                    <input class="form-check-input" type="checkbox" value="" id="CheckRegister">
                                    <label class="form-check-label" for="CheckRegister">
                                        <small style="user-select: none;">
                                            Acepto los <a href="/terms">Términos</a> y <a href="/policy">Politicas</a>
                                            aqui declarados.
                                        </small>
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" name="recaptchaResponse" id="recaptchaResponse">
                            <input type="hidden" name="token">
                            <div class="form-group my-3 mt-3">  

                                <button class="form-control btn btn-dark" id="btnRegisterLock" disabled>
                                    Register <i class="bi bi-lock ms-1"></i>
                                </button>

                                <button class="g-recaptcha form-control btn btn-dark close" id="btnRegister" 
                                    data-sitekey="6LfVgFYlAAAAAAdKk3Ksy7jHovwp6rK90s5kmNOK" 
                                    data-callback='onSubmitSignup' 
                                    data-action='register'>
                                    
                                    Register <i class="bi bi-unlock ms-1"></i>
                                </button>

                                <button class="form-control btn btn-dark close" id="btnRegisterDisabled" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Register ...
                                </button>
                                
                            </div>

                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <label for="" class=" mx-1"><small> Tengo una cuenta. <a href="/myaccount/signin" class="text-danger ms-2 fw-bold">¡Logearme!</a> </small> </label>
                            </div>    
                        </form>
        
                    </div>
                    <% } else { %>
                    <div class="card-body p-4 border-top border-dark">    

                        <form>
                            <div class="form-group my-2">
                                <input type="text" name="username" placeholder="Su username o nombre de tienda" class="form-control"  minlength="6" maxlength="20" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="email" name="email" placeholder="Su email (example@mail.com)" class="form-control" style="text-transform:lowercase;" autocomplete="off" required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="password" placeholder="Su contraseña" class="form-control"  minlength="6" maxlength="20" style="letter-spacing: 3px;" autocomplete="off"  required>
                            </div>
                            <div class="form-group my-2">
                                <input type="password" name="confirmPassword" placeholder="Confirme contraseña" class="form-control"  minlength="6" maxlength="20" style="letter-spacing: 3px;" autocomplete="off" required>
                            </div>

                            <div class="form-check border border-secondary rounded-1" style="background-color: rgba(0, 0, 0, 0.6);">
                                <div class="form-group mx-1">
                                    <input class="form-check-input" type="checkbox" value="" id="CheckRegister" style="margin-left: -14px;">
                                    <label class="form-check-label ms-2" for="CheckRegister">
                                        <small>
                                            Acepto los <a href="/terms">Términos</a> y <a href="/policy">Politicas</a>
                                            aqui declarados.
                                        </small>
                                    </label>
                                </div>
                            </div>



                            <button class="form-control btn btn-secondary" disabled>
                                Register Block <i class="bi bi-lock ms-1"></i>
                            </button>
                                
                           
                            <div class="form-group my-2 p-1 bg-light rounded-2 text-dark">
                                <label for="" class=" mx-1"><small> Tengo una cuenta. <a href="#" class="text-danger ms-2 fw-bold">¡Logearme!</a> </small> </label>
                            </div>    
                        </form>

                    </div>    
                    <% }; %>    
                </div>
            </div>
        </div>
        
    </div>

    <%- include('../partials/scripts.ejs')%>
    <%- include('../partials/scriptsOnlyNavi-simpleNoIcons.ejs') %>
    
    </main>
</body>
</html>


<!--
Diferentes acciones dependiendo de la interaccion que este ejecutando.
Esto es mportante para google reCAPTCHA
data-action='login'
data-action='register'
data-action='forgot_password'
-->

<script>
    // ir a la pagina > google.com/recaptcha/about/
    // acceder a V3 Admin Console  (hacer esto con la cuenta de google scorpinosred@gmail.com)
    TokenRecaptacha = document.getElementById('recaptchaResponse');
    const btnRegister = document.getElementById('btnRegister');


    btnRegister.addEventListener('click', onSubmitSignup)


    async function onSubmitSignup() {
        //primero bloqueamos para que solo puedan darle una sola vez al boton
        //desactivamos el boton
        let response = grecaptcha.getResponse();
        //console.log(typeof response);
        //console.log(response.length );
        //cuando tenemos el token de reCAPTCHA es cuando lo agregamos en el input hidden
        // y de esta forma sabemso que todo llegara junto para ser validado en el servidor
        //y tambien llega una sola vez. 
        if (response.length !==0){
            TokenRecaptacha.value = response;
            //console.log("response -->", response);

            btnRegister.classList.add('close'); //oculto el boton de registro activo
            btnRegisterLock.classList.add('close');//ocultar el boton registro lock
            btnRegisterDisabled.classList.remove('close');//aparece el boton bloqueado que tiene el spinner

            document.getElementById("signup").submit(); //enviamos el formulario al servidor.
            //console.log("enviando al backend");
        }
        
        
    }


</script>


<script>
    let CheckRegister = document.getElementById('CheckRegister');
    let btnRegisterLock = document.getElementById('btnRegisterLock');

    
    CheckRegister.addEventListener('change', ()=>{
        //btnRegister.disabled == !this.checked;
        let checKED = CheckRegister.checked;
        console.log(CheckRegister.checked)
        if (checKED === true){
            console.log("esta marcado")
            btnRegisterLock.classList.add('close');
            btnRegister.classList.remove('close');
        } else {
            console.log("NO esta marcado")
            btnRegisterLock.classList.remove('close');
            btnRegister.classList.add('close');
        }
    })


</script>
