<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet  View-Store</title>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Que es Blissenet?">
    <meta property="og:description" content="Blissenet es un Marketplace que te permite crear tu propio e-commerce gratuito en solo un minuto. Estilízalo con tu banner y logo para publicar lo que desees.">
    <meta property="og:image" content="/img/logoBlissenetJonathan.png">
    <meta property="og:url" content="https://blissenet.com">    
    <meta property="og:site_name" content="Blissenet">
    <meta name= "twitter:card" content="summary_large_image">
    <meta name= "twitter:title" content="Que es Blissenet?">
    <meta name= "twitter:description" content="Blissenet es un Marketplace que te permite crear tu propio e-commerce gratuito en solo un minuto. Estilízalo con tu banner y logo para publicar lo que desees.">
    <meta name= "twitter:image" content="/img/logoBlissenetJonathan.png">
    <meta name= "twitter:url" content="https://blissenet.com">
    
</head>
<style>

  .textLight{
    /* trabaja en conjunto con themaTextLight */
    color: white;
  }

  .SectionPublish{
    width: 100%;
  }

  .searchMain{
    border: none;

  }
  .searchMain:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    
  }

  .contentSearchMain{
    margin: 0px 0px;
  }

    .departList{
      background-color: #fff4f4;
      padding: 0px 8px;
      color: rgb(54, 52, 49);
      border-radius: 12px;
    }


    .carousel .carousel-control-prev {
      position: absolute;
      left: 20px;
      left: 1%;
      z-index: 1;
      width: 20px;
    }

    .carousel .carousel-control-next {
      position: absolute;
      width: 20px;
      right: 1%;
      z-index: 1;
      width: 20px;
      
    }

    .cardPublished{
      width: 230px;
      transition: 0.3s ease border;
  
    }

    .cardPublished:hover{
      outline: 2px solid lightskyblue;
    }

    .contentTopBar {
        .linkHeart{
          position: absolute; top: 3px; right: 3px;
          cursor: pointer;
          width: 35px; height: 35px;
          opacity: 0;
          background-color: white;
          transition: 1.2s all ease;
          }
    }

    .contentTopBar:hover {
      .linkHeart{
       opacity: 1;
       }
    }

  /* estilos de card rotativas */
  .cardStore{
        width: 250px;
        height: 170px;
        position: relative;
        transform-style: preserve-3d;
        transition: 1s;
    }

    .flipped{
        transform: rotateY(180deg);
    }

    .front, .back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .front{
        background-color: lightblue;

    }

    .back{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkblue;
        color: aliceblue;
        height: 100%;
        transform: rotateY(180deg);
    }

    .rotar{
        cursor: pointer;
    }

    .Geolo{
      display: none;
    }
  
</style>
<body class="mainTheme">
 
  <main>

  <% if (user) { %>
    <% const seeMarket = user.seeMarket %>
    <!-- <% const idUser = user._id %> -->
    <input type="hidden" value="<%= seeMarket.countryMarketCode %>" id="seeMarket">
    <!-- <input type="hidden" value="<%= idUser %>" id= "idUser"> -->
      <!-- este bloque me permite validad si el usuario que se logea tiene un meercado definido. sino lo tiene debe obligatoriamente hacerlo. --> 
  <% }; %>

  <!-- navegador con buscador homologo a navi-simple -->   
    <nav class="navbar navbar-expand-lg py-3" id="navHead">
      <div class="container-fluid mx-4 navSon" style="width: 100%;">

        
        <a class="navbar-brand" href="/" id="logoBlissenet"> </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarScroll" style="width: 90%;">

          <div class="contentBar d-flex flex-column" style="width: 100%;">

            <div class="contentUp d-flex  flex-wrap justify-content-between p-0" style="width: 100%;">
                
                
                <!-- themes & session -->
                <div class="contentThemesSesion me-3 d-flex align-items-center">
                  <!-- themes -->
                  <span class="controlHead"> <!-- icon sun and moon dinamics  --> </span>

                  <!-- session -->
                  <div class="dropdown mx-4 login">
                    
                      <a class="text-decoration-none text-secondary" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Session
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">

                        <% if (user) { %>
                          <li class="d-flex justify-content-between align-items-center" style="cursor: pointer;"><a class="dropdown-item disabled" href="/myaccount/signin"> <i class="bi bi-door-open mx-1"></i> Login </a></li>
                          <li class="d-flex justify-content-between align-items-center" style="cursor: pointer;"><a class="dropdown-item disabled" href="/myaccount/signup"> <i class="bi bi-journal-check mx-1"> </i> Register</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                        <% } else { %>
                          <li class="d-flex justify-content-between align-items-center" style="cursor: pointer;"><a class="dropdown-item" href="/myaccount/signin"> <i class="bi bi-door-open mx-1"></i> Login</a></li>
                          <li class="d-flex justify-content-between align-items-center" style="cursor: pointer;"><a class="dropdown-item" href="/myaccount/signup"> <i class="bi bi-journal-check mx-1"></i> Register</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                        <% }; %>
        
                        <% if (user) { %>
                          <li class="d-flex justify-content-between align-items-center" style="cursor: pointer;"><a class="dropdown-item" href="/myaccount/logout"> <i class="bi bi-door-closed mx-1"></i> Logout</a></li>
                        <% } else { %>
                          <li class="d-flex justify-content-between align-items-center" style="cursor: pointer;"><a class="dropdown-item disabled" href="/logout"> <i class="bi bi-door-closed mx-1"></i> Logout</a></li>
                        <% }; %>
        
                      </ul>
            
                  </div>
                </div>
                  
                <!-- actions -->

                <div class="content d-flex">
                  <!-- username -->
                  <div class="contentUsername me-2">
                    <ul class="navbar-nav m-0 usernameMain">
                      <li class="nav-item dropdown">

                        <% if (user) { %>
                            <a class="nav-link" href="#" id="navbarScrollingDropdown" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <p class="m-0 p-0" style="max-width: 140px; white-space: noWrap; text-overflow: ellipsis; overflow: hidden;" > 
                                <i class="bi bi-person"></i> <%= user.username %>
                              </p>
                            </a>
                          <% } else { %>
                            <a class="nav-link disabled d-flex" href="#">
                              <i class="bi bi-person me-1"></i> username
                            </a>
                          <% }; %>
                          <% if (user) { %>
                              
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                              <li><a class="dropdown-item" href="/myaccount/messenger">Notificaciones</a></li>
                              <% if (searchProfile.length !==0 ) { %>
                              <li><a class="dropdown-item" href="/account/<%= user.username %>">Mi Tienda</a></li>
                              <% }; %>
                              <li><a class="dropdown-item" href="/buysell-list/">Sala de Negocios</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="/myfavorites">Favoritos</a></li>
                              <% if (searchProfile.length !==0 ) { %>
                                <li><a class="dropdown-item" href="/mytickets">Mis Tickets</a></li>
                                <li><a class="dropdown-item" href="/follow">Siguiendo </a></li>
                                <li><a class="dropdown-item" href="/followme">Siguiendome </a></li>
                              <% }; %>
                              <li><hr class="dropdown-divider"></li>
                              <% if (searchProfile.length !==0 ) { %>
                                <li><a class="dropdown-item" href="/admin-store">Administración</a></li> 
                              <% }; %>
                              <li><a class="dropdown-item" href="/myaccount/profile">Perfil</a></li>
                            </ul>
                          <% }; %> 
                      </li>
                    </ul>
                  </div>  

                  <!-- publications -->
                  <ul class="navbar-nav my-lg-0 me-2">
                    <li class="nav-item dropdown">
                      <% if (user) { %>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Publicaciones
                        </a>
                      <% } else { %>
                        <a class="nav-link dropdown-toggle invisible" href="#" id="navbarScrollingDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Publicaciones
                        </a>
                      <% }; %>
                          
                      <% if (user) { %>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="/department/create">Const. Anuncios</a></li>
                        <% if (searchProfile.length !==0 ) { %>
                          <li><a class="dropdown-item" href="/department/raffle">Const. Sorteos</a></li>  
                          <li><a class="dropdown-item" href="/my-ads">Mis Anuncios</a></li>
                          <li><a class="dropdown-item" href="/my-invoices">Facturas</a></li>
                        <% }; %>
                          <li><a class="dropdown-item" href="/history">Historial</a></li>
                        <% if (searchProfile.length !==0 ) { %>
                          <li><a class="dropdown-item" href="/record">Record</a></li>  
                        <% }; %>  
                      </ul>
                      <% }; %>

                    </li>
                  </ul>

                  <!-- bell messages -->
                  <div class="contentAlerts d-flex">

                    <% if (user) { %>
            
                      <% if (countMessages) { %>
                        <a class="nav-link text-secondary" title="Alert of inbox"  href="/myaccount/messenger">
                      
                        <i class="bi bi-bell position-relative">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <%= countMessages %>
                            <span class="visually-hidden">unread messages</span>
                        </span>
                        </i>  
            
                        </a>
                      <% }; %> 
                    
            
                      <% if (countNegotiationsBuySell) { %>    
                        <a class="nav-link text-secondary" title="Alert of negotiation"  href="/buysell-list">
                        <i class="bi bi-briefcase position-relative">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        <%= countNegotiationsBuySell %>
                        <!-- <span class="visually-hidden">unread messages</span> -->
                        </span>
                        </i>
                          
                        </a>  
                      <% }; %>
            
                    <% }; %>  
                  </div>
                </div>

            </div>
        
            <div class="contentDown d-flex justify-content-center" style="height: auto;">

                
                <!-- searcher -->
                <div class="contentSearchMain" style="width: 100%; height: 100%;">
                  <form action="/view-store" method="post" class="d-flex justify-content-center flex-wrap formSearch">

                      <div class="contentSearch d-flex" style="width: 60%; height: 100%;">
                                        
                        <div class="input-group">
                          <% if (cacheSearch) { %>
                            <input class="form-control me-0 searchMain" type="search" name="searcher" id="searcherId" value="<%= cacheSearch %>" style="border: 1px solid #f0c51e; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                          <% } else if (cacheHashtag) { %>
                            <input class="form-control me-0 searchMain" type="search" name="searcher" id="searcherId" value="#<%= cacheHashtag %>" style="border: 1px solid #f0c51e; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                          <% } else { %>
                            <input class="form-control me-0 searchMain" type="search" name="searcher" id="searcherId"  placeholder="Buscando Tienda...?" style="border: 1px solid #f0c51e; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                          <% }; %>  


                          <button class="btnSearcherClass btnEFECT" type="submit" id="btnSearcher" style="background: #f0c51e; border: none; height: 100%; width: 70px; width: 70px; height: 100%;border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
                            <i class="bi bi-search" id="iconLupa" style="color: rgb(58, 58, 58);"></i>
                          </button>
                        </div>

                      </div><!-- border: none; height: 100%; width: 70px; border-left: 1px solid rgb(196, 196, 196, 0.5); -->
                    

                  </form>

                </div>

            </div>

          </div>
        </div>
      </div>
    </nav>

    <div class="row rowWidth SectionPublish">
      <div class="col-lg-3 col-md-3 col-sm-12 bg-light p-0 p-1 OptionsBar bg-dark" style="border: 2px solid #f0c51e;">
        
        <div class="card mx-0 border border-info cardResultSearch"  style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; ">
          <div class="card-header d-flex justify-content-between"><span>Colección de Tiendas</span> <i class="bi bi-shop-window" style="font-size: 20px;"></i> </div>
          <div class="card-body">
              
            <% if (cacheSearch) { %>
              <p><i class="bi bi-search me-1"></i> Buscando : <span  id="searcherSpan"> <%= cacheSearch %> </span> </p>
            <% } else if (cacheHashtag) { %>
              <p><i class="bi bi-search me-1"></i> Buscando : <span  id="searcherSpan">#<%= cacheHashtag %> </span> </p>
            <% } else { %>
              <p><i class="bi bi-search me-1"></i> Buscando :  ¡Iniciando búsqueda!</p>
            <% }; %>  

            <% if (countSearch !== 0 ) { %>
                <% if (countSearch) { %> <p> <i class="bi bi-funnel me-1"></i> Cuentas encontradas : <span class="ms-2"><%= countSearch %></span> </p>  <% }; %>
            <% } else { %>

                <span>¡No se ha encontrado nada!</span>
                <div class="containerImageSinResultados d-flex justify-content-center">
                    <img src="/img/sinResultados.png" style="width: 150px;">
                </div>
                
            <% }; %>  

                  <hr>
                <% if (Hashtag == "false"){ %>

                  <% if (stateGroup) { %>
                    <% stateGroup.forEach((ele)=>{ %>
                      <a href="/view-store/<%= Searcher %>/<%= ele._id %>">
                        <span>
                          <%= ele._id %> (<%= ele.repetido %>)
                        </span></a> 
                        <br>
                      
                    <% }); %>
                  <% } %>

                <% } else { %>
                  
                  <% if (stateGroup) { %>
                    <% stateGroup.forEach((ele)=>{ %>
                      <a href="/view-store/hashtag/<%= Searcher %>/<%= ele._id %>">
                        <span>
                          <%= ele._id %> (<%= ele.repetido %>)
                        </span></a> 
                        <br>
                      
                    <% }); %>
                  <% } %>

                <% }; %>  

                  <% if (cardArticleStore.length==0 ) {%>
                      <span>No se ha encontrado nada</span>

                      <div class="containerImageSinResultados d-flex justify-content-center">
                          <img src="/img/sinResultados.png" style="width: 200px;">
                      </div>
                  <% }; %>

          </div>
        </div>
        <div class="AlertInfo border border-info p-2 my-1">
          <div class="d-flex flex-column alert alert-secondary m-1 p-1">
            <div class="contentUp d-flex justify-content-between">
                <div class="contentSinbolo me-2">
                    <span class="bg-dark text-light rounded-2 py-0 px-2" style="font-size: 40px">#</span>
                </div>
                <div class="contentInfo">
                    <p>Utiliza el # para busquedas de tiendas por <strong>palabra clave</strong>. </p>
                </div>
            </div>
            <div class="contentDown">
            
                <ul>
                  <li>#zapatos</li>
                  <li>#abogados</li>
                  <li>#monopatin electrico</li>
                </ul>

          
            </div>  

          </div>
        </div>

      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 p-0">
        <audio src="/sound/Icon-efect.mp3" id="efectIcon"></audio>
        <div class="barrHorizontIcon px-0 py-1 m-0 d-flex flex-wrap border-bottom border-secondary shadow-sm" style="width: 100%; background: #f0c51e;">
          <ul class="d-flex my-1 py-1 justify-content-between" style="overflow-x: auto;">
            <a href="/view-raffles" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-raffleW.png" alt="" title="Sorteos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-artes" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-arteGalleryW.png" alt="" title="Artes" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-airplanes" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-aeronauticaW.png" alt="" title="Aeronáuticos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-items" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-articuloW.png" alt="" title="Articulos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-automotive" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-automotrizW.png" alt="" title="Automotriz" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-realstate" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-bienesRaicesW.png" alt="" title="Bienes Raices" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-nautical" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-nauticoW.png" alt="" title="Náuticos" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-services" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-servicioW.png" alt="" title="Servicios" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
            <a href="/view-auction" class="text-decoration-none mx-4 p-0 rounded-pill iconEfect" style="background-color : #f0c51e;"><img src="/img/ico-subastaW.png" alt="" title="Subastas" class="shadow" style="width: 42px; height: 42px; border-radius: 50%;"></a> 
          </ul>
        </div>
        
        <div class="viewCollection" style="height: auto; background: #fff5cb;">
       
              <div class="containAlert" style="position: sticky; z-index: 100; top: 0px;" > <!-- bloque dinamico --> </div>
            
              <% if (cardArticleStore.docs.length !==0 ) {%>
                <div class="contentAll d-flex flex-wrap justify-content-center p-3">
                    <% cardArticleStore.docs.forEach( (ele, i)=>{ %>

                      <% const bannerStore = ele.bannerPerfil[0].url  %>
                        
                        <div class="card cardStore m-2 p-0 shadow cardPublished">
                          
                              <div class="card-body front p-0">

                                      <div class="upp d-flex flex-column justify-content-center align-items-start" style="width: 100%; height: 100%;">
                                        <!--  object-fit: cover; background-image: url(<%= bannerStore %>); -->
                                          <div class="contentTopBar d-flex justify-content-center align-items-center" style="position: relative; width: 100%; height: 51%;  background-color: <%= ele.bGColorWorkspace %>">
                                                <% if (user) { %>
                                                <div class="linkHeart d-flex justify-content-center align-items-center rounded-pill border"><input type="hidden" value="<%= user._id %>"> <input type="hidden" value="<%= ele.indexed %>"><i class="bi bi-bookmark-check Heart"></i></div>
                                                <% }; %>
                                                
                                                <% if (ele.avatarPerfil[0].url.length === 0 ) {%>
                                                    <img src="https://www.gravatar.com/avatar/<%= ele.mailhash %>?d=identicon" class="rotar" style="width: 55px; height: 55px; object-fit: cover; border-radius: 50%;">  
                                                <% } else {%>
                                                    <img src="<%= ele.avatarPerfil[0].url %>" alt="" class="rotar" style="width: 55px; height: 55px; object-fit: cover; border-radius: 50%;">
                                                <% }; %>    
                                          </div>
                                                  
                                          <div class="contentWorkSpace py-0 px-2 d-flex justify-content-start align-items-center" style="width: 100%; height: 49%; background-color: <%= ele.bGColorTopbar %>;">
                                            <a href="/account/<%= ele.username %>" class="text-decoration-none text-dark d-flex flex-column align-items-start justify-content-center">        
                                                  <p class="mx-0 my-0" style="color:<%= ele.bGColorText %>;"><i class="bi bi-person-workspace me-1"></i><%= ele.username %></p>
                                                  <p class="mx-0 my-0" style="color:<%= ele.bGColorText %>;"><i class="bi bi-geo-alt-fill me-1"></i><%= ele.country %> - <%= ele.state %> - <%= ele.quarter %> </p>
                                                  <!-- <p class="mx-0 my-0" style="color:<%= ele.bGColorText %>;"><i class="bi bi-geo-alt me-1"></i><%= ele.state %></p> -->
                                            </a>  
                                          </div>
                                          
                                      </div>
              
                              </div>
                              <div class="card-body p-0 back">

                                      <div class="down" style="width: 100%; height: 100%;">
                                        <div class="contentWorkSpace p-2" style="height: 100%; background-color: whitesmoke;">
                                          <p class="m-0" style="color: black"><i class="bi bi-chat-right-dots me-2"></i><%= ele.profileMessage %></p>
                                        </div>
                                      </div>

                              </div>
                                
                        </div>
                      
                    <% }); %>
                </div>           
              <% } else { %>
                  <div class="containerImageSinResultados d-flex justify-content-center p-5">
                      <img src="/img/sinResultados.png" style="width: 200px;">
                  </div>
              <% }; %>

              <div class="contentPagination border-bottom" style="height: 100%;">

                <% if (cardArticleStore) { %>
                
                    <% if ( cardArticleStore.page == 1 && cardArticleStore.totalPages !== 1 ) {  %>
                                            
                    <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end align-items-center my-3 pe-5">
                    
                        <li class="page-item disabled"><a class="page-link" href="?page=1"> <i class="bi bi-arrow-bar-left"></i> 1 </a></li>
                        <li class="page-item disabled"><a class="page-link" href="?page=<%= cardArticleStore.prevPage %>">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="?page=<%= cardArticleStore.page %>"><%= cardArticleStore.page %></a></li>
                        <li class="page-item "><a class="page-link" href="?page=<%= cardArticleStore.nextPage %>">Next</a></li>
                        <li class="page-item "><a class="page-link" href="?page=<%= cardArticleStore.totalPages %>"> <%= cardArticleStore.totalPages %> <i class="bi bi-arrow-bar-right"></i> </a></li>
                  
                      </ul>
                    </nav>

                    <% } else if ( cardArticleStore.page == 1 && cardArticleStore.totalPages == 1 ) {  %>

                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end align-items-center my-3 pe-5">
                      
                            <li class="page-item disabled"><a class="page-link" href="?page=1"> <i class="bi bi-arrow-bar-left"></i> 1 </a></li>
                            <li class="page-item disabled"><a class="page-link" href="?page=<%= cardArticleStore.prevPage %>">Prev</a></li>
                            <li class="page-item active"><a class="page-link disabled href="?page=<%= cardArticleStore.page %>"><%= cardArticleStore.page %></a></li>
                            <li class="page-item disabled"><a class="page-link" href="?page=<%= cardArticleStore.nextPage %>">Next</a></li>
                            <li class="page-item disabled"><a class="page-link" href="?page=<%= cardArticleStore.totalPages %>"><%= cardArticleStore.totalPages %> <i class="bi bi-arrow-bar-right"></i> </a></li>
                    
                        </ul>
                      </nav>

                    <% } else if ( cardArticleStore.page !== cardArticleStore.totalPages && cardArticleStore.page !== 1 ) {  %>

                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end align-items-center my-3 pe-5">
                            <li class="page-item"><a class="page-link" href="?page=1"><i class="bi bi-arrow-bar-left"></i>1</a></li>
                            <li class="page-item"><a class="page-link" href="?page=<%= cardArticleStore.prevPage %>">Prev</a></li>
                            <li class="page-item active"><a class="page-link" href="?page=<%= cardArticleStore.page %>"><%= cardArticleStore.page %></a></li>
                            <li class="page-item"><a class="page-link" href="?page=<%= cardArticleStore.nextPage %>">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page=<%= cardArticleStore.totalPages %>"> <%= cardArticleStore.totalPages %> <i class="bi bi-arrow-bar-right"></i> </a></li>
                        </ul>
                      </nav>  


                    <% } else if ( cardArticleStore.page == cardArticleStore.totalPages ) {  %> 

                      <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end align-items-center my-3 pe-5">
                            <li class="page-item"><a class="page-link" href="?page=1"> <i class="bi bi-arrow-bar-left"></i>1</a></li>
                            <li class="page-item"><a class="page-link" href="?page=<%= cardArticleStore.prevPage %>">Prev</a></li>
                            <li class="page-item active"><a class="page-link" href="?page=<%= cardArticleStore.page %>"><%= cardArticleStore.page %></a></li>
                            <li class="page-item disabled"><a class="page-link" href="?page=<%= cardArticleStore.nextPage %>">Next</a></li>
                            <li class="page-item disabled"><a class="page-link" href="?page=<%= cardArticleStore.totalPages %>"> <%= cardArticleStore.totalPages %> <i class="bi bi-arrow-bar-right"></i> </a></li>
                        </ul>
                      </nav>

                    <% }; %>   

                <% }; %>

              </div>   

        </div>
      </div>
    </div>
      
      <%- include('../partials/footer.ejs') %> 
      
    </main>
  
    
      <%- include('../partials/scripts.ejs') %>

      <!--  este script controla el estado de los themas. -->
      <%- include('../partials/scriptsThemes.ejs') %>
    

    <% if ( user !== undefined ) { %>
    <script>

        const linkHeart = document.querySelectorAll('.linkHeart')
        const Heart = document.querySelectorAll('.Heart');//esto es el icono que esta dentro del div
        const containAlert = document.querySelector('.containAlert');
        let btnClose;

        for (let i = 0; i < linkHeart.length; i++) {
        const starData = linkHeart[i];
        const heartIcon = Heart[i];

        starData.addEventListener('click', ()=>{
         
          efecto()
          setInterval( normalHeart, 2000)
          
          console.log(starData.childNodes)
       
          const user = starData.childNodes[0].value; //usuario que esta logeado
          const userTienda = starData.childNodes[2].value; //usuario dueño de la tienda
          console.log("user :",user);
          console.log("idStore :",userTienda);
        
          const datos = {
              user : user,
              userOfStore : userTienda
          };

          fetch('/account/myfavorite-stores', {

            method: "post",
            body: JSON.stringify(datos),
            headers: {"content-type" : "application/json"}

          })
            .then(response =>response.json() )
            .then( jsonx => {
              console.log(jsonx)
              const type = jsonx.type;
              const message = jsonx.message; //{type: 'Ok', message: 'Cuenta seguida'} 
              // hay tres valores en Type = "Save", "Following", "Error"
              if (type === "Save"){
                closeAlert();
              
                containAlert.innerHTML = `<div class="container auctionsMessages my-2 d-flex justify-content-center">
                                            <div class="alert alert-success alert-dismissible fade show auctionsMessagesSon" role="alert" style="opacity : 0.8">
                                                <strong class="me-1"><i class="bi bi-check-circle-fill me-2"></i> ${message}. </strong> 
                                                <button type="button" class="btn-close invisible" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                          </div>`
                btnClose = document.querySelector('.btn-close');

              } else if (type === "Following") {
                closeAlert();
                btnClose = document.querySelector('.btn-close');
                containAlert.innerHTML = `<div class="container auctionsMessages my-2 d-flex justify-content-center">
                                            <div class="alert alert-info alert-dismissible fade show auctionsMessagesSon" role="alert" style="opacity : 0.8">
                                                <strong class="me-1"><i class="bi bi-check-circle-fill me-2"></i> ${message}. </strong> 
                                                <button type="button" class="btn-close invisible" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                          </div>`
                btnClose = document.querySelector('.btn-close');
              } else {
                btnClose = document.querySelector('.btn-close');
                containAlert.innerHTML = `<div class="container-fluid auctionsMessages my-2 d-flex justify-content-center">
                                            <div class="alert alert-danger alert-dismissible fade show auctionsMessagesSon" role="alert" style="opacity : 0.8">
                                                <strong class="me-1"><i class="bi bi-check-circle-fill me-2"></i> ${message}. </strong> 
                                                <button type="button" class="btn-close invisible" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                          </div>`
                btnClose = document.querySelector('.btn-close');

              }
            
            })
            .catch( err => console.log(err));

            
            function closeAlert(){
              
              setTimeout(()=>{
                  btnClose.click();
              }, 3000);

            }


              //efectos
              function efecto(){
              heartIcon.classList.remove('bi-bookmark-check');
              heartIcon.classList.add('bi-bookmark-check-fill')
              }//<i class="bi bi-bookmark-check"></i>
            
              function normalHeart(){
              heartIcon.classList.add('bi-bookmark-check');
              heartIcon.classList.remove('bi-bookmark-check-fill')
              }

        });

        
      }

    </script>
    <% } %>


 
<script>
    //script para rotar las card

    let rotar = document.querySelectorAll('.rotar');
    let card = document.querySelectorAll('.cardStore');

    for (let i = 0; i < rotar.length; i++) {
        const rot = rotar[i];

        rot.addEventListener('click', ()=>{

         card[i].classList.add('flipped')

        })
        
    }

    for (let i = 0; i < card.length; i++) {
        const tarjeta = card[i];
                                      
            tarjeta.addEventListener('mousedown', ()=>{
            card[i].classList.remove('flipped')
        }) 
    }

    
</script>


</body>
</html>

