<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet - Backgrounds</title>
</head>
<style>
    body {
        background-color: white;
    }

    .close{
        display: none;
    }

</style>
<body>
    <main>
        <%- include('../partials/navi-admin.ejs') %>
     
        

        <% if (userAdmin) { %> 

            <% if (msgBackgroundSave) { %>
                <%- include('../alertAdmin/msgBackgroundSave.ejs') %>
            <% } %>

            <% if (msgBackgroundUpdate) { %>
                <%- include('../alertAdmin/msgBackgroundUpdate.ejs') %>
            <% } %>

            <% if (msgBackgroundDelete) { %>
                <%- include('../alertAdmin/msgBackgroundDelete.ejs') %>
            <% } %>

            <% if (adminError) { %>
                <%- include('../alertAdmin/adminError.ejs') %>
            <% } %>
            
            
            
            <div class="containerPlace">
                    <div class="container-fluid d-flex justify-content-end p-1" style="background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
                        <span class=" me-5 p-0" style="color:gray; font-weight: 500;">Backgrounds</span>
                    </div>
            </div>

            
            <div class="containerBanners">
                    <div class="row m-0 p-0">
                        <div class="col-lg-4 p-0">
                            
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Create Background
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body px-0">

                                        <div class="containerAddBanner p-0">
                                            <div class="card px-0" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                            
                                                <div class="card-body my-2">
                                                    <form action="/admin/background/create" method="POST" id="formCreate" enctype="multipart/form-data"
                                                                    accept=".jpg, .jpeg, .png">
                        
                                                                    <div class="card-header">+ Add to Background</div>
                                                                    <% if (userAdmin) { %>
                                                                    <div class="input-group my-2">
                                                                        <span class="input-group-text">Type Background</span>
                                                                        <select class="form-control" name="typeBackground" id="seletType">
                                                                            <option value="SignIn">SignIn</option>
                                                                            <option value="SignUp">SignUp</option>
                                                                        </select>
                                                                    </div> 
                                                                 
                                                                    <div class="form-group d-flex justify-content-start my-2 border">
                                                                        <div class="add_photo me-1" id="add_photo">
                                                                            <span><img src="/img/addPhoto.png" class="my-2 mx-1" style="width: 60px;"></span>
                                                                        </div>
                                                                        <span class="mx-1"> <small>
                                                                                        <ul class="my-1 mx-4 p-0 text-secondary">
                                                                                                <li>un Banner con formato JPG.</li>
                                                                                                <li>Peso max. 3 MB.</li>
                                                                                                <li>Resolución 1600p x 1200p.</li>
                                                                                        </ul> 
                                                                                            </small> </span>
                                                                        <input type="file" name=fileImg class="inpFile form-control" required>
                                                                    </div>
                                                                    <div class="form-group d-flex justify-content-center my-2 border" id="newShowBanner">
                                                                        <!-- contenedor con img dinamica -->

                                                                    </div>
                                                                    <% }; %>               
                                
                                                                    <div class="form-group my-2">
                                                                        <button type="submit" class="btn btn-primary form-control my-3" id="btnCreate"> Add New Background </button>
                                                                        <button class="btn btn-primary form-control invisibleBtn my-3" type="button" id="btnCreateLoading" disabled>
                                                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                            Uploading...
                                                                        </button>
                                                                    </div>
                        
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                            
                            
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Update Background
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body px-0">

                                            <div class="containerAddBanner p-0">
                                                <div class="card p-0 m-0" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                                
                                                    <div class="card-body my-2">
                                                        <% if (currentBackgrounds.length !== 0) { %> 

                                                        <form action="/admin/background/update" method="POST" id="formUpdate" enctype="multipart/form-data" accept=".jpg, .jpeg, .png">
                        
                                                                        
                                                            <div class="card-header">Select Code-Background and Update</div>
                                                            <div class="form-group my-2">
                                                                
                                                                <select name="id" class="form-control" id="selectUpdate">
                                                                    <option value="select">Select it</option>
                                                                    <% currentBackgrounds.forEach((ele)=>{ %>
                                                                    <option value="<%= ele._id %>"><%= ele.codeBackground %></option>
                                                                    <% }) %>                                                             
                                                                                                                                                        
                                                                </select>
                                                            </div>
                                                            
                                                            <div class="card-header">Current Background </div>
                                                            <div class="input-group my-2">
                                                                <span class="input-group-text">Type</span>
                                                                <input type="text" class="form-control typeBanner" readonly>
                                                            </div>
                                                            <div class="form-group d-flex justify-content-center my-2 border" id="showCurrentBanner">
                                                                <!-- contenedor con img dinamica -->
                                                            </div>
                                              
                                                            <div class="form-group d-flex justify-content-start my-2 border">
                                                                <div class="add_photo me-1" id="add_photoUpdate">
                                                                    <span><img src="/img/addPhoto.png" class="my-2 mx-1" style="width: 60px;"></span>
                                                                </div>
                                                                <span class="mx-1"> <small>
                                                                                <ul class="my-1 mx-4 p-0 text-secondary">
                                                                                        <li>Imagen con formato JPG.</li>
                                                                                        <li>Peso max. 3 MB.</li>
                                                                                        <li>Resolución 1600p x 400p.</li>
                                                                                </ul> 
                                                                                    </small> </span>
                                                                <input type="file" name="fileImg" class="inpFileUpdate form-control" required>
                                                            </div>
                                                            <div class="form-group d-flex justify-content-center my-2 border" id="updateShowBanner">
                                                                <!-- contenedor con img dinamica -->
                                                            </div>
                                                                                
                                                            <div class="form-group my-2">
                                                                <button type="submit" class="btn btn-secondary form-control my-3" id="btnUpdate"> Update Background </button>
                                                                <button class="btn btn-secondary form-control invisibleBtnEdit my-3" type="button" id="btnUpdateLoading" disabled>
                                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                    Uploading...
                                                                </button>
                                                            </div>
                            
                                                        </form>

                                                        <% } else { %>
                                                            <div class="alert alert-info">
                                                                <span> <strong>NO hay Background Disponibles, Apresurese y coloque uno.</strong></span>
                                                            </div>
                                                        <% }; %>    
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>    


                        </div>

                        <div class="col-lg-8 p-0">
                            <div class="containerGeneralBanner p-0">
                                <div class="card px-0" style="border-top-left-radius: 0; border-top-right-radius: 0;">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs">
                                         
                                            <li class="nav-item">
                                                <a class="nav-link bannerDelete active " style="cursor: pointer;"> <i class="bi bi-binoculars ms-1"></i> Background Current</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link bannerUpdate " style="cursor: pointer;"> <i class="bi bi-door-open ms-1"></i> Background SignIn </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link signUpDisabled " style="cursor: pointer;"> <i class="bi bi-journal-check ms-1"></i> Background SignUp </a>
                                            </li>
                                    
                                        </ul>
                                    </div>
                                    <div class="card-body">

                                        <div class="containerMain" style="height: auto;">

                                            <% if (currentBackgrounds.length !== 0) { %>
                                                                                    

                                            <div class="containerBannerDelete border">
                                                
                                                <% currentBackgrounds.forEach((ele, i)=>{ %>
                                                    <div class="contenBanner m-2">
                                                        <div class="row m-0">
                                                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 p-0 border-bottom border-secondary">
                                                                <div class="contentBackground" style="position: relative;">
                                                                    <img src="<%= ele.url %>" alt="banner" class="me-1" style="width: 300px;">
                                                                    <span class="rounded-2 px-2" style="background-color: rgba(240, 248, 255, 0.7); position: absolute; bottom: 5px; left: 10px; "><%= ele.codeBackground %></span>
                                                                </div>

                                                            </div>
                                                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 p-0 m-0 border-bottom border-secondary">
                                                                <div class="contentDetailButton alert alert-secondary border d-flex justify-content-between m-0 py-3" style="height: 100%;">
                                                                    <% let date = ele.createdAt %>
                                                                    <% let dia = date.getDate() %><% let mes = date.getMonth() + 1 %><% let anio = date.getFullYear() %>
                                                                    <%let publicate = `${dia}-${mes}-${anio}` %>
                                                                    <div class="mb-0" style="height: 100%;">
                                                                       
                                                                        <% if (ele.typeBackground === 'SignIn'){ %>
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %> <i class="bi bi-door-open ms-2"></i> </span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>
                                                                                                                                                      
                                                                        <% } else { %>
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %> <i class="bi bi-journal-check ms-2"></i> </span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>   
                                                                        <% }; %>        
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% }); %>
                                    

                                            </div>

                                            <div class="containerBannerUpdate close border">

                                                <% disabledBackgroundsSignIn.forEach((ele, i)=>{ %>
                                                    <div class="contenBanner m-2">
                                                        <div class="row m-0">
                                                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 p-0 border-bottom border-secondary">
                                                                <div class="contentBackground" style="position: relative;">
                                                                    <img src="<%= ele.url %>" alt="banner" class="me-1" style="width: 300px;">
                                                                    <span class="rounded-2 px-2" style="background-color: rgba(240, 248, 255, 0.7); position: absolute; bottom: 5px; left: 10px; "><%= ele.codeBackground %></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 p-0 m-0 border-bottom border-secondary">
                                                                <div class="contentDetailButton alert alert-success d-flex justify-content-between m-0" style="height: 100%;">
                                                                    <% let date = ele.createdAt %>
                                                                    <% let dia = date.getDate() %><% let mes = date.getMonth() + 1 %><% let anio = date.getFullYear() %>
                                                                    <%let publicate = `${dia}-${mes}-${anio}` %>
                                                                    <div class="mb-0" style="height: 100%;">
                                                                        
                                                                        <% if (ele.active === false){ %>
                                                                           
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %></span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>
                                                                                                                                                       
                                                                        <% }; %>
                                                                
                                                                        
                                                                    </div>
                                                                    <div class="contenButton d-flex align-items-center">

                                                                        <a href="/admin/background/active/<%= ele.public_id %>/<%= ele.typeBackground %>" class="mx-2"><button class="btn btn-success"> Active</button></a>    
                                                                        <a href="/admin/background/delete/<%= ele.public_id %>" class="mx-2"><button class="btn btn-danger"> Delete</button></a>
                                                                                         
                                                                    </div>  
                                                                    
            
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% }); %>

                                            </div>

                                            <div class="containerSignUpDisabled close border">

                                                <% disabledBackgroundsSignUp.forEach((ele, i)=>{ %>
                                                    <div class="contenBanner m-2">
                                                        <div class="row m-0">
                                                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 p-0 border-bottom border-secondary">
                                                                <div class="contentBackground" style="position: relative;">
                                                                    <img src="<%= ele.url %>" alt="banner" class="me-1" style="width: 300px;">
                                                                    <span class="rounded-2 px-2" style="background-color: rgba(240, 248, 255, 0.7); position: absolute; bottom: 5px; left: 10px; "><%= ele.codeBackground %></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 p-0 m-0 border-bottom border-secondary">
                                                                <div class="contentDetailButton alert alert-info d-flex justify-content-between m-0" style="height: 100%;">
                                                                    <% let date = ele.createdAt %>
                                                                    <% let dia = date.getDate() %><% let mes = date.getMonth() + 1 %><% let anio = date.getFullYear() %>
                                                                    <%let publicate = `${dia}-${mes}-${anio}` %>
                                                                    <div class="mb-0" style="height: 100%;">
                                                                        
                                                                        <% if (ele.active === false){ %>
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %></span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>                                                                  
                                                                        <% }; %>
                                                                
                                                                        
                                                                    </div>
                                                                    <div class="contenButton d-flex align-items-center">

                                                                        <a href="/admin/background/active/<%= ele.public_id %>/<%= ele.typeBackground %>" class="mx-2"><button class="btn btn-success"> Active</button></a>    
                                                                        <a href="/admin/background/delete/<%= ele.public_id %>" class="mx-2"><button class="btn btn-danger"> Delete</button></a>
                                                                                         
                                                                    </div>  
                                                                    
            
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% }); %>

                                            </div>


                                            <% } else { %>
                                                
                                            <div class="containerBannerDelete border">
                                                                                             
                                                <% currentBackgrounds.forEach((ele, i)=>{ %>
                                                    <div class="contenBanner m-2">
                                                        <div class="row m-0">
                                                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 p-0 border-bottom border-secondary">
                                                                <div class="contentBackground" style="position: relative;">
                                                                    <img src="<%= ele.url %>" alt="banner" class="me-1" style="width: 300px;">
                                                                    <span class="rounded-2 px-2" style="background-color: rgba(240, 248, 255, 0.7); position: absolute; bottom: 5px; left: 10px; "><%= ele.codeBackground %></span>
                                                                </div>

                                                            </div>
                                                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 p-0 m-0 border-bottom border-secondary">
                                                                <div class="contentDetailButton alert alert-secondary border d-flex justify-content-between m-0 py-3" style="height: 100%;">
                                                                    <% let date = ele.createdAt %>
                                                                    <% let dia = date.getDate() %><% let mes = date.getMonth() + 1 %><% let anio = date.getFullYear() %>
                                                                    <%let publicate = `${dia}-${mes}-${anio}` %>
                                                                    <div class="mb-0" style="height: 100%;">
                                                                        
                                                                        <% if (ele.typeBackground === 'SignIn'){ %>
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %> <i class="bi bi-door-open ms-2"></i> </span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>
                                                                                                                                                        
                                                                        <% } else { %>
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %> <i class="bi bi-journal-check ms-2"></i> </span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>   
                                                                        <% }; %>        
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% }); %> 
                                    

                                            </div>

                                            <div class="containerBannerUpdate close border">
                                               
                                                <% disabledBackgroundsSignIn.forEach((ele, i)=>{ %>
                                                    <div class="contenBanner m-2">
                                                        <div class="row m-0">
                                                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 p-0 border-bottom border-secondary">
                                                                <div class="contentBackground" style="position: relative;">
                                                                    <img src="<%= ele.url %>" alt="banner" class="me-1" style="width: 300px;">
                                                                    <span class="rounded-2 px-2" style="background-color: rgba(240, 248, 255, 0.7); position: absolute; bottom: 5px; left: 10px; "><%= ele.codeBackground %></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 p-0 m-0 border-bottom border-secondary">
                                                                <div class="contentDetailButton alert alert-success d-flex justify-content-between m-0" style="height: 100%;">
                                                                    <% let date = ele.createdAt %>
                                                                    <% let dia = date.getDate() %><% let mes = date.getMonth() + 1 %><% let anio = date.getFullYear() %>
                                                                    <%let publicate = `${dia}-${mes}-${anio}` %>
                                                                    <div class="mb-0" style="height: 100%;">
                                                                        
                                                                        <% if (ele.active === false){ %>
                                                                            
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %></span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>
                                                                                                                                                        
                                                                        <% }; %>
                                                                
                                                                        
                                                                    </div>
                                                                    <div class="contenButton d-flex align-items-center">

                                                                        <a href="/admin/background/active/<%= ele.public_id %>/<%= ele.typeBackground %>" class="mx-2"><button class="btn btn-success"> Active</button></a>    
                                                                        <a href="/admin/background/delete/<%= ele.public_id %>" class="mx-2"><button class="btn btn-danger"> Delete</button></a>
                                                                                            
                                                                    </div>  
                                                                    
            
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% }); %>

                                            </div>

                                            <div class="containerSignUpDisabled close border">
 
                                                <% disabledBackgroundsSignUp.forEach((ele, i)=>{ %>
                                                    <div class="contenBanner m-2">
                                                        <div class="row m-0">
                                                            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 p-0 border-bottom border-secondary">
                                                                <div class="contentBackground" style="position: relative;">
                                                                    <img src="<%= ele.url %>" alt="banner" class="me-1" style="width: 300px;">
                                                                    <span class="rounded-2 px-2" style="background-color: rgba(240, 248, 255, 0.7); position: absolute; bottom: 5px; left: 10px; "><%= ele.codeBackground %></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 p-0 m-0 border-bottom border-secondary">
                                                                <div class="contentDetailButton alert alert-info d-flex justify-content-between m-0" style="height: 100%;">
                                                                    <% let date = ele.createdAt %>
                                                                    <% let dia = date.getDate() %><% let mes = date.getMonth() + 1 %><% let anio = date.getFullYear() %>
                                                                    <%let publicate = `${dia}-${mes}-${anio}` %>
                                                                    <div class="mb-0" style="height: 100%;">
                                                                        
                                                                        <% if (ele.active === false){ %>
                                                                            <div class="d-flex flex-column ">
                                                                                <span class="mx-2 my-1">Type: <%= ele.typeBackground %></span>
                                                                                <span class="mx-2 my-1">Admin: <%= ele.adminName %> </span>
                                                                                <span class="mx-2 my-1">Public : <%= publicate %></span>
                                                                            </div>                                                                  
                                                                        <% }; %>
                                                                
                                                                        
                                                                    </div>
                                                                    <div class="contenButton d-flex align-items-center">

                                                                        <a href="/admin/background/active/<%= ele.public_id %>/<%= ele.typeBackground %>" class="mx-2"><button class="btn btn-success"> Active</button></a>    
                                                                        <a href="/admin/background/delete/<%= ele.public_id %>" class="mx-2"><button class="btn btn-danger"> Delete</button></a>
                                                                                            
                                                                    </div>  
                                                                    
            
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                <% }); %> 

                                            </div>                                                
                                                
                                            <% }; %>    

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
            
        <% } else { %>

            <div class="container-fluid d-flex justify-content-center p-3" style="height: 90%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
    
                <%- include('../partials/adminNoLogin.ejs') %>
            
            </div>
            
        <% }; %>    
       

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


<script>
    const add_photo = document.getElementById('add_photo');
    const add_photoUpdate = document.getElementById('add_photoUpdate'); 
    const inpFile = document.querySelector('.inpFile');
    const inpFileUpdate  = document.querySelector('.inpFileUpdate');
    const newShowBanner = document.getElementById('newShowBanner');
    const updateShowBanner = document.getElementById('updateShowBanner');
    const carouselInner = document.querySelector('#carouselIDBanner'); 

    const btnCreate = document.getElementById('btnCreate'); 
    const btnCreateLoading = document.getElementById('btnCreateLoading');

    const btnUpdate = document.getElementById('btnUpdate'); 
    const btnUpdateLoading = document.getElementById('btnUpdateLoading');

    add_photo.addEventListener('click', ()=>{
        inpFile.click();

        console.log(inpFile.files);
    });

    inpFile.addEventListener('change', ()=>{
        let archivo = inpFile.files;
        console.log("arhivo:", archivo);

        if (!archivo || archivo.length === 0 ){
            console.log("aqui no hay nada")
        };

        for (let i = 0; i < archivo.length; i++) {
                    const file = archivo[i];
                    console.log("esto es el file", file)
                    let objectURL = URL.createObjectURL(file);
                    console.log("esto es el objectURL",objectURL)


                    newShowBanner.innerHTML = ` <div class="contententShowBanner">
                                                    <img src="${objectURL}" alt="un banner" style="width: 100%;">
                                                </div>
                                            `                                             

        };

    });




btnCreate.addEventListener('click', ()=>{

    //console.log(inpFile.files)

    if (inpFile.files.length !== 0){
        //console.log("hay informacion en el inpFile debo hacer el efecto")
        btnCreate.classList.add('invisibleBtn');
        btnCreateLoading.classList.remove('invisibleBtn');
    } else {
        //console.log("no hay nada y me quedo quieto")
        btnCreateLoading.classList.add('invisibleBtn');
        btnCreate.classList.remove('invisibleBtn');
    } 

});

//muestra de imagen en caso de actualizacion
add_photoUpdate.addEventListener('click', ()=>{
        inpFileUpdate.click();

        console.log(inpFileUpdate.files);
});

inpFileUpdate.addEventListener('change', ()=>{
        let archivo = inpFileUpdate.files;
        console.log("arhivo:", archivo);

        if (!archivo || archivo.length === 0 ){
            console.log("aqui no hay nada")
        };

        for (let i = 0; i < archivo.length; i++) {
                    const file = archivo[i];
                    console.log("esto es el file", file)
                    let objectURL = URL.createObjectURL(file);
                    console.log("esto es el objectURL",objectURL)


                    updateShowBanner.innerHTML = ` <div class="contententShowBanner">
                                                    <img src="${objectURL}" alt="un banner" style="width: 100%;">
                                                </div>
                                            `                                             

        };

});

btnUpdate.addEventListener('click', ()=>{
    console.log("inpFileUpdate.files.length : ", inpFileUpdate.files.length)


    if (inpFileUpdate.files.length !== 0){
        console.log("hay informacion en el input debo hacer el efecto")
        btnUpdate.classList.add('invisibleBtnEdit');
        btnUpdateLoading.classList.remove('invisibleBtnEdit');
    } else {
        console.log("no hay nada y me quedo quieto")
        btnUpdateLoading.classList.add('invisibleBtnEdit');
        btnUpdate.classList.remove('invisibleBtnEdit');
    } 

});    

</script>

<script> 


    const bannerDelete = document.querySelector('.bannerDelete');
    const signUpDisabled = document.querySelector('.signUpDisabled');
    const bannerUpdate = document.querySelector('.bannerUpdate');
    const containerBannerDelete = document.querySelector('.containerBannerDelete');
    const containerSignUpDisabled = document.querySelector('.containerSignUpDisabled');
    const containerBannerUpdate = document.querySelector('.containerBannerUpdate');
    //const containerShowBanner = esta declarado arriba
        

    bannerDelete.addEventListener('click', ()=>{

        containerBannerDelete.classList.remove('close');
        containerBannerUpdate.classList.add('close');
        containerSignUpDisabled.classList.add('close');

        bannerDelete.classList.add('active')
        bannerUpdate.classList.remove('active');
        signUpDisabled.classList.remove('active')
    });

    bannerUpdate.addEventListener('click', ()=>{

        containerBannerDelete.classList.add('close');
        containerBannerUpdate.classList.remove('close');
        containerSignUpDisabled.classList.add('close');

        bannerDelete.classList.remove('active')
        bannerUpdate.classList.add('active');
        signUpDisabled.classList.remove('active')
    })

    signUpDisabled.addEventListener('click', ()=>{

        containerBannerDelete.classList.add('close');
        containerBannerUpdate.classList.add('close');
        containerSignUpDisabled.classList.remove('close');

        bannerDelete.classList.remove('active')
        bannerUpdate.classList.remove('active');
        signUpDisabled.classList.add('active')
    })

</script>

<script>
    let seletType = document.getElementById('seletType');
    let nInvoice = document.querySelector('.nInvoice');
    let customerName = document.querySelector('.customerName');
    let timeInDays = document.querySelector('.timeInDays');
    let endPublic = document.querySelector('.endPublic');
    let btnSearch = document.querySelector('.btnSearch');
    
    seletType.addEventListener('change', ()=>{
       
        const type = seletType.value;
        if (type === 'customer'){

            nInvoice.removeAttribute('readonly');
            btnSearch.removeAttribute('disabled');

        } else {

            nInvoice.setAttribute('readonly', '');
            btnSearch.setAttribute('disabled', '');
            nInvoice.value ="";
            customerName.value ="";
            timeInDays.value = "";
            endPublic.value = "";

        }
    })
    
    btnSearch.addEventListener('click', ()=>{
        const searchInvoice = nInvoice.value
        
        const dato = {
            invoice : searchInvoice
        };

        fetch('/admin/search-invoice-marketing/banner', {

        method: "post",
        body: JSON.stringify(dato),
        headers: {"content-type" : "application/json"}

        })
        .then(response =>response.json() )
        .then( jsonxInvoice =>{
            console.log("jsonxInvoice", jsonxInvoice)
            
            if (jsonxInvoice.length !==0){

                const customerV = jsonxInvoice[0].receptorName;
                const timeDaysV = jsonxInvoice[0].timeDays;
                const endPublicV = jsonxInvoice[0].endPublic;

                customerName.value =  customerV
                timeInDays.value = timeDaysV
                endPublic.value = endPublicV

            } else {

                customerName.value =  ""
                timeInDays.value = ""
                endPublic.value = ""
            }



            })
        .catch( err => console.log(err));
            })

</script>

<script>
    let selectUpdate = document.querySelector('#selectUpdate');
    let typeBanner = document.querySelector('.typeBanner');
    let showCurrentBanner = document.getElementById('showCurrentBanner');
    
    selectUpdate.addEventListener('change', ()=>{
        const idBanner = selectUpdate.value;

        console.log("idBanner", idBanner);

        if (idBanner === "select" ){
        //limpiar todo 
        } 

        const dato = {
                id : idBanner
        };

    fetch('/admin/background/selectID', {

    method: "post",
    body: JSON.stringify(dato),
    headers: {"content-type" : "application/json"}

    })
    .then(response =>response.json() )
    .then( seletTitle =>{
        
        console.log("seletTitle :", seletTitle)     
        const type = seletTitle.typeBackground;
        const img = seletTitle.url;
        typeBanner.value = type;
        showCurrentBanner.innerHTML =  `<img src="${img}" alt="" style="width : 100%">`
 
    
    })
    .catch( err => console.log(err));

    })
</script>

</body>
</html>


