<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Blissenet - Pool Compras Directas</title>
</head>
<style>
    body {
        background-color: white;
    }

    .open{
        display: block;
    }

    .closed{
        display: none !important;
    }

    .leyend{
        width: 18px;
        height: 18px;
        display: inline-block;
    }
  
</style>
<body>
    <main>
        <%- include('../partials/navi-admin.ejs') %>

        <% if (userAdmin) { %> 

            <% if (msgOrdersTakenFinded) { %>
                <%- include('../alertAdmin/msgOrdersTakenFinded.ejs') %>
            <% }; %>     

        
       <div class="containerWindow">
            
            <div class="containerNewDay">
                <div class="row m-0 p-0">
                
                    <div class="col-lg-12 p-0">
                        <div class="container-fluid d-flex justify-content-between align-items-center p-1" style="background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
                            
                                
                                <div class="container" style="width: 70%;">
                   
                                        <form action="/admin/sala/contactos" method="post" class="d-flex">
                    
                                            <input type="date" name="dateForm" class="form-control me-1" style="width: 310px;">
                                            <input class="form-control me-2" type="search" name="searcher"  placeholder="Buscar por: Depart & Banks" aria-label="Search">
                                            <select name="selectSearcher"  class="form-control border border-success" style="width: 300px; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                                <option value="Date">Date </option>
                                                <option value="Departs">Departs </option>
                                                <option value="Banks">Banks</option>
                                            </select>
                                            <button class="btn btn-outline-success" type="submit" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Search</button>
                                           
                                        
                                        </form>
                                       
                                </div>
                                <div>
                                    <span class=" me-5 p-0" style="color:gray; font-weight: 500;"> Pool Contactos</span>
                                </div>

                        </div>        
                            
                        <div class="card-body">
    
                                    <div class="containerMain" style="height: auto;">
    
                                        <div class="contentUsers" id="contentUsers">
    
                                            <div class="row border d-flex justify-content-between align-items-start my-2 p-2">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    
                                                    <div class="contentTitleRepor d-flex align-items-center justify-content-between mb-1">
                                                        <% if (searchCount) { %>
                                                        <p style="font-size: 16px;" class="m-0 p-0 px-2" style="color: black; border-radius: 0;">
                                                           Datos encontrados : (<%= searchCount %>) 
                                                        </p>
                                                        <% } %>
                                                        <span class="p-1 d-flex">
                                                            <p class="p-0 m-0 displayCount" style="width: 50px; height: 100%; font-size: 22px;" >0</p>
                                                            <button class="btn btn-primary mx-1 px-2 py-1 shadow" id="ordersTaken"> Orders Taken </button>
                                                        </span>
                                                    </div>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th><th>Order ID</th><th>Depart</th><th>Title</th><th>Bank</th><th>Action</th>
                                                            </tr>    
                                                        </thead>

                                                          
                                                        <tbody>

                                                            <% if (searchToProcess) { %>
                                                                <% searchToProcess.forEach((ele)=>{ %>
                                                                    <tr>
                                                                        <td> <%= ele.dates %> </td> <td> <%= ele._id %> </td><td> <%= ele.department %> </td><td> <%= ele.title %> </td><td> <%= ele.bank %> </td><td><input type="checkbox" class="form-check-input checkAll" value="<%= ele._id %>" name="algo"></td>
                                                                    </tr>
                                                                <% }) %>
                                                            <% } %> 
                                                                                                                        
                                                        </tbody>
                                                        <tfoot>

                                                        </tfoot>
                                                    
                                                    </table>
                                                        
                                                </div>
                                            </div>
                                                
                                        </div>
                                        
                                    </div>
                                    
                        </div>
                           
                    </div>

                </div>
            </div>

            
       </div>

       <% } else { %>

        <div class="container-fluid d-flex justify-content-center p-3" style="height: 90%; width: 100%; background-color:  rgb(243, 238, 238); box-shadow: 1px 1px 5px 1px rgb(99, 98, 98);  border-top: 2px ridge  rgb(243, 238, 238);">
    
            <%- include('../partials/adminNoLogin.ejs') %>
        
        </div>
                       
       <% }; %>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- script contador de checkbox -->
    <script>

        let checkAll = document.querySelectorAll('.checkAll');
        let displayCount = document.querySelector('.displayCount');
        let count = 0;

        for (let i = 0; i < checkAll.length; i++) {
            const element = checkAll[i];
            
            element.addEventListener("change", function(){
                
                //console.log(element.checked);

                if (element.checked == true){
                    count ++
                    //console.log(count);
                    displayCount.innerText = count;
                } else {
                    count --
                    //console.log(count);
                    displayCount.innerText = count;
                }
            })
        }

        
        //este bloque es para enviar la data al servidor de las ordenes tomadas pro el adminUser
        let ordersTaken = document.getElementById('ordersTaken');
        let ordersArray = [];

        ordersTaken.addEventListener('click', function(){

            for (let i = 0; i < checkAll.length; i++) {
                const ele = checkAll[i];
                
                if (ele.checked === true){
                    console.log(ele.value);
                    ordersArray.push(ele.value);
                }
                
            }

            console.log("Aqui el array : ", ordersArray);

            if (ordersArray.length !==0){

                const datos = {
                orders : ordersArray,
                };
            
                fetch('/admin/sala/contactos/OrdersTaken', {

                method: "post",
                body: JSON.stringify(datos),
                headers: {"content-type" : "application/json"}

                })
                    .then(response =>response.json() )
                    .then( jsonx => {
                       console.log(jsonx);
                       location.reload();                                   
                
                    })
                    .catch( err => console.log(err));

            }    
        
        });
        

        


    </script>

   

</body>
</html>

